@import 'proto-ui.vusion/src/u-suggest-item.vue/module.css';

.root {
    position: relative;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 32px;
    padding: 0 12px;
}

.root:hover {
    background: #f5f7fa;
}

.root[selected] {
    background: $brand-primary;
}

.root[disabled] {
    color: #ccc;
    background: none;
}
