@extend;

.root {
    height: 100%;
    overflow: auto;
    background: $sidebar-background-color;
}

.root[size="small"] .group_head {
    height: 32px;
    line-height: 32px;
    font-size: 12px;
    /* background: transparent; */
    cursor: default;
}

.root[size="small"] .item {
    height: 32px;
    line-height: 32px;
}
