.root {
    user-select: none;
    background: var(--sidebar-background);
    height: 100%;
    overflow: auto;
    transition: all var(--transition-duration-base);
}

.root[size="small"] .group_head {
    height: var(--sidebar-item-height-small);
    line-height: var(--sidebar-item-height-small);
    font-size: 12px;
    /* background: transparent; */
    cursor: default;
}

.root[size="small"] .item {
    height: var(--sidebar-item-height-small);
    line-height: var(--sidebar-item-height-small);
}
