@extend;

.root .item:nth-child(1) { fill: $theme-dark-chart-color1; }
.root .item:nth-child(2) { fill: $theme-dark-chart-color2; }
.root .item:nth-child(3) { fill: $theme-dark-chart-color3; }
.root .item:nth-child(4) { fill: $theme-dark-chart-color4; }
.root .item:nth-child(5) { fill: $theme-dark-chart-color5; }
.root .item:nth-child(6) { fill: $theme-dark-chart-color6; }
.root .item:nth-child(7) { fill: $theme-dark-chart-color7; }
.root .item:nth-child(8) { fill: $theme-dark-chart-color8; }
.root .item:nth-child(9) { fill: $theme-dark-chart-color9; }
.root .item:nth-child(10) { fill: $theme-dark-chart-color10; }

