<div :class="$style.root" :readonly="readonly" :disabled="disabled" :color="currentColor || this.formItemVM && this.formItemVM.color"
    :focus="focused" :clearable="clearable && currentValue" :search="search"
    @click.self="!focused && focus()">
    <span :class="$style.baseline">b</span><!-- 用于基线对齐 -->
    <span :class="$style.placeholder">{{ currentValue ? '' : placeholder }}</span><!-- 兼容 IE9 -->
    <input ref="input" :class="$style.input" v-bind="$attrs" :value="currentValue"
        :placeholder="placeholder" v-focus="autofocus" :readonly="readonly || posternReadonly" :disabled="disabled"
        @input="onInput" @focus="onFocus" @blur="onBlur" v-on="listeners"
        @compositionstart="compositionInputing = true"
        @compositionend="onCompositionEnd">
    <slot></slot>
    <span :class="$style.clearable" v-if="clearable && currentValue" @click.stop="clear"></span>
    <span :class="$style.search" v-if="search" v-show="!clearable || !currentValue || search === 'left'" :alignment="search"></span>
</div>
