.root {}

.head {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: var(--navbar-height);
    background: white;
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.1);
    z-index: var(--z-index-layout);
}

.side {
    position: fixed;
    left: 0;
    bottom: 0;
    top: var(--navbar-height);
    width: var(--sidebar-width);
}

.main {
    position: fixed;
    bottom: 0;
    right: 0;
    top: var(--navbar-height);
    left: var(--sidebar-width);
    overflow: auto;
}

.content {
    min-width: 1110px;
    padding: 40px;
}

.root[demo] .head, .root[demo] .side, .root[demo] .main {
    position: absolute;
}
