<div :class="$style.root" :disabled="disabled">
    <div :class="$style.head" @click="parentVM.expandTrigger === 'click' && toggle()">
        <div :class="$style.title">
            <slot name="title">{{ title }}</slot>
        </div>
        <span
            :class="$style.expander"
            :expanded="currentExpanded"
            @click="parentVM.expandTrigger === 'click-expander' && ($event.stopPropagation(), toggle())"
        >
        </span>
        <span :class="$style.extra"><slot name="extra"></slot></span>
    </div>
    <transition
        @before-enter="beforeEnter"
        @enter="enter"
        @after-enter="afterEnter"
        @before-leave="beforeLeave"
        @leave="leave"
        @after-leave="afterLeave"
    >
        <div :class="$style.wrap" v-show="currentExpanded">
            <div :class="$style.content">
                <slot></slot>
            </div>
        </div>
    </transition>
</div>
