.root {
    position: relative;
}

.head {
    user-select: none;
    cursor: var(--cursor-pointer);
    padding: var(--collapse-item-head-padding);
    background: var(--collapse-item-head-background);
    line-height: var(--collapse-expander-size);
    overflow: hidden;
    transition: all var(--collapse-transition-duration) ease-in-out;
}

.expander {
    position: absolute;
    right: 12px;
    top: 12px;
    z-index: 1;
    width: var(--collapse-expander-size);
    height: var(--collapse-expander-size);
    line-height: var(--collapse-expander-size);
    font-size: var(--collapse-expander-font-size);
    text-align: center;
    transition: transform var(--collapse-transition-duration) ease-in-out;
}

.expander[expanded] {
    transform: rotate(90deg);
}

.expander::before {
    content: '▸';
}

.root[disabled] .expander {
    color: var(--collapse-expander-color-disabled);
}

.extra {
    float: right;
}

.wrap {
  transition: var(--collapse-transition-duration) height ease-in-out, var(--collapse-transition-duration) padding-top ease-in-out, var(--collapse-transition-duration) padding-bottom ease-in-out;
}

.wrap .content {
    padding: var(--collapse-item-head-padding);
}
