<div :class="$style.inputWrapper" :focus="startFocus || endFocus">
    <div
        :class="$style.header"
        @mouseenter="onMouseEnter"
        @mouseleave="showClearBtn = false">
        <input
            :class="$style.input"
            :placeholder="placeholder[0]"
            :value="currentValueStart"
            ref="input0"
            @input="event => currentValueStart = event.target.value"
            @blur="onStartBlur"
            @focus="onStartFocus">
        </input>
        <span :class="$style.rangeSeparator">{{rangeSeparator}}</span>
        <input
            :class="$style.input"
            :placeholder="placeholder[1]"
            :value="currentValueEnd"
            ref="input1"
            @input="event => currentValueEnd = event.target.value"
            @blur="onEndBlur"
            @focus="onEndFocus">
        </input>
        <span v-if="showClearBtn" @click="clearInput" :class="$style.delete"></span>
        <span v-else :class="$style.calendar"></span>
    </div>
    <div v-if="disabled || readonly" :class="$style.shade" :disabled="disabled" :readonly="readonly"></div>
</div>
