<div :class="$style.root" :disabled="disabled" :readonly="readonly">
    <div :class="$style.head">
        <span v-show="allowPre" :class="$style.left" @click="allowClick && addMonth(-1)"><u-icon name="arrow-left"></u-icon></span>
        <span @click="!isRangePicker && allowClick && onYearClick()">{{getYear(this.currentShowDate)}} 年 </span><span @click="!isRangePicker && allowClick && onMonthClick()" style="margin-left: 10px;">{{currentMonth + 1}} 月</span>
        <span v-show="allowNext" :class="$style.right" @click="allowClick && addMonth(1)"><u-icon name="arrow-right"></u-icon></span>
    </div>
    <table cellspacing="0" cellpadding="0" :class="$style.content">
        <thead><tr><th v-for="item in weekArr">{{item}}</th></tr></thead>
        <tbody>
            <tr v-for="dayRow in dayRowArr">
            <td v-for="item in dayRow" :class="$style.item" 
            :state="currentMonth === getMonth(item.date) ? '' : 'notcur'" 
            :selected="isSelected(item)"
            :today="isToday(item.date)"
            :disabled="disabled || item.disabled"
            :isBetween="isBetween(item.date)"
            @click="!disabled && !item.disabled && onDateClick(item.date)"
            @mouseover="hoverDate = item.date">
            <div>
                <span>{{item.showDate}}</span>
            </div>
            </td>
            </tr>
        </tbody>
    </table>
</div>
