@extend;

.root {
    height: 64px;
    line-height: 64px;
    color: white;
}

.root + .root {
    margin-left: 34px;
}

.root::after {
    content: '';
    position: absolute;
    bottom: 0;
    height: 3px;
    width: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: currentColor;
}

.root:hover {
    color: white;
}

.root:hover::after {
    transition: width 0.5s;
    width: 100%;
}

.root[selected] {
    color: white;
}

.root[selected]::after {
    width: 100%;
}
