.root {
    /* @Private */
    cursor: var(--cursor-pointer);

    /* @Public */
    padding: var(--list-view-item-padding);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.root:hover {
    background: var(--list-view-item-background-hover);
}

.root[readonly] {
    cursor: default;
    background: var(--list-view-item-background-readonly);
}

.root[focused] {
    background: var(--list-view-item-background-focused);
}

.root[selected] {
    background: var(--list-view-item-background-selected);
    color: var(--list-view-item-color-selected);
}

.root[disabled] {
    /* @Private */
    cursor: var(--cursor-not-allowed);
    background: var(--list-view-item-background-disabled);
    color: var(--list-view-item-color-disabled);
}

.root[selected][disabled] {
    background: var(--list-view-item-background-selected-disabled);
}
