<u-popper ref="popper" :disabled="readonly || disabled" @toggle="onToggle($event)">
    <div :class="$style.root" :readonly="readonly" :disabled="disabled" :size="size">
        <span :class="$style.text" v-html="selectedVM && selectedVM.$el.innerHTML"></span>
    </div>
    <!-- 这个地方以后可能要改用render实现 -->
    <ul :class="$style.popper" slot="popper" :size="size">
        <component :is="ChildComponent" v-if="data"
            v-for="item in data"
            :key="item.value"
            :value="item.value"
            :disabled="item.disabled || disabled"
            :item="item"
        >{{ item[field] }}</component>
        <slot></slot>
    </ul>
</u-popper>
