.root {
    display: inline-block;
    position: relative;
    user-select: none;
    cursor: pointer;
    height: $height-base;
    line-height: 32px;
    padding-left: 14px;
    padding-right: 20px;
    background: #fff;
    color: #555;
    border: 1px solid #e1e8ed;
    border-radius: $border-radius-base;
    width: 160px;
    max-width: 100%;
}

/* 控制对齐基线 */
.root:before {
    content: 'a';
    font-size: 0;
}

.root:after {
    float: right;
    position: relative;
    icon-font: url('../u-icon.vue/icons/keyboard-arrow-down.svg');
    color: #a5a5a6;
    font-size: 18px;
    left: 12px;
}

.root[disabled] {
    cursor: not-allowed;
    background: #eee;
    border: 1px solid #d3d6de;
    color: #999;
}

.text {
    float: left;
    width: calc(100% - 20px);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.popper {
    z-index: 50;
    margin-top: -1px;
    width: 160px;
    max-height: 180px;
    overflow: auto;
    background: #fff;
    border: 1px solid #e1e8ed;
    border-radius: $border-radius-base;
    z-index: 1065;
}

.root[size$="large"] { width: 300px; }
.popper[size$="large"] { width: 300px; }
.root[size^="large"] { height: 40px; line-height: 38px; }
.root[size$="small"] { width: 120px; }
.popper[size$="small"] { width: 120px; }
.root[size^="small"] { height: 28px; line-height: 26px; }
.root[size$="mini"] { width: 80px; height: 30px; line-height: 28px; }
.popper[size$="mini"] { width: 80px;}
.root[size$="mini"] .text { width: 25px; }
