@import 'proto-ui.vusion/src/u-select.vue/module.css';

.root {
    height: $height-base;
    line-height: 32px;
    padding-left: 14px;
    padding-right: 20px;
    background: white;
    color: #555;
    border: 1px solid $brand-secondary;
    border-radius: $border-radius-base;
}

.root:focus {
    border-color: $brand-secondary;
}

.root::after {
    position: absolute;
    icon-font: url('../u-icon.vue/icons/keyboard-arrow-down.svg');
    color: #a5a5a6;
    font-size: 18px;
    right: 6px;
    top: 0;
    line-height: inherit;
}

.root[disabled] {
    cursor: not-allowed;
    background: $brand-disabled;
    border: 1px solid $brand-disabled;
    color: #999;
}

.text {
    float: left;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: inherit;
}

.popper {
    margin-top: 1px;
    max-height: 194px;
    overflow: auto;
    background: white;
    border: 1px solid $brand-secondary;
    border-radius: $border-radius-base;
    z-index: 1065;
}

.root[size$="mini"] { width: 80px; }
.root[size^="mini"] { height: 28px; line-height: 26px; }
.root[size^="mini"] .popper { max-height: 156px; }

.root[size$="small"] { width: 120px; }
.root[size^="small"] { height: 30px; line-height: 28px; }
.root[size^="small"] .popper { max-height: 168px; }

.root[size$="normal"] { width: 160px; }
.root[size^="normal"] { height: $height-base; line-height: 32px; }
.root[size^="normal"] .popper { max-height: 192px; }

.root[size$="medium"] { width: 280px; }
.root[size^="medium"] { height: 36px; line-height: 34px; }
.root[size^="medium"] .popper { max-height: 204px; }

.root[size$="large"] { width: 440px; }
.root[size^="large"] { height: 38px; line-height: 36px; }
.root[size^="large"] .popper { max-height: 216px; }

.root[size$="huge"] { width: 580px; }
.root[size^="huge"] { height: 40px; line-height: 38px; }
.root[size^="huge"] .popper { max-height: 228px; }

.root[size$="full"] { width: 100%; }
.root[size^="full"] { height: 100%; }

.flag {
    position: absolute;
    top: 0;
    left: 0;
    border: 7px solid;
    border-color: #4ec9ab transparent transparent #4ec9ab;
}

.flag[layer="high"] {
    width: 14px;
    height: 14px;
    border: none;
    background-image: url("../assets/images/high.png");
}
