<div :class="$style.root" v-if="currentVisible" @click="maskClose && close()">
    <div :class="$style.wrapper">
        <div :class="$style.content" @click.stop>
            <a v-if="closeButton" :class="$style.close" @click="close()"></a>
            <slot></slot>
            <a v-show="showButton && hasPre" :class="$style.button" role="pre" @click="pre()"></a>
            <a v-show="showButton && hasNext" :class="$style.button" role="next" @click="next()"></a>
            <div :class="$style.opertaion" v-if="canZoom">
                <a :class="$style.zoomButton" rolo="zoomin" @click="zoom('in')">+</a>
                <a :class="$style.zoomButton" rolo="zoomout" @click="zoom('out')">-</a>
            </div>
        </div>
    </div>
</div>
