<div :class="$style.root" v-if="currentVisible" @click="closeOnMask && close()">
    <!-- <div :class="$style.wrapper"> -->
        <slot></slot>
        <ul :class="$style.operation" v-if="currentVisible && (zoomButton || showButton)" @click.stop>
            <li v-show="showButton" :class="$style.button" role="prev" :disabled="!hasPrev" @click="prev()"></li>
            <li :class="$style.button" rolo="zoomin" @click="zoom('in')">＋</li>
            <li :class="$style.button" rolo="zoomout" @click="zoom('out')">－</li>
            <li v-show="showButton" :class="$style.button" role="next" :disabled="!hasNext" @click="next()"></li>
        </ul>
    <!-- </div> -->
</div>