.root {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    overflow: hidden;
    background: rgba(0, 0, 0, 0.6);
    text-align: center;
}

.root:before {
    content: "";
    height: 100%;
    display: inline-block;
    vertical-align: middle;
}

.wrapper {
    position: absolute;
    display: inline-block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.root[static] {
    position: static;
    padding: $margin-base;
}

.button[role='prev']{
    transform: rotate(180deg);
    transform-origin: 50% 43%;
}

.button[role='prev']:before{
    icon-font: url('../u-icon.vue/icons/keyboard-arrow-right.svg');
}

.button[role='next']:before{
    icon-font: url('../u-icon.vue/icons/keyboard-arrow-right.svg');
}

.operation {
    color: #fff;
    font-size: 60px;
    height: 60px;
    line-height: 1;
    background: hsla(0,0%,100%,.1);
    border-radius: 30px;
    display: inline-block;
    z-index: 100;
    user-select: none;
    overflow: hidden;
}

.operation > li {
    display: inline-block;
    float: left;
    padding: 0 30px;
}

.operation > li[disabled] {
    color: rgba(256, 256, 256, .4);
}
.operation > li:hover {
    background: hsla(0,0%,100%,.1);
    cursor: pointer;
}
