.root {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    overflow: hidden;
    background: rgba(0, 0, 0, 0.6);
    text-align: center;
}

.root:before {
    content: "";
    height: 100%;
    display: inline-block;
    vertical-align: middle;
}

.wrapper {
    position: relative;
    display: inline-block;
}

.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.close {
    position: absolute;
    z-index: 100;
    right: -12px;
    top: -12px;
    height: 24px;
    width: 24px;
    line-height: 1;
    text-align: center;
    color: #bbb;
    background: #fff;
    box-shadow: 0 0 0 1px rgba(0,0,0,.1), 0 0 6px rgba(0,0,0,.3);
    border-radius: 50%;
}

.close:hover { color: #888; }

.close:before {
    content:'\00d7';
    font-size: 20px;
    line-height: 24px;
}

.root[static] {
    position: static;
    padding: $margin-base;
}

.button{
    position: absolute;
    z-index: 100;
    font-size: 60px;
    color: rgba(255, 255, 255, 0.6);
    $transition: all 0.3s;
    top: 36%;
}
.button:hover{
    color: rgba(255, 255, 255, 1);
}
.button[role='pre']{
    transform: rotate(180deg);
    left: -60px;
}
.button[role='pre']:before{
    icon-font: url('../u-icon.vue/icons/keyboard-arrow-right.svg');
}
.button[role='next']{
    right: -60px;
}
.button[role='next']:before{
    icon-font: url('../u-icon.vue/icons/keyboard-arrow-right.svg');
}
.opertaion{
    color: #fff;
    font-size: 20px;
    line-height: 1;
}
.zoomButton{
    margin: 0 20px;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 50%;
    display: inline-block;
    width: 20px;
    cursor: pointer;
}