.root {
    display: inline-block;
    cursor: $cursor-pointer;
    user-select: none;
    color: $subnav-item-color;
    padding: 0 20px;
    transition: color 0.2s;
}

.root:hover {
    color: $subnav-item-hover-color;
    background: $subnav-item-hover-background;
}

.root[selected] {
    color: $subnav-item-selected-color;
    background: $subnav-item-selected-background;
}
