.root {
    display: inline-block;
    cursor: var(--cursor-pointer);
    user-select: none;
    color: var(--subnav-item-color);
    padding: 0 var(--subnav-item-padding-x);
    transition: color var(--transition-duration-base);
}

.root:hover {
    color: var(--subnav-item-color-hover);
    background: var(--subnav-item-background-hover);
}

.root[selected] {
    color: var(--subnav-item-color-selected);
    background: var(--subnav-item-background-selected);
}
