@import '../../src/u-sidebar-item.vue/module.css';

.root {
    background: #e2e6f7;
}

.root:hover {
    color: $brand-primary;
}

.root[selected] {
    color: white;
    background: $brand-primary;
}

.root[disabled] {
    color: #cdcdcd;
}
