@import '../../src/u-sidebar-item.vue/module.css';

.root:hover {
    color: $brand-primary;
}

.root[selected] {
    color: #fff;
    background: $brand-primary;
}

.root[disabled] {
    color: #cdcdcd;
}
