<div :class="$style.root" ref="root" :border="border">
    <div v-if="title" :class="$style.title" ref="title" :style="{ textAlign: titleAlignment }">
        <slot name="title">{{ title }}</slot>
    </div>
    <div :class="$style.table" v-for="tableMeta in tableMetaList" :key="tableMeta.position" :position="tableMeta.position"
        :style="{ width: tableMeta.position !== 'static' && number2Pixel(tableMeta.width) }"
        @scroll="onTableScroll" :shadow="(tableMeta.position === 'left' && !scrollXStart) || (tableMeta.position === 'right' && !scrollXEnd)">
        <div v-if="showHead" :class="$style.head" ref="head" :style="{ width: number2Pixel(tableWidth) }">
            <u-table :class="$style['head-table']" v-bind="$attrs" :color="color">
                <colgroup>
                    <col v-for="columnVM in visibleColumnVMs" :width="columnVM.computedWidth"></col>
                </colgroup>
                <thead><tr>
                    <th :class="$style['head-title']" v-for="(columnVM, columnIndex) in visibleColumnVMs"
                        :sortable="columnVM.sortable && sortTrigger === 'head'" :filterable="!!columnVM.filters" @click="columnVM.sortable && sortTrigger === 'head' && onClickSort(columnVM)">
                        <!-- type === 'checkbox' -->
                        <span v-if="columnVM.type === 'checkbox'">
                            <u-checkbox :value="allChecked" @check="checkAll($event.value)"></u-checkbox>
                        </span>
                        <!-- Normal title -->
                        <template>
                            <f-slot name="title" :vm="columnVM" :props="{ columnVM, columnIndex }">
                                <span>{{ columnVM.title }}</span>
                            </f-slot>
                        </template>
                        <!-- Sortable -->
                        <span v-if="columnVM.sortable" :class="$style.sort"
                            :sorting="currentSorting && currentSorting.field === columnVM.field" :order="currentSorting && currentSorting.order"
                            @click="sortTrigger === 'icon' && ($event.stopPropagation(), onClickSort(columnVM))"></span>
                        <!-- Filterable -->
                        <span v-if="columnVM.filters" :class="$style.filter">
                            <u-table-view-filters :value="getFiltersValue(columnVM.field)" @select="onSelectFilters(columnVM.field, $event)">
                                <u-table-view-filter v-for="filter in columnVM.filters" :key="filter.value" :value="filter.value">{{ filter.text }}</u-table-view-filter>
                            </u-table-view-filters>
                        </span>
                        <!-- Resizable -->
                        <f-dragger v-if="resizable && columnIndex !== visibleColumnVMs.length - 1" axis="horizontal"
                            @dragstart="onResizerDragStart($event, columnVM)"
                            @drag="onResizerDrag($event, columnVM, columnIndex)"
                            @dragend="onResizerDragEnd($event, columnVM, columnIndex)">
                            <div :class="$style.resizer" @click.stop></div>
                        </f-dragger>
                    </th>
                </tr></thead>
            </u-table>
        </div>
        <div :class="$style.body" ref="body" :style="{ width: number2Pixel(tableWidth), height: number2Pixel(bodyHeight) }" @scroll="onBodyScroll">
            <u-table ref="bodyTable" :class="$style['body-table']" v-bind="$attrs">
                <colgroup>
                    <col v-for="columnVM in visibleColumnVMs" :width="columnVM.computedWidth"></col>
                </colgroup>
                <tbody>
                    <template v-if="(!currentLoading && !currentError || pageable === 'auto-more' || pageable === 'load-more') && currentData && currentData.length">
                        <template v-for="(item, rowIndex) in currentData">
                            <tr :key="rowIndex" :class="$style.row" :color="item.rowColor" :selected="selectable && selectedItem === item" @click="selectable && select(item)">
                                <td :class="$style.cell" v-for="(columnVM, columnIndex) in visibleColumnVMs" :ellipsis="columnVM.ellipsis" v-ellipsis-title>
                                    <!-- type === 'index' -->
                                    <span v-if="columnVM.type === 'index'">{{ columnVM.startIndex + rowIndex }}</span>
                                    <!-- type === 'radio' -->
                                    <span v-if="columnVM.type === 'radio'">
                                        <u-radio :value="selectedItem === item" :disabled="item.disabled" @click.native="select(item)"></u-radio>
                                    </span>
                                    <!-- type === 'checkbox' -->
                                    <span v-if="columnVM.type === 'checkbox'">
                                        <u-checkbox :value="item.checked" :label="item[valueField]" :disabled="item.disabled" @check="check(item, $event.value)"></u-checkbox>
                                    </span>
                                    <!-- type === 'expander' -->
                                    <span :class="$style.expander" v-if="columnVM.type === 'expander'" :expanded="item.expanded" @click="toggleExpanded(item)"></span>
                                    <!-- Normal text -->
                                    <f-slot name="cell" :vm="columnVM" :props="{ item, value: item[columnVM.field], columnVM, rowIndex, columnIndex, index: rowIndex }">
                                        <span v-if="columnVM.field">{{ columnVM.currentFormatter.format(item[columnVM.field]) }}</span>
                                    </f-slot>
                                </td>
                            </tr>
                            <tr :class="$style['expand-content']" v-if="expanderColumnVM && item.expanded">
                                <f-collapse-transition>
                                    <td :colspan="visibleColumnVMs.length" :class="$style['expand-td']" v-show="item.expanded">
                                        <f-slot name="expand-content" :vm="expanderColumnVM" :props="{ item, value: item[expanderColumnVM.field], columnVM: expanderColumnVM, rowIndex, index: rowIndex }"></f-slot>
                                    </td>
                                </f-collapse-transition>
                            </tr>
                        </template>
                    </template>
                    <tr v-if="(currentData === undefined && !currentError) || currentLoading"><!-- 初次加载与加载更多 loading 合并在一起 -->
                        <td :class="$style.center" :colspan="visibleColumnVMs.length">
                            <slot name="loading"><u-spinner></u-spinner> {{ loadingText }}</slot>
                        </td>
                    </tr>
                    <tr v-else-if="currentData === null || currentError">
                        <td :class="$style.center" :colspan="visibleColumnVMs.length">
                            <slot name="error">{{ errorText }}</slot>
                        </td>
                    </tr>
                    <tr v-else-if="pageable === 'load-more' && currentDataSource.hasMore()">
                        <td :class="$style.center" :colspan="visibleColumnVMs.length">
                            <u-link @click="load(true)">{{ $t('loadMore') }}</u-link>
                        </td>
                    </tr>
                    <tr v-else-if="(pageable === 'auto-more' || pageable === 'load-more') && !currentDataSource.hasMore()">
                        <td :class="$style.center" :colspan="visibleColumnVMs.length">
                            {{ $t('noMore') }}
                        </td>
                    </tr>
                    <tr v-else-if="!currentData.length">
                        <td :class="$style.center" :colspan="visibleColumnVMs.length">
                            <slot name="empty">{{ emptyText }}</slot>
                        </td>
                    </tr>
                </tbody>
            </u-table>
        </div>
    </div>
    <u-combo-pagination :class="$style.pagination" v-if="pageable === true || pageable === 'pagination'"
        :total-items="currentDataSource.total" :page="currentDataSource.paging.number"
        :page-size="currentDataSource.paging.size" :page-size-options="pageSizeOptions" :show-total="showTotal" :show-sizer="showSizer" :show-jumper="showJumper"
        @change="page($event.page)" @change-page-size="page(currentDataSource.paging.number, $event.pageSize)">
    </u-combo-pagination>
    <div><slot></slot></div>
</div>
