@import 'u-base.vue/global.css';

$margin-bottom-base: 20px;
$margin-right-base: 5px;

$font-size-base: 14px;

$brand-primary: #387ee8;

$field-background: white;
$field-color: #666;
$field-border-color: #cbd5dd;
$field-disabled-color: #bbb;
$field-selected-color: $brand-primary;

$height-base: 34px;
$border-radius-base: 2px;

$sidebar-background-color: #294265;

$link-color: #4477d0;
