@import 'u-base.vue/global.css';

$margin-base: 20px;

$font-size-base: 14px;

$brand-primary: #67aaf5;

$field-background: white;
$field-color: #666;
$field-border-color: #cbd5dd;
$field-disabled-color: #bbb;
$field-selected-color: $brand-primary;

$height-base: 34px;
$border-radius-base: 2px;

$sidebar-background-color: #f0f6fa;

$transition-duration: 0.2s;
