$tabs-border: #e0e6ed;

.head {
    border-bottom: 1px solid $tabs-border;
}

.item {
    height: 36px;
    line-height: 34px;
    padding: 0 30px;
}

<<<<<<< Updated upstream
.item:hover {
    background: #f6f7f9;
}
=======
    .item[selected] {
        background: white;
        color: $brand-primary;
        border-top: 2px solid $brand-primary;
    }
>>>>>>> Stashed changes

.item[selected] {
    background: white;
    color: $brand-primary;
    border-color: $tabs-border;
    border-top: 2px solid $brand-primary;
}

.item[disabled] {
    background: white;
}
