.root {}

.head {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: var(--navbar-height);
    background: white;
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.1);
    z-index: var(--z-index-layout);
}

.main {
    position: fixed;
    bottom: 0;
    right: 0;
    top: var(--navbar-height);
    left: var(--sidebar-width);
}

.body {
    margin-top: var(--navbar-height);
}

.foot {
    height: 70px;
    background: #34383b;
}

.foot:empty {
    display: none;
}

.root[demo] .head {
    position: absolute;
}
