@import '../../src/base/global.css';

$brand-primary: #2cb78e;
$sidebar-background-color: #f0f6fa;

/* Button */
$button-hover-background: #ebebeb;
$button-hover-color: #333;
$button-hover-border-color: #cdcdcd;
$button-disabled-background: #cbcbcb;
$button-disabled-color: white;
$button-disabled-border-color: #cbcbcb;
$button-primary-hover-background: #3dcca1;
$button-primary-hover-color: white;
$button-primary-disabled-background: #cbcbcb;
$button-primary-disabled-color: $button-primary-color;

/* theme Chart Colors */
$theme-chart-background-base: rgba(97, 218, 198, 0.6);

$theme-chart-color1: rgb(91, 161, 242);
$theme-chart-rgba-color1: rgba(91, 161, 242, 0.6);

$theme-chart-color2: rgb(78, 201, 171);
$theme-chart-rgba-color2: rgba(78, 201, 171, 0.6);

$theme-chart-color3: rgb(255, 174, 60);
$theme-chart-rgba-color3: rgba(255, 174, 60, 0.6);

$theme-chart-color4: rgb(158, 156, 246);
$theme-chart-rgba-color4: rgba(158, 156, 246, 0.6);

$theme-chart-color5: rgb(30, 192, 216);
$theme-chart-rgba-color5: rgba(30, 192, 216, 0.6);

$theme-chart-color6: rgb(237, 139, 204);
$theme-chart-rgba-color6: rgba(237, 139, 204, 0.6);

$theme-chart-color7: rgb(138, 209, 153);
$theme-chart-rgba-color7: rgba(138, 209, 153, 0.6);

$theme-chart-color8: rgb(103, 197, 245);
$theme-chart-rgba-color8: rgba(103, 197, 245, 0.6);

$theme-chart-color9: rgb(138, 205, 78);
$theme-chart-rgba-color9: rgba(138, 205, 78, 0.6);

$theme-chart-color10: rgb(245, 131, 122);
$theme-chart-rgba-color10: rgba(245, 131, 122, 0.6);

$theme-chart-color11: rgb(198, 156, 246);
$theme-chart-rgba-color11: rgba(198, 156, 246, 0.6);

$theme-chart-color12: rgb(137, 170, 247);
$theme-chart-rgba-color12: rgba(137, 170, 247, 0.6);

$theme-chart-color13: rgb(251, 155, 108);
$theme-chart-rgba-color13: rgba(251, 155, 108, 0.6);

$theme-chart-color14: rgb(103, 170, 245);
$theme-chart-rgba-color14: rgba(103, 170, 245, 0.6);

$theme-chart-color15: rgb(134, 187, 231);
$theme-chart-rgba-color15: rgba(134, 187, 231, 0.6);

$theme-chart-color16: rgb(245, 196, 80);
$theme-chart-rgba-color16: rgba(245, 196, 80, 0.6);

$theme-chart-color17: rgb(135, 206, 232);
$theme-chart-rgba-color17: rgba(135, 206, 232, 0.6);

$theme-chart-color18: rgb(239, 216, 22);
$theme-chart-rgba-color18: rgba(239, 216, 22, 0.6);

$theme-chart-color19: rgb(92, 208, 133);
$theme-chart-rgba-color19: rgba(92, 208, 133, 0.6);

$theme-chart-color20: rgb(241, 126, 248);
$theme-chart-rgba-color20: rgba(241, 126, 248, 0.6);

/* Sidebar */
$sidebar-item-default-background: #e2e6f7;
$sidebar-item-selected-background: $brand-primary;
$sidebar-item-disabled-color: #cdcdcd;
$sidebar-item-hover-color: $brand-primary;
$sidebar-group-head-hover-color: $brand-primary;
$sidebar-group-head-selected-color: $brand-primary;
$sidebar-divider-background: #ccc;
