@import 'proto-ui.vusion/src/u-steps.vue/module.css';

.head {
    counter-reset: step;
}

.item {
    padding-top: 10px;
    color: #666;
}

.item::before {
    counter-increment: step;
    content: counter(step);
    top: -9px;
    left: 50%;
    margin-left: -9px;
    width: 18px;
    height: 18px;
    line-height: 18px;
    font-size: 12px;
    color: #999;
    background-color: $brand-secondary;
}

.item[pass]::after, .item[pass]::before {
    background-color: $brand-primary;
    color: white;
}

.item::after {
    right: 0;
    height: 1px;
    background-color: $brand-secondary;
}

.item:first-child::after {
    display: block;
    width: 50%;
    right: 0px;
}

.item:last-child::after {
    width: 50%;
    left: 0px;
}
