.root{
    display: inline-block;
	vertical-align: top;
	border-radius: 4px;
	background-color: #fff;
    box-shadow: 0 0 10px 0 rgba(80,90,109,0.16);
}
.operation {
	border-top: 1px solid #ebeef5;
	line-height: 2.6;
	text-align: left;
	padding: 0 10px;
	overflow: hidden;
}
.closebutton {
	float: right;
}
