@extend;

.root {
    border-radius: 2px;
}

.root[x-placement="top-end"] .arrow {
    margin-right: calc(-1 * var(--tooltip-arrow-size));
}

.root[x-placement="bottom-end"] .arrow {
    margin-right: calc(-1 * var(--tooltip-arrow-size));
}

.root[x-placement="left-end"] .arrow {
    margin-bottom: calc(-1 * var(--tooltip-arrow-size));
}

.root[x-placement="right-end"] .arrow {
    margin-bottom: calc(-1 * var(--tooltip-arrow-size));
}

.body {
    max-width: 260px;
    line-height: 20px;
    word-break: break-all;
}

.body[size$="small"] {
    max-width: 120px;
}

.body[size^="small"] {
    max-height: 80px;
    overflow-y: auto;
}

.body[size$="normal"] {
    max-width: 260px;
}

.body[size^="normal"] {
    max-height: 140px;
    overflow-y: auto;
}

.body[size$="large"] {
    max-width: 440px;
}

.body[size^="large"] {
    max-height: 240px;
    overflow-y: auto;
}

.body[size$="auto"] {
    max-width: none;
}

.body[size^="auto"] {
    max-height: none;
}

.root ::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background: #9da8b3;
}
