.root{
    display: inline-block;
    position: relative;
    vertical-align: middle;
    user-select: none;
}
.head[disabled] {
    cursor: not-allowed;
    background: #eee;
    border: 1px solid #d3d6de;
    color: #999;
}
.head{
    overflow: hidden;
    word-wrap: normal;
    white-space: nowrap;
    text-overflow: ellipsis;
    box-sizing: border-box;
    cursor: pointer;
    height: 34px;
    line-height: 32px;
    padding-right: 20px;
    background: #fff;
    color: #555;
    border: 1px solid #d2d6de;
    border-radius: 3px;
    position: relative;
}
.head:after{
    content: '';
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #9dabc2;
    float: right;
    position: absolute;
    right: 5px;
    top: 14px;

}
.colorShow{
    display: inline-block;
    width: 100%;
    height: 100%
}
.body{
    margin-top: 2px;
    width: 100%;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 100;
}
.listview{
    overflow-x:hidden;
    overflow-y:auto;
    max-height: 200px;
    user-select: none;
    box-sizing: border-box;
    background: #fff;
    color: #555;
    border-radius: 4px;
    border: 1px solid #d2d6de;
    list-style: none;
    margin: 0;
}
.listitem{
    padding: 3px 14px;
    color: #777;
    cursor: pointer;
    position: relative;
    height: 20px;
    line-height: 20px;
}
.listitem[disabled]{
    cursor: not-allowed;
    color: #999;
}
