<u-linear-layout :class="$style.root" direction="vertical" gap="small">
    <div v-for="(category, level) in categories" :key="level">
        <span :class="$style.label">{{ category.label }}</span>
        <u-capsules :field="field" :cancelable="cancelable" :readonly="readonly" :disabled="disabled"
            v-model="values[level]" @select="onSelect($event, level)">
            <u-capsule v-for="item in lists[level]" v-if="item.exist === undefined || !!item.exist === true"
                :key="item.value"
                :value="item.value"
                :item="item"
                :disabled="item.disabled">
                <slot name="text" :item="item" :level="level">{{ item[field] }}</slot>
            </u-capsule>
        </u-capsules>
        <span :class="$style.tip">{{ category.tip }}</span>
    </div>
</u-linear-layout>
