.root {
    position: relative;
}
.body {
    padding: 20px 0;
}

.body[position="static"] {
    position: static;
}

.body[position="fixed"] {
    position: fixed;
    z-index: 100;
    bottom: 0;
    left: var(--sidebar-width);
    right: 0;
    background: var(--background-color-light);
    padding: 20px 40px;
    color: var(--color-base);
    border: 1px solid var(--border-color-base);
    box-shadow: 0 0 10px 0 rgba(80, 90, 109, 0.16);
    animation: slideInUp var(--transition-duration-slow) both;
}

@keyframes slideInUp {
    from {
      transform: translate3d(0, 100%, 0);
      visibility: visible;
    }
    to {
      transform: translate3d(0, 0, 0);
    }
}
