<div :class="$style.root">
    <div :class="$style.title" v-if="title">
        {{title}}
        <slot name="title"></slot>
    </div>
    <div :class="$style.header" ref="head">
        <table :class="$style.thead" cellspacing="0" cellpadding="0" border="0" :style="{width: tableWidth}">
            <colgroup>
                <col v-for="(column, index) in columnsWidth" :width="column"></col>
            </colgroup>
            <thead>
                <tr :class="$style.htrItem">
                    <th v-for="(column, index) in columns" :class="$style.hthSpan" :role="column.filter" :selection="column.type==='selection'">
                        <span v-if="!column.filter" :class="$style.itemtitle">{{column.title}}</span>
                        <template v-else-if="column.filter">
                            <u-popper trigger="click" :placement="column.placement" append-to="reference">
                                <div :class="$style.filtertitle" :role="column.filter">
                                    <span :class="$style.titleitem">{{column.title}}</span>
                                    <div :class="$style.traingle"></div>
                                </div>
                                <div :class="$style.popper" slot="popper">
                                    <div :class="$style.option" v-for="option in column.options" @click.stop="select(option, column, index)" :role="column.selectValue === option.value">{{option.name}}</div>
                                </div>
                            </u-popper>
                        </template>
                        <template v-if="column.type === 'selection'"><input type="checkbox" v-model="allSel" @change="allSelected"></template>
                        <template v-if="column.sortable">
                            <span :class="$style.wrapicon">
                                <u-icon :class="$style.icon" name="arrow-up" v-if="defaultSort.order === 'asc'" :role="defaultSort.label === column.label" @click.native="handleSort('asc', column)"></u-icon>
                                <u-icon :class="$style.icon" name="arrow-down" v-else :role="defaultSort.label === column.label" @click.native="handleSort('desc', column)"></u-icon>
                            </span>
                        </template>
                    </th>
                </tr>
            </thead>
        </table>
    </div>
    <div :class="$style.body" ref="body">
        <table cellspacing="0" cellpadding="0" border="0" :class="$style.tbody" :style="{width: tableWidth}">
            <colgroup>
                <col v-for="(column, index) in columnsWidth" :width="column">
            </colgroup>
            <tbody :class="$style.btbody">
                <template v-if="loading">
                    <tr :class="$style.btrItem" role>
                        <td :colspan="columns.length" :class="$style.btdSpan" role="center">
                            <u-loading size="small"></u-loading>
                        </td>
                    </tr>
                </template>
                <template v-else-if="tdata.length === 0">
                    <tr :class="$style.btrItem" role>
                        <td :colspan="columns.length" :class="$style.btdSpan" role="center">
                            <slot name="no-data-text">{{noDataText}}</slot>
                        </td>
                    </tr>
                </template>
                <template v-else v-for="(row, index) in tdata">
                    <tr :class="$style.btrItem" :role="index === (tdata.length-1)">
                        <td v-for="(column, cindex) in columns" :class="$style.btdSpan" :selection="column.type==='selection'">
                            <span v-if="column.type === 'selection'"><input type="checkbox" @ v-model="row.selected" @change="changeSelect(row)"/></span>
                            <div v-else-if="!column.label" :class="$style.ditem" :role="column.tooltip">
                                <u-table-view-cell :row="row" :column="column"></u-table-view-cell>
                            </div>
                            <span v-else-if="column.formatter" :class="$style.ditem" :role="column.tooltip" :title="column.tooltip ? column.formatter(row, column, index, cindex) : ''">{{column.formatter(row, column, index, cindex)}}</span>
                            <span v-else :class="$style.ditem" :role="column.tooltip" :title="column.tooltip ? row[column.label] : ''">{{row[column.label]}}</span>
                        </td>
                    </tr>
                </template>
            </tbody>
        </table>
    </div>
    <div>
        <slot></slot>
    </div>
</div>
