<div :class="$style.root" :style="{height: height+'px'}">
    <div :class="$style.title" v-if="title" ref="title">
        {{title}}
        <slot name="title"></slot>
    </div>
    <div v-if="layout === 'auto'">
        <table :class="$style.table" cellspacing="0" cellpadding="0" border="0" :style="{tableLayout: layout}">
            <thead>
                <tr :class="$style.htrItem" v-bind="$attrs">
                    <th v-for="(column, index) in columns" :class="$style.hthSpan" :role="column.filter || column.sortable" :border="border" :selection="column.type==='selection'"  @click.stop="handleSort(column)">
                        <span v-if="!column.filter" :class="$style.itemtitle">{{column.title}}</span>
                        <template v-else-if="column.filter">
                            <u-popper trigger="click" :placement="column.placement" append-to="reference">
                                <div :class="$style.filtertitle" :role="column.filter">
                                    <span :class="$style.titleitem">{{column.title}}</span>
                                    <div :class="$style.traingle"></div>
                                </div>
                                <div :class="$style.popper" slot="popper">
                                    <div :class="$style.option" v-for="option in column.options" @click.stop="select(option, column, index)" :role="column.selectValue === option.value">{{option.name}}</div>
                                </div>
                            </u-popper>
                        </template>
                        <template v-if="column.type === 'selection'"><u-checkbox v-model="allSel" @check="allSelected"/></template>
                        <template v-if="column.sortable">
                            <span :class="$style.wrapicon">
                                <u-icon :class="$style.icon" name="arrow-up" v-if="defaultSort.order === 'asc' && defaultSort.title === column.title" :role="defaultSort.title === column.title"></u-icon>
                                <u-icon :class="$style.icon" name="arrow-down" v-else :role="defaultSort.title === column.title"></u-icon>
                            </span>
                        </template>
                    </th>
                </tr>
            </thead>
            <tbody :class="$style.btbody">
                <template v-if="loading">
                    <tr :class="$style.btrItem" role>
                        <td :colspan="columns.length" :class="$style.btdSpan" role="center">
                            <u-loading size="small"></u-loading>
                        </td>
                    </tr>
                </template>
                <template v-else-if="tdata.length === 0">
                    <tr :class="$style.btrItem" role>
                        <td :colspan="columns.length" :class="$style.btdSpan" role="center">
                            <slot name="no-data-text">{{noDataText}}</slot>
                        </td>
                    </tr>
                </template>
                <template v-else v-for="(row, index) in tdata">
                    <tr :class="$style.btrItem" :role="index === (tdata.length-1)" @click="rowClick(row,index)">
                        <td v-for="(column, cindex) in columns" :class="$style.btdSpan" :border="border" :selection="column.type==='selection'">
                            <span v-if="column.type === 'selection'"><u-checkbox v-model="row.selected" @check="changeSelect(row)"/></span>
                            <div v-else-if="!column.label" :class="$style.ditem" :role="column.ellipsis">
                                <u-table-view-cell :row="row" :column="column"></u-table-view-cell>
                            </div>
                            <span v-else-if="column.formatter" :class="$style.ditem" :role="column.ellipsis" v-ellipsis-title="column.formatter(row, column, index, cindex)">{{column.formatter(row, column, index, cindex)}}</span>
                            <span v-else-if="column.type === 'time'" :class="$style.ditem" :role="column.ellipsis" v-ellipsis-title>{{translateTime(row[column.label], column.timeFormat)}}</span>
                            <span v-else :class="$style.ditem" :role="column.ellipsis" v-ellipsis-title>{{row[column.label]}}</span>
                        </td>
                    </tr>
                </template>
            </tbody>
        </table>
    </div>
    <template v-else>
        <div :class="$style.header" ref="head">
            <table :class="$style.thead" cellspacing="0" cellpadding="0" border="0" :style="{width: tableWidth, tableLayout: layout}">
                <colgroup>
                    <col v-for="(column, index) in columns" :width="columnsWidth[index] || column.currentWidth"></col>
                </colgroup>
                <thead>
                    <tr :class="$style.htrItem" v-bind="$attrs">
                        <th v-for="(column, index) in columns" :class="$style.hthSpan" :border="border" :role="column.filter || column.sortable" :selection="column.type==='selection'" @click.stop="handleSort(column)">
                            <span v-if="!column.filter" :class="$style.itemtitle">{{column.title}}</span>
                            <template v-else-if="column.filter">
                                <u-popper trigger="click" :placement="column.placement" append-to="reference">
                                    <div :class="$style.filtertitle" :role="column.filter">
                                        <span :class="$style.titleitem">{{column.title}}</span>
                                        <div :class="$style.traingle"></div>
                                    </div>
                                    <div :class="$style.popper" slot="popper">
                                        <div :class="$style.option" v-for="option in column.options" @click.stop="select(option, column, index)" :role="column.selectValue === option.value">{{option.name}}</div>
                                    </div>
                                </u-popper>
                            </template>
                            <template v-if="column.type === 'selection'"><u-checkbox v-model="allSel" @check="allSelected"/></template>
                            <template v-if="column.sortable">
                                <span :class="$style.wrapicon">
                                    <u-icon :class="$style.icon" name="arrow-up" v-if="defaultSort.order === 'asc' && defaultSort.title === column.title" :role="defaultSort.title === column.title" @click.native="handleSort('asc', column)"></u-icon>
                                    <u-icon :class="$style.icon" name="arrow-down" v-else :role="defaultSort.title === column.title" @click.native="handleSort('desc', column)"></u-icon>
                                </span>
                            </template>
                        </th>
                    </tr>
                </thead>
            </table>
        </div>
        <div :class="$style.body" ref="body" :style="{height: bodyHeight+'px'}" :role="height">
            <table cellspacing="0" cellpadding="0" border="0" :class="$style.tbody" :style="{width: bodyWidth, tableLayout: layout}">
                <colgroup>
                    <col v-for="(column, index) in columns" :width="column.currentWidth || columnsWidth[index]">
                </colgroup>
                <tbody :class="$style.btbody">
                    <template v-if="loading">
                        <tr :class="$style.btrItem" role>
                            <td :colspan="columns.length" :class="$style.btdSpan" role="center">
                                <u-loading size="small"></u-loading>
                            </td>
                        </tr>
                    </template>
                    <template v-else-if="tdata.length === 0">
                        <tr :class="$style.btrItem" role>
                            <td :colspan="columns.length" :class="$style.btdSpan" role="center">
                                <slot name="no-data-text">{{noDataText}}</slot>
                            </td>
                        </tr>
                    </template>
                    <template v-else v-for="(row, index) in tdata">
                        <tr :class="$style.btrItem" :role="index === (tdata.length-1)" @click="rowClick(row,index)">
                            <td v-for="(column, cindex) in columns" :class="$style.btdSpan" :border="border" :selection="column.type==='selection'">
                                <span v-if="column.type === 'selection'"><u-checkbox v-model="row.selected" @check="changeSelect(row)"/></span>
                                <div v-else-if="column.$scopedSlots.default" :class="$style.ditem" :role="column.ellipsis">
                                    <u-table-view-cell :row="row" :column="column"></u-table-view-cell>
                                </div>
                                <span v-else-if="column.formatter" :class="$style.ditem" :role="column.ellipsis" v-ellipsis-title="column.formatter(row, column, index, cindex)">{{column.formatter(row, column, index, cindex)}}</span>
                                <span v-else-if="column.type === 'time'" :class="$style.ditem" :role="column.ellipsis" v-ellipsis-title>{{translateTime(row[column.label], column.timeFormat)}}</span>
                                <span v-else :class="$style.ditem" :role="column.ellipsis" v-ellipsis-title>{{row[column.label]}}</span>
                            </td>
                        </tr>
                    </template>
                </tbody>
            </table>
        </div>
    </template>
    <div>
        <slot></slot>
    </div>
</div>
