.root{}
.thead{
    width: 100%;
    table-layout: fixed;
}
.thead .hthSpan{
    position: relative;
    vertical-align: middle;
    padding-right: 0;
    box-sizing: border-box;
    padding: 10px 20px 12px 10px;
    line-height: 20px;
    text-align: left;
    font-weight: 400;
}
.hthSpan[role]{
    cursor: pointer;
}
.htrItem {
    background-color: #f5f7fa;
    border-bottom: 1px solid #ebf0f5;
}
.body{
    overflow: auto;
}
.tbody{
    width: 100%;
    table-layout: fixed;
}
.tbody .btrItem:first-child{
    border-top: none;
}
.tbody .btrItem{
    border-top: 1px solid #ebf0f5;
}
.tbody .btrItem[role]{
    border-bottom: 1px solid #ebf0f5;
}
.tbody .btrItem .btdSpan{
    position: relative;
    vertical-align: middle;
    padding-right: 0;
    box-sizing: border-box;
    padding: 10px 20px 12px 10px;
    line-height: 20px;
    overflow: hidden;
    width: auto;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #999;
}
.wrapicon{
    display: inline-block;
    height: 30px;
    margin-left: 4px;
    margin-top: -1px;
    vertical-align: middle;
    cursor: pointer;
    position: relative;
}
.icon {
    display: inline-block;
    width: 0;
    height: 0;
    border: 0;
    content: "";
    position: absolute;
    left: 3px;
    z-index: 2;
}
.icon[role=up]{
    top: 9px;
    border-top: none;
    border-bottom: 5px solid #97a8be;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
}
.icon[role=down]{
    bottom: 9px;
    border-top: 5px solid #97a8be;
    border-bottom: none;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
}
.icon[role=up][sel] {
    border-bottom-color: rgb(72, 87, 106);
}
.icon[role=down][sel] {
    border-top-color: rgb(72, 87, 106);
}
.ditem{
    box-sizing: border-box;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    word-break: break-all;
    line-height: 24px;
}
.popper{
    width: 100%;
    z-index: 1065;
    background: #fff;
}
.itemtitle{
    position: relative;
    word-break: break-all;
    display: inline-block;
}
.option{
    width: 100%;
    padding: 3px 14px;
    box-sizing: border-box;
    line-height: 24px;
}
.option:hover{
    background: #f4f4f4;
    color: #444;
}
.option[role] {
    background: $brand-primary;
    color: #fff;
}
.filtertitle{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom:0;
    line-height: 50px;
}
.traingle{
    display: inline-block;
    border: 5px solid transparent;
    border-top-color: #9dabc2;
    position: relative;
    left:5px;
    top:3px;
}
