.root {
    position: relative;
}

/* 和交互确认过不添加这个线 */

/* .root:before{
    position: absolute;
    content: '';
    width: 100%;
    height: 1px;
    left: 0;
    bottom: 0;
    z-index: 1;
    background-color: #ebf0f5;
} */

/*
.root[hide]:before{
    height: 0px;
} */

.root[border]::after {
    position: absolute;
    content: '';
    width: 1px;
    height: 100%;
    right: 0;
    top: 0;
    z-index: 1;
    background-color: #ebf0f5;
}

.table {
    width: 100%;
}

.thead {
    width: 100%;
}
.header {
    overflow: visible;
}

.header[role] {
    overflow: hidden;
}

.hthSpan {
    /* position: relative; */
    vertical-align: middle;
    box-sizing: border-box;
    padding: 13px 0 13px 10px;
    line-height: 20px;
    text-align: left;
    font-weight: 400;
}

.hthSpan[border] {
    border-left: 1px solid #ebf0f5;
    /* border-right: 1px solid #ebf0f5; */
}

.hthSpan[role] {
    cursor: pointer;
}

.hthSpan[role]:hover {
    background: #eef2f8;
}

.hthSpan[selection] {
    padding: 13px 0 13px 20px;
    white-space: nowrap;
}

.hthSpan[filter] {
    padding: 0;
}

.filtertitle {
    padding: 13px 0 13px 10px;
}

.htrItem {
    background-color: #f5f7fa;
    background-clip: padding-box;
    border-bottom: 1px solid #ebf0f5;
}
.htrItem[color='light'] {
    background: white;
}

/* .body {
    overflow: auto;
} */

.body[role="fixed"] {
    overflow: hidden;
}

.tbody {
    width: 100%;
    /* margin-bottom: 6px; */
}

.btrItem {
    border-top: 1px solid #ebf0f5;
}

.btrItem:first-child {
    border-top: none;
}

.btbody[no-show-header] .btrItem:first-child {
    border-top: 1px solid #ebf0f5;
}

.btbody[no-show-header] .btrItem {
    border-left: 1px solid #ebf0f5;
}

.btbody[no-show-header] .btdSpan {
    border-left: none;
}

.btrItem:last-child {
    border-bottom: 1px solid #ebf0f5;
}

.btdSpan {
    position: relative;
    vertical-align: middle;
    box-sizing: border-box;
    padding: 13px 0 13px 10px;
    line-height: 20px;
    width: auto;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #999;
}
.btdSpan[border] {
    border-left: 1px solid #ebf0f5;
    /* border-right: 1px solid #ebf0f5; */
}

.btdSpan[role="center"] {
    text-align: center;
    padding: 13px 0;
}

.btdSpan[selection] {
    padding: 13px 0 13px 20px;
}

.wrapicon {
    display: inline-block;
    height: 20px;
    margin-left: 4px;
    margin-top: -10px;
    vertical-align: middle;
    cursor: pointer;
    position: relative;
}

.icon::before {
    font-size: 14px !important;
    color: #d3d8e0;
}

.icon[role]::before {
    color: #67aaf5;
}

.ditem {
    box-sizing: border-box;
    white-space: normal;
    word-break: break-all;
    /* 解决在火狐浏览器下英文换行显示问题 */
    word-wrap: break-word;
    line-height: 24px;
}

.ditem[expanded] {
    display: inline-block;
}

.popper {
    z-index: 1065;
    background: white;
    border: 1px solid #f1f1f1;
    /* 对于一些很长的过滤 有最大高度的限制 */
    max-height: 182px;
    overflow-y: auto;
    /* margin-left: -10px; */
    /* margin-top: 13px; */
}

.itemtitle {
    position: relative;
    word-break: break-all;
    display: inline-block;
    min-width: 35px;
}

.option {
    width: 100%;
    padding: 3px 14px;
    box-sizing: border-box;
    line-height: 24px;
    cursor: pointer;
}

.option:hover {
    background: #f4f4f4;
    color: #444;
}

.option[role] {
    background: $brand-primary;
    color: white;
}

.traingle {
    display: inline-block;
    border: 5px solid transparent;
    border-top-color: #9dabc2;
    position: relative;
    left: 5px;
    top: 3px;
}

.btrItem:hover .btdSpan::before, .btrItem[hover] .btdSpan::before {
    content: "";
    width: 100%;
    height: 6px;
    position: absolute;
    top: -6px;
    left: 0;
    background: url("../assets/images/shadow-up.png") repeat-x;
    z-index: 100;
}

.btrItem:hover .btdSpan::after, .btrItem[hover] .btdSpan::after {
    content: "";
    width: 100%;
    height: 6px;
    position: absolute;
    bottom: -6px;
    left: 0;
    background: url("../assets/images/shadow-down.png") repeat-x;
    z-index: 100;
}

.btrItem:last-child:hover .btdSpan[hide]::after {
    content: '';
    width: 0;
    height: 0;
    background: none;
}

.ditem[role] {
    display: block;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.fixLeft {
    position: absolute;
    left: 0;
    top: 0;
    overflow: hidden;
    background: white;
    box-shadow: 2px 0 6px -2px rgba(0, 0, 0, 0.2);
}

.fixRight {
    position: absolute;
    right: 0;
    left: auto;
    top: 0;
    background: white;
    box-shadow: -2px 0 6px -2px rgba(0, 0, 0, 0.2);
}

.loading {
    display: inline-block;
    line-height: 21px;
}

.expand {
    display: inline-block;
    width: 14px;
    height: 14px;
    cursor: pointer;
}

.expand[name="right"]::after {
    icon-font: url("../u-icon.vue/icons/keyboard-arrow-right.svg");
    line-height: 24px;
    vertical-align: -2px;
}

.expand[name="down"]::after {
    icon-font: url("../u-icon.vue/icons/keyboard-arrow-down.svg");
    line-height: 24px;
    vertical-align: -2px;
}

.expand[role="up-down"][name="right"]::after {
    icon-font: url("../u-icon.vue/icons/angle-down.svg");
    line-height: 24px;
    vertical-align: -2px;
}

.expand[role="up-down"][name="down"]::after {
    icon-font: url("../u-icon.vue/icons/angle-up.svg");
    line-height: 24px;
    vertical-align: -2px;
}

.fixNoText {
    display: inline-block;
    line-height: 20px;
}

.headExpand {
    width: 50px;
}
.loadText {
    display: inline-block;
    margin-left: 10px;
    vertical-align: middle;
}

.radioLabel {
    user-select: none;
    cursor: $cursor-pointer;
}

.radioLabel[disabled] {
    color: #999;
    cursor: $cursor-not-allowed;
}

.radio {
    margin-right: 4px;
    margin-bottom: 3px;
    vertical-align: middle;
    cursor: inherit;
}

.radioText {
    display: inline-block;
    vertical-align: middle;
}
