<div :class="$style.root" :readonly="readonly" :disabled="disabled"
    :tabindex="readonly || disabled ? '' : 0"
    @keydown.prevent.up="shift(-1)"
    @keydown.prevent.down="shift(+1)"
    @scroll.stop="onScroll">
    <slot></slot>
    <template v-if="currentData">
        <component :is="ChildComponent"
            v-for="item in currentData"
            :key="item.value"
            :value="item.value"
            :disabled="item.disabled || disabled"
            :item="item"
        >{{ item[field] }}</component>
    </template>
    <div :class="$style.status" status="loading" v-if="loading">
        <slot name="loading"><u-spinner></u-spinner> {{ loadingText }}</slot>
    </div>
</div>
