.root {
    /* @Private */
    user-select: none;
    overflow: auto;
    position: relative;

    /* @Public */
    background: var(--list-view-background);
    border: 1px solid var(--list-view-border-color);
    border-radius: var(--border-radius-base);
}

.root:focus {
    border-color: var(--list-view-border-color-focus);
    outline: var(--focus-outline);
}

.status {
    color: var(--list-view-status-color);
    text-align: center;
}

.root[disabled] {
    background: var(--brand-disabled);
    border: 1px solid var(--brand-disabled);
    color: #999;
}
