.root {
    display: flex;
    flex-direction: column;
    border: 1px solid var(--list-view-border-color);
    border-radius: var(--border-radius-base);
    height: var(--list-view-height);
}

.root:focus {
    border-color: var(--list-view-border-color-focus);
    outline: var(--focus-outline);
}

.status {
    color: var(--list-view-status-color);
    text-align: center;
    padding: var(--list-view-item-padding);
}

.root[disabled] {
    border: 1px solid var(--list-view-border-color-disabled);
}

.head {
    background: var(--list-view-head-background);
    padding: var(--list-view-head-padding);
    border-bottom: 1px solid var(--list-view-border-color);
}

.extra {
    float: right;
    color: var(--color-light);
}

.body {
    flex: auto;
    user-select: none;
    overflow: auto;
    position: relative;
    background: var(--list-view-body-background);
}

.root[disabled] .body {
    background: var(--list-view-background-disabled);
}

.foot {
    background: var(--list-view-foot-background);
    padding: var(--list-view-foot-padding);
    border-top: 1px solid var(--list-view-border-color);
}

.filter[class][class] {
    margin: var(--list-view-filter-margin);
    width: calc(100% - var(--list-view-filter-margin) * 2);
}

.pagination {
    text-align: center;
    margin: 0 -12px;
}
