@extend;

.root {
    border: 1px solid var(--brand-secondary);
    border-radius: var(--border-radius-base);
}

.root:focus {
    border-color: var(--brand-secondary);
}

.root[disabled] {
    background: var(--brand-disabled);
    border: 1px solid var(--brand-disabled);
    color: #999;
}
