<u-chart :class="$style.root" :title="title" :border="border" :width="width" :height="height" :legend="legend" :series="data">
    <svg :class="$style.elsvg" ref="svg" viewBox="0 0 100 100">
        <g :class="$style.elg" transform="translate(50, 50)">
            <circle v-for="(item,index) in data" v-if="item.percent === 100" :class="$style.item" cx="0" cy="0" :r="RADIUS"/>
            <path v-for="(item,index) in posData" v-if="item.percent !== 100" :class="$style.item"
                :d="getD(item)"
                @mouseover="onMouseOver(item)" />
        </g>
    </svg>
    <div v-for="(item, index) in posData" :class="$style.text" :style="getTextStyle(item)">
        {{item ? item.percent + '%' : ''}}
        <div :class="$style['u-tooltip']">
            <slot :name="'tooltipTemplate'+index">{{item.name || item.key}}: {{item.percent}}%</slot>
        </div>
    </div>
</u-chart>
