$m-pieChart_g_size: 120px;

.elsvg {
    width: 100%;
    height: 100%;
    display: block;
    margin: 0 auto;

}
.elsvg .elg {
    width: $m-pieChart_g_size;
    height: $m-pieChart_g_size;
}

.item {
    fill: blue;
    stroke: white;
    stroke-width: 0.5px;
    transition: opacity 0.2s ease;
}

.item:hover {
    opacity: 0.8;
}

.text {
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    font-size: 12px;
    transform: translate(-50%, -50%);
    color: white;
    cursor: default;
}
.text .u-tooltip {
    display: none;
}

.text:hover {
    z-index: 1;
}
.text:hover .u-tooltip {
    display: block;
    position: absolute;
    margin-left: 100%;
    left: 8px;
    top: 0;
}
.u-tooltip{
    display:inline-block;
    position: relative;
    box-sizing: border-box;
    max-width:200px;
    padding:4px 8px;
    font-size:12px;
    background: #333;
    color:#eee;
}
.u-tooltip:after {
    content: '';
    display: block;
    position: absolute;
    border: 5px solid #333;
    left: -5px;
    top: 10px;
    border-left: none;
    border-top-color: transparent;
    border-bottom-color:transparent;
}

.root .item:nth-of-type(1) { fill: rgb(0,153,255); }
.root .item:nth-of-type(2) { fill: rgb(255,174,60); }
.root .item:nth-of-type(3) { fill: rgb(78,201,171); }
.root .item:nth-of-type(4) { fill: rgb(245,131,122); }
.root .item:nth-of-type(5) { fill: rgb(158,156,246); }
