@import 'u-button.vue/module.css';

.root {
    border-color: #cdcdcd;
    color: #333;
    padding: 0 30px;
}

.root:active {
    background-color: white;
    box-shadow: inset 0 1px 3px rgba(0,0,0,0.2);
}

.root[disabled] {
    color: #ccc;
    border-color: #ddd;
}

/**
 * Color extends
 */

.root[color=primary] {
    background: $brand-primary;
    color: white;
    border: none;
}

.root[color=primary]:hover {
    background: #5b96d9;
}

.root[color="primary"][disabled] {
    background: #d9d9d9;
}

/**
 * Size extends
 */

.root[size=small] {
    height: 30px;
    line-height: 30px;
    padding: 0 10px;
}

.root[square] {
    width: $height-base;
    padding: 0;
}
