@import 'proto-ui.vusion/src/u-input.vue/module.css';

.root {
    max-width: 100%;
}

.input {
    width: 160px;
    max-width: 100%;
    height: $height-base;
    padding: 0 10px;
    color: #666;
    border-color: $brand-secondary;
    border-radius: 3px;
    transition: border-color $transition-duration;
}

.input::placeholder {
    /* Removes placeholder transparency in Firefox. */
    opacity: 1;
    color: #999;
}

.input:focus {
    border-color: #8ebee9;
}

.input[color="error"] {
    border-color: #ff867f;
}

.input[disabled] {
    background-color: #e9f0f5;
    border-color: #e9f0f5;
}

.input[size$="mini"] { width: 80px; padding: 0 6px; }
.input[size^="mini"] { height: 28px; }

.input[size$="small"] { width: 120px; padding: 0 8px; }
.input[size^="small"] { height: 30px; }

.input[size$="normal"] { width: 160px; padding: 0 10px; }
.input[size^="normal"] { height: $height-base; }

.input[size$="large"] { width: 360px; padding: 0 10px; }
.input[size^="large"] { height: 38px; }

.input[size$="huge"] { width: 440px; padding: 0 10px; }
.input[size^="huge"] { height: 40px; }

.root[size$="full"] { width: 100%; }
.input[size$="full"] { width: 100%; padding: 0 10px; }
.root[size^="full"] { height: 100%; }
.input[size^="full"] { height: 100%; }
