@import 'u-input.vue/module.css';

.root {
    max-width: 100%;
}

.input {
    width: 200px;
    max-width: 100%;
    height: $height-base;
    padding: 0 10px;
    color: #666;
    border-color: #e1e8ed;
    border-radius: 3px;
    transition: border-color $transition-duration;
}

.input::placeholder {
    /* Removes placeholder transparency in Firefox. */
    opacity: 1;
    color: #999;
}

.input:focus {
    border-color: #8ebee9;
}

.input[color="error"] {
    border-color: #ff867f;
}

.input[disabled] {
    background-color: #e9f0f5;
    border-color: #e9f0f5;
}

.input[size$="large"] { width: 440px; padding: 0 12px; }
.input[size^="large"] { height: 40px; }
.input[size$="small"] { width: 140px; padding: 0 8px; }
.input[size^="small"] { height: 28px; }
