@import 'u-form.vue/module.css';

.root[inline] .item {
    display: inline-block;
    margin-right: 20px;
}

.root[inline] .item-title {
    display: inline-block;
    float: none;
    width: auto;
}

.root[inline] .item-field {
    display: inline-block;
    float: none;
    margin-left: 10px;
}
