.root {
    display: inline-block;
    cursor: pointer;
    margin-right: 20px;
    color: #666;
}
.root:hover {
    color: $brand-primary;
}
.root[disabled] {
    color: #ccc;
    cursor: not-allowed;
}
.root[type='dropdownItem'] {
    display: block;
    border-bottom: 1px solid #e1e8ed;
    width: 100px;
    padding: 0 15px;
    line-height: 2.4;
    margin-right: 0px;
}