<div :class="$style.root" :readonly="readonly" :disabled="disabled">
    <template v-if="data">
        <component :is="ChildComponent"
            v-for="node in data"
            :text="node[field]"
            :key="node.key"
            :value="node.value"
            :expanded.sync="node.expanded"
            :checked.sync="node.checked"
            :disabled="node.disabled"
            :hidden="node.hidden"
            :data="node.children"
            :node="node"
        ></component>
    </template>
    <slot></slot>
</div>
