.root {
    display: inline-block;
    cursor: pointer;

    height: 35px;
    line-height: 35px;
    color: #9dabc2;
    padding: 0 20px;
    transition: color 0.2s;
}

.root:hover {
    color: $brand-primary;
}

.root[selected] {
    color: $brand-primary;
}
