.root {
    cursor: var(--cursor-pointer);
    margin-left: var(--tree-view-node-margin-left);
}

.item {
    position: relative;
}

.sub {}

.back {
    position: absolute;
    left: -10000px;
    right: -10000px;
    height: 100%;
}

.expander {
    position: absolute;
    z-index: 1;
    width: var(--tree-view-node-expander-size);
    height: var(--tree-view-node-expander-size);
    line-height: var(--tree-view-node-expander-size);
    text-align: center;
    margin-top: -1px;
    margin-left: calc(var(--tree-view-node-margin-left) * -1);
}

.expander::before {
    content: '▸';
}

.expander[expanded]::before {
    content: '▾';
}

.text {
    position: relative;
    padding: var(--tree-view-node-text-padding);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.item:hover .back {
    background: var(--tree-view-node-background-active);
}

.item:focus {
    outline: var(--focus-outline);
}

.item:focus .back {
    background: var(--tree-view-node-background-active);
}

.item[readonly] {
    cursor: default;
}

.item[readonly] .back {
    background: var(--tree-view-node-background-readonly);
}

.item[selected] .back {
    background: var(--tree-view-node-background-selected);
}

.item[selected] .text {
    color: var(--tree-view-node-color-selected);
}

.item[selected] .expander {
    color: var(--tree-view-node-expander-color-selected);
}

.item[disabled] {
    /* @Private */
    cursor: var(--cursor-not-allowed);
    color: var(--tree-view-node-color-disabled);
}

.item[disabled] .back {
    background: var(--tree-view-node-background-disabled);
}

.item[selected][disabled] .back {
    background: var(--tree-view-node-background-selected-disabled);
}
