<div :class="$style.root">
    <div v-show="false"><slot></slot></div>
    <u-linear-layout gap="small">
        <template v-for="itemVM in outsideVMs">
            <u-create-element tag="u-link" :key="itemVM._uid"
                v-bind="itemVM.$attrs" v-on="itemVM.$listeners"
                :data="itemVM.$vnode.data" :children="itemVM.$slots.default">
            </u-create-element>
        </template>
        <u-popup v-if="insideVMs.length" :placement="placement">
            <u-link>{{ menuTitle }} ▾</u-link>
            <u-menu slot="popper">
                <template v-for="itemVM in insideVMs">
                    <u-create-element tag="u-menu-item" :key="itemVM._uid"
                        v-bind="itemVM.$attrs" v-on="itemVM.$listeners"
                        :data="itemVM.$vnode.data" :children="itemVM.$slots.default">
                    </u-create-element>
                </template>
            </u-menu>
        </u-popup>
    </u-linear-layout>
</div>
