<div :class="[animation === '' ? '' : ('m-carousel-' + animation), $style.root]"
    :style="{width: width + 'px', height: height + 'px'}" @mouseover="rootMouseover" @mouseout="rootMouseout">
    <div :class="$style.list" @mouseover="mouseover" @mouseout="mouseout">
        <slot></slot>
        <div :class="$style.slice"
            v-if="animation.includes('slice')"
            v-show="slice.showSlice">
            <u-carousel-slice v-for="item in slice.topItems" :style="item.style" :content="item.html" :key="item.id" :allAnimationEnd="allAnimationEnd"></u-carousel-slice>
        </div>
    </div>
    <ul :class="$style.nav">
        <li :class="$style.navitem" v-for="(item, index) in items"
            :selected="current === index"
            @click="select(index)">
        </li>
    </ul>
    <a v-show="showButton" :class="$style.button" role="pre" @click="pre()"></a>
    <a v-show="showButton" :class="$style.button" role="next" @click="next()"></a>
</div>