@import '../../../src/components/u-bar-chart.vue/module.css';

.bar[role="bar-static"]:nth-of-type(1) {
    border-color: $theme-chart-color1;
    background: $theme-chart-rgba-color1;
}

.bar[role="bar-static"]:nth-of-type(2) {
    border-color: $theme-chart-color2;
    background: $theme-chart-rgba-color2;
}

.bar[role="bar-static"]:nth-of-type(3) {
    border-color: $theme-chart-color3;
    background: $theme-chart-rgba-color3;
}

.bar[role="bar-static"]:nth-of-type(4) {
    border-color: $theme-chart-color4;
    background: $theme-chart-rgba-color4;
}

.bar[role="bar-static"]:nth-of-type(5) {
    border-color: $theme-chart-color5;
    background: $theme-chart-rgba-color5;
}

.bar[role="bar-static"]:nth-of-type(6) {
    border-color: $theme-chart-color6;
    background: $theme-chart-rgba-color6;
}

.bar[role="bar-static"]:nth-of-type(7) {
    border-color: $theme-chart-color7;
    background: $theme-chart-rgba-color7;
}

.bar[role="bar-static"]:nth-of-type(8) {
    border-color: $theme-chart-color8;
    background: $theme-chart-rgba-color8;
}

.bar[role="bar-static"]:nth-of-type(9) {
    border-color: $theme-chart-color9;
    background: $theme-chart-rgba-color9;
}

.bar[role="bar-static"]:nth-of-type(10) {
    border-color: $theme-chart-color10;
    background: $theme-chart-rgba-color10;
}
