<div :class="$style.root" :readonly="readonly" :disabled="disabled" :counter="counter" :layout="layout" :size="size">
    <nav :class="$style.head">
        <a :class="$style.item"
            v-for="(itemVM, index) in itemVMs"
            :vusion-scope-id="itemVM.$attrs['vusion-scope-id']"
            :vusion-node-path="itemVM.$attrs['vusion-node-path']"
            :passed="selectedVM && index <= selectedVM.index"
            :selected="selectedVM && index === selectedVM.index"
            :disabled="itemVM.disabled || disabled"
            v-show="!itemVM.hidden"
            :style="{ width: currentItemWidth }">
            <div :class="$style['item-body']" @click="select(itemVM)" :title="itemVM.title">
                <span :class="$style.radio"></span>
                <span :class="$style.title"><f-slot :vm="itemVM" name="title">{{ itemVM.title }}</f-slot></span>
                <u-tooltip v-if="itemVM.tooltip || itemVM.$slots.tooltip">
                    <f-slot name="tooltip" :vm="itemVM">{{ itemVM.tooltip }}</f-slot>
                </u-tooltip>
            </div>
        </a>
    </nav>
    <div :class="$style.body">
        <slot></slot>
    </div>
</div>
