@extend;

.item {
    vertical-align: top;
}

.item-body {
    color: #666;
}

.radio {
    line-height: var(--steps-item-radio-size);
    font-size: 12px;
    color: #999;
}

.title {
    padding-top: 4px;
    line-height: var(--steps-item-radio-size);
}

.item::before {
    top: 12px;
    height: 1px;
}

.body {
    margin-top: 20px;
}

.root[counter] .head {
    counter-reset: stop;
}

.root[counter] .item {
    counter-increment: step;
}

.root[counter] .radio::before {
    content: counter(step);
}

.root[layout="block"] .title {
    display: block;
}

.root[layout="inline"] .title {
    display: inline-block;
    padding: 0 4px;
    vertical-align: -1px;
}
