@extend;

.item {
    vertical-align: top;
}

.item-body {
    color: #666;
}

.radio {
    width: 18px;
    height: 18px;
    line-height: 18px;
    font-size: 12px;
    color: #999;
    background-color: $brand-secondary;
}

.title {
    padding-top: 4px;
    line-height: 18px;
}

.item::before {
    top: 12px;
    height: 1px;
    background-color: $brand-secondary;
}

.root[shape-size="large"] .radio {
    width: 24px;
    height: 24px;
    line-height: 24px;
}

.item[disabled] .item-body {
    color: $field-disabled-color;
}

.body {
    margin-top: 20px;
}

.root[counter] .head {
    counter-reset: stop;
}

.root[counter] .item {
    counter-increment: step;
}

.root[counter] .radio::before {
    content: counter(step);
}

.root[layout="block"] .title {
    display: block;
}

.root[layout="inline"] .title {
    display: inline-block;
    padding: 0 4px;
    vertical-align: -1px;
}
