.root {}

.head {
    text-align: center;
}

.item {
    display: inline-block;
    position: relative;
    width: var(--steps-item-width);
}

.item-body {
    display: inline-block;
    cursor: var(--cursor-pointer);
    position: relative;
    z-index: 2;
}

.root[readonly] .item-body {
    cursor: default;
}

.item[disabled] .item-body {
    color: var(--steps-item-disabled-color);
    cursor: var(--cursor-not-allowed);
}

.radio {
    display: inline-block;
    content: '';
    width: var(--steps-item-radio-size);
    height: var(--steps-item-radio-size);
    border-radius: 100%;
    margin-left: -5px;
    background: var(--steps-item-radio-background);
}

.title {
    display: block;
}

.item::before {
    display: block;
    content: '';
    pointer-events: none;
    position: absolute;
    z-index: 1;
    right: 50%;
    top: 10px;
    width: 100%;
    height: 2px;
    background-color: var(--steps-item-radio-background);
}

.item[passed]::before {
    background-color: var(--steps-item-passed-background-color);
}

.item:first-child::before {
    display: none;
}

.item[passed] .radio {
    background-color: var(--steps-item-passed-background-color);
    color: var(--steps-item-passed-radio-color);
}

.body {
    margin-top: 10px;
}

.item {
    vertical-align: top;
}

.item-body {
    color: #666;
}

.radio {
    line-height: var(--steps-item-radio-size);
    font-size: 12px;
    color: #999;
}

.title {
    padding-top: 4px;
    line-height: var(--steps-item-radio-size);
}

.item::before {
    top: 12px;
    height: 1px;
}

.body {
    margin-top: 20px;
}

.root[counter] .head {
    counter-reset: stop;
}

.root[counter] .item {
    counter-increment: step;
}

.root[counter] .radio::before {
    content: counter(step);
}

.root[layout="block"] .title {
    display: block;
}

.root[layout="inline"] .title {
    display: inline-block;
    padding: 0 4px;
    vertical-align: -1px;
}
