<u-old-popper ref="popper" :trigger="trigger" :placement="placement" :reference="reference"
    :open="open" :hide-delay="hideDelay" :follow-cursor="followCursor" :offset="offset" v-on="$listeners" :disabled="disabled">
    <slot></slot>
    <div :class="[$style.root, $style.popper]" slot="popper" :merge-borders="mergeBorders">
        <span :class="$style.arrow"></span><!-- popper在某些场景下可以移动该元素 -->
        <slot name="popper">
            <div>
                <div :class="$style.head" v-if="title || $slots.head || $slots.title">
                    <slot name="head">
                        <div :class="$style.title">
                            <slot name="title">{{ title }}</slot>
                        </div>
                    </slot>
                </div>
                <div :class="$style.body" v-if="content || $slots.body || $slots.content">
                    <slot name="body">
                        <slot name="content">{{ content }}</slot>
                    </slot>
                </div>
                <div :class="$style.foot" v-if="$slots.foot">
                    <slot name="foot"></slot>
                </div>
            </div>
        </slot>
    </div>
</u-old-popper>
