.root {
    position: relative;
    display: inline-block;
    padding: 16px 0 16px 20px;
    vertical-align: top;
    line-height: 24px;
    white-space: nowrap;
}

.root[column="1"] { width: 100%; }
.root[column="2"] { width: 50%; }
.root[column="3"] { width: 33.333%; }
.root[column="4"] { width: 25%; }

.label {
    display: table-cell;
    padding-right: 20px;
    color: var(--color-light);
}

.root[label-size$="small"] .label { width: 80px; }
.root[label-size$="normal"] .label { width: 100px; }
.root[label-size$="large"] .label { width: 120px; }

.value {
    display: table-cell;
    white-space: normal;
    word-break: break-all;
    width: 100%;
}

.value[ellipsis] {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 100%;
    max-width: 0;
}
