@import '../../src/u-chart.vue/module.css';
.item:before{
    background: rgba(97,218,198, 0.6);
}

.item:nth-of-type(1):before {
    background: $theme-chart-color1;
}

.item:nth-of-type(2):before {
    background: $theme-chart-color2;
}

.item:nth-of-type(3):before {
    background: $theme-chart-color3;
}

.item:nth-of-type(4):before {
    background: $theme-chart-color4;
}

.item:nth-of-type(5):before {
    background: $theme-chart-color5;
}

.item:nth-of-type(6):before {
    background: $theme-chart-color6;
}

.item:nth-of-type(7):before {
    background: $theme-chart-color7;
}

.item:nth-of-type(8):before {
    background: $theme-chart-color8;
}
.item:nth-of-type(9):before {
    background: $theme-chart-color9;
}
.item:nth-of-type(10):before {
    background: $theme-chart-color10;
}
.item:nth-of-type(11):before {
    border-color: $theme-chart-color11;
}

.item:nth-of-type(12):before {
    border-color: $theme-chart-color12;
}

.item:nth-of-type(13):before {
    border-color: $theme-chart-color13;
}

.item:nth-of-type(14):before {
    border-color: $theme-chart-color14;
}

.item:nth-of-type(15):before {
    border-color: $theme-chart-color15;
}

.item:nth-of-type(16):before {
    border-color: $theme-chart-color16;
}

.item:nth-of-type(17):before {
    border-color: $theme-chart-color17;
}

.item:nth-of-type(18):before {
    border-color: $theme-chart-color18;
}

.item:nth-of-type(19):before {
    border-color: $theme-chart-color19;
}

.item:nth-of-type(20):before {
    border-color: $theme-chart-color20;
}