.root {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 3000;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    overflow: hidden;
    background: rgba(0, 0, 0, 0.6);
}

.root::before {
    content: "";
    height: 100%;
    display: inline-block;
    vertical-align: middle;
}

.top {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: var(--lightbox-head-height);
    background: black;
    color: white;
    z-index: 10;
    text-align: center;
    font-size: 14px;
    line-height: var(--lightbox-head-height);
}

.close {
    position: absolute;
    top: 0;
    right: 10px;
    bottom: 0;
}

.close:hover { color: #888; }

.close::before {
    content: '\00d7';
    font-size: 40px;
    line-height: var(--lightbox-head-height);
}

.wrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.root[static] {
    position: static;
    padding: var(--space-base);
}

.button[role='prev'] {
    transform: rotate(180deg);
    transform-origin: 50% 43%;
}

.button[role='prev']::before {
    icon-font: url('../i-icon.vue/icons/keyboard-arrow-right.svg');
}

.button[role='next']::before {
    icon-font: url('../i-icon.vue/icons/keyboard-arrow-right.svg');
}

.button[role='rotateRight']::before {
    icon-font: url('../i-icon.vue/icons/rotate-right.svg');
}

.button[role='rotateLeft']::before {
    icon-font: url('../i-icon.vue/icons/rotate-left.svg');
}

.optionsColl {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 60px;
    text-align: center;
    z-index: 10;
}

.operation {
    display: inline-block;
    margin: 0;
    padding: 0;
    color: rgba(255, 255, 255, 0.7);
    font-size: 60px;
    height: 60px;
    line-height: 1;
    background: rgba(0, 0, 0, 0.2);
    border-radius: 30px;
    user-select: none;
    overflow: hidden;
}

.operation > li {
    display: inline-block;
    float: left;
    padding: 0 30px;
}

.operation > li[disabled] {
    color: rgba(256, 256, 256, 0.2);
}
.operation > li:hover {
    background: rgba(0, 0, 0, 0.1);
    cursor: var(--cursor-pointer);
}
.operation > li[disabled]:hover {
    cursor: auto;
}
