.root {
    position: relative;
}

.head {
    padding: var(--group-head-padding);
    background: var(--group-head-background);
}

.text {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.body {
    /* transition: 0.3s height ease-in-out, 0.3s padding-top ease-in-out, 0.3s padding-bottom ease-in-out; */
}

.expander {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
    width: var(--group-expander-size);
    height: var(--group-expander-size);
    line-height: var(--group-expander-size);
    text-align: center;
}

.expander::before {
    content: '▸';
}

.expander[expanded]::before {
    content: '▾';
}

.root[disabled] .expander {
    color: var(--group-expander-color-disabled);
}

.extra {
    float: right;
}
