$brand-default: #f4f4f4;
$media-sm-max-width: 767px;

.root {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    touch-action: cross-slide-y pinch-zoom double-tap-zoom;
    text-align: center;
    overflow: hidden;
    background: rgba(0, 0, 0, 0.6);
}

.root:before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}

.dialog {
    display: inline-block;
    vertical-align: middle;
    text-align: left;
    background: white;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
}

.head {
    position: relative;
    padding: 15px;
    border-bottom: 1px solid $brand-default;
}

.title {
    margin: 0;
    font-size: 18px;
}

.close {
    position: absolute;
    right: 15px;
    top: 18px;
    line-height: 1;
    color: #bbb;

    &:hover { color: #888; }

    &:before {
       content:'\00d7';
       display: block;
       transform: scale(2);
    }
}

.body {
    padding: 15px;
    min-height: 10px;
}

.foot {
    padding: 15px;
    text-align: center;
    border-top: 1px solid $brand-default;
}

.root .button {
    margin-right: 20px;
}

.root .button:last-child {
    margin-right: 0;
}

@media (max-width: $media-sm-max-width) {
    .item {
        width: auto;
        margin: 10px;
    }
}

.root[static] {
    position: static;
    padding: $margin-base;
}
