$brand-default: #f4f4f4;
$media-sm-max-width: 767px;
.root {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
    -webkit-overflow-scrolling: touch;
    touch-action: cross-slide-y pinch-zoom double-tap-zoom;
    text-align: center;
    overflow: hidden;
    overflow-y: auto;
    background: rgba(0, 0, 0, 0.6);
    padding-top: 65px;
    padding-bottom: 30px;
}

.root:before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}

.dialog {
    width: 400px;
    display: inline-block;
    vertical-align: middle;
    text-align: left;
    background: white;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
}

.dialog[size="small"] {
    width: 300px;
}

.dialog[size="normal"] {
    width: 400px;
}

.dialog[size="large"] {
    width: 600px;
}

.dialog[size="huge"] {
    width: 800px;
}

.dialog[size="auto"] {
    width: auto;
}

.body[icon ="warning"]:before {
    icon-font: url('../u-icon.vue/icons/alert.svg');
    color: #9ba4ad;
    margin: -24px 10px 0px 40px;
    font-size: 60px;
    height: 60px;
    float: left;
}

.head {
    position: relative;
    padding: 15px;
    border-bottom: 1px solid $brand-default;
}

.title {
    margin: 0;
    font-size: 14px;
}

.close {
    position: absolute;
    right: 15px;
    top: 18px;
    line-height: 1;
    color: #bbb;
}

.close:hover {
    color: #888;
}

.close:before {
    icon-font: url(../u-icon.vue/icons/close.svg);
    font-size: 14px;
}

.body {
    padding: 50px 15px 0;
    min-height: 10px;
}

.foot {
    padding: 50px 0;
    text-align: center;
    /* border-top: 1px solid $brand-default; */
}

@media (max-width: $media-sm-max-width) {
    .dialog {
        width: auto;
        margin: 10px;
    }
}

.root[static] {
    position: static;
    padding: $margin-base;
}

