

.root {}

.track {
    overflow: hidden;
    height: var(--linear-progress-height-base);
    line-height: var(--linear-progress-height-base);
    background: var(--linear-progress-track-background);
}

.trail {
    width: 0;
    height: 100%;
    float: left;
    background: var(--linear-progress-trail-background);
    font-size: var(--linear-progress-trail-font-size);
    color: var(--linear-progress-trail-color);
    transition: var(--linear-progress-trail-transition);
}

.track[size="small"] {
    height: var(--linear-progress-height-small);
    line-height: var(--linear-progress-height-small);
}

.track[size="large"] {
    height: var(--linear-progress-height-large);
    line-height: var(--linear-progress-height-large);
}

.track[size="huge"] {
    height: var(--linear-progress-height-huge);
    line-height: var(--linear-progress-height-huge);
}
.trail {
    position: relative;
}
