@extend;

.track[size="small"] {
    height: var(--linear-progress-height-small);
    line-height: var(--linear-progress-height-small);
}

.track[size="large"] {
    height: var(--linear-progress-height-large);
    line-height: var(--linear-progress-height-large);
}

.track[size="huge"] {
    height: var(--linear-progress-height-huge);
    line-height: var(--linear-progress-height-huge);
}
.trail {
    position: relative;
}
