@import '../../src/u-button.vue/module.css';

.root {
    border-radius: $border-radius-base;
}

.root[disabled] {
    background: white;
    color: #ccc;
    border-color: #ddd;
}

.root[color="primary"]:hover {
    background: #6098eb;
    color: #ffffff;
}

.root[color="primary"][disabled] {
    background: #d9d9d9;
    color: white;
}
