@extends;

.text {
    height: 100%;
}

.wrap {
    position: absolute;
    width: 100%;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
}

.percent {
    font-size: 20px;
    color: var(--color-light);
    line-height: 30px;
}

.self {
    font-size: 14px;
    color: var(--color-light);
}

.footer {
    text-align: center;
    color: var(--color-light);
    font-size: 14px;
}

.trail {
    stroke-linecap: round;
}

.trail[linecap] {
    stroke-linecap: initial;
}
