.root:not(:last-child) {
    margin-bottom: 20px;
}

.title {
    box-sizing: content-box;
    padding: 6px 20px;
    margin: 0;
    height: 30px;
    line-height: 30px;
    color: var(--color-base);
    background-color: var(--background-color-light);
    border-bottom: 1px solid var(--border-color-base);
}

.list {
    display: table;
    table-layout: fixed;
    width: 100%;
}
