.root:not(:last-child) {
    margin-bottom: 20px;
}

.head {
    padding: 6px 20px;
    margin: 0;
    line-height: 30px;
    color: var(--color-base);
    background-color: var(--background-color-light);
    border-bottom: 1px solid var(--border-color-base);
}

.head::after {
    content: '';
    clear: both;
}

.title {
    display: inline-block;
}

.extra {
    float: right;
}

.body {
    display: table;
    table-layout: fixed;
    width: 100%;
}
