<div :class="$style.root">
    <div v-show="false"><slot></slot></div>
    <u-linear-layout gap="small">
        <u-link v-for="itemVM in outsideVMs" :key="itemVM._uid"><u-render :vnode="itemVM.$slots.default"></u-render></u-link>
    </u-linear-layout>
    <u-popup>
        <u-link>更多</u-link>
        <u-menu slot="popper">
            <u-menu-item v-for="itemVM in insideVMs" :key="itemVM._uid"><u-render :vnode="itemVM.$slots.default"></u-render></u-menu-item>
        </u-menu>
    </u-popup>
</div>
