<div :class="$style.root" :mini="!expanded">
    <!-- 最小化显示节点 -->
    <div v-show="!expanded" :class="$style.mini" @click="expand()">
        <span :class="$style['mini-text']">
            <slot name="mini" :item="item" :text="miniText">{{ miniText || '-' }}</slot>
        </span>
        <div :class="$style.textWrap">
            <!-- 错误提示 -->
            <span v-show="firstError" :class="$style.error">{{ firstError }}</span>
            <!-- 展开操作 -->
            <u-link @click="expand()">{{ $t('expand') }}</u-link>
        </div>
    </div>
    <div v-show="expanded">
        <div :class="$style.actions">
            <u-linear-layout>
                <u-link :disabled="disableRemove" @click="remove()">{{ $t('remove') }}</u-link>
                <u-link @click="collapse()">{{ $t('collapse') }}</u-link>
            </u-linear-layout>
        </div>
        <slot :item="item" :index="index"></slot>
    </div>
</div>
