<u-chart :class="$style.root" :title="title" :border="border" :legend="legend" readonly :series="currentData" :data="data"
    :width="width" :height="height" @select-series="selectedItem = $event.series">
    <slot name="title" slot="title"></slot>
    <slot name="caption" slot="caption"></slot>
    <svg :class="$style.svg" ref="svg" viewBox="0 0 200 200">
        <g :class="$style.group" transform="translate(100, 100)">
            <template v-if="zero">
                <circle :class="$style.zero" cx="0" cy="0" :r="RADIUS">
                    <m-popper :class="$style.tooltip" trigger="hover" placement="right-start" offset="0 10" follow-cursor>
                        <u-chart-tooltip :percent='0' type="piechart" :row="data" :vnode="$scopedSlots.tooltip"></u-chart-tooltip>
                    </m-popper>
                </circle>
            </template>
            <g v-if="!zero">
                <template v-for="item in currentData">
                    <circle v-if="item.percent === 100" :class="$style.item" cx="0" cy="0" :r="RADIUS"
                        :color="item.color" :style="{ fill: item.color }"
                        :selected="item === selectedItem" @mouseover="onMouseOver(item)">
                        <m-popper :class="$style.tooltip" trigger="hover" placement="right-start" offset="0 10" follow-cursor>
                            <u-chart-tooltip type="piechart" :row="item" :vnode="$scopedSlots.tooltip"></u-chart-tooltip>
                        </m-popper>
                    </circle>
                    <path v-else :class="$style.item" :d="item.d"
                        :color="item.color" :style="{ fill: item.color }"
                        :selected="item === selectedItem" @mouseover="onMouseOver(item)">
                        <m-popper :class="$style.tooltip" trigger="hover" placement="right-start" offset="0 10" follow-cursor>
                            <u-chart-tooltip type="piechart" :row="item" :vnode="$scopedSlots.tooltip"></u-chart-tooltip>
                        </m-popper>
                    </path>
                </template>
            </g>
            <g v-if="!zero">
                <path v-for="item in currentData" v-if="item.label" :class="$style['label-line']" :d="item.label.d" :selected="item === selectedItem" />
            </g>
                <!-- <div slot="content">
                    <slot name="tooltip" :item="item">{{ item.percentage }}%</slot>
                </div>
            </u-tooltip> -->
        </g>
    </svg>
    <div v-if="zero" :class="$style['zero-text']">
        <div>
            <div>0%</div>
            <m-popper :class="$style.tooltip" trigger="hover" placement="right-start" offset="0 10" follow-cursor>
                <u-chart-tooltip :percent='0' type="piechart" :row="data" :vnode="$scopedSlots.tooltip"></u-chart-tooltip>
            </m-popper>
        </div>
    </div>
    <template v-else>
        <div v-for="item in currentData" v-if="item.label" :class="$style.label"
            :style="getLabelStyle(item)" :selected="item === selectedItem">
            <slot name="label">{{ item.name }}: {{ item.percentage }}%</slot>
        </div>
    </template>
</u-chart>
