:root {
    --pie-chart-group_size: 120px;
}

.root {}

.svg {
    width: 100%;
    height: 100%;
    display: block;
    margin: 0 auto;
}

.group {
    width: var(--pie-chart-group_size);
    height: var(--pie-chart-group_size);
}

.item {
    fill: var(--brand-info);
    stroke: white;
    stroke-width: 1px;
    transition: opacity 0.2s ease;
}

.item:hover {
    opacity: 0.8;
}

.item[selected] {
    opacity: 0.8;
}


.item:nth-child(1) { fill: var(--theme-chart-color1); }
.item:nth-child(2) { fill: var(--theme-chart-color2); }
.item:nth-child(3) { fill: var(--theme-chart-color3); }
.item:nth-child(4) { fill: var(--theme-chart-color4); }
.item:nth-child(5) { fill: var(--theme-chart-color5); }
.item:nth-child(6) { fill: var(--theme-chart-color6); }
.item:nth-child(7) { fill: var(--theme-chart-color7); }
.item:nth-child(8) { fill: var(--theme-chart-color8); }
.item:nth-child(9) { fill: var(--theme-chart-color9); }
.item:nth-child(10) { fill: var(--theme-chart-color10); }
.item:nth-child(11) {
    fill: var(--theme-chart-color11);
}
.item:nth-child(12) {
    fill: var(--theme-chart-color12);
}
.item:nth-child(13) {
    fill: var(--theme-chart-color13);
}
.item:nth-child(14) {
    fill: var(--theme-chart-color14);
}
.item:nth-child(15) {
    fill: var(--theme-chart-color15);
}
.item:nth-child(16) {
    fill: var(--theme-chart-color16);
}
.item:nth-child(17) {
    fill: var(--theme-chart-color17);
}
.item:nth-child(18) {
    fill: var(--theme-chart-color18);
}
.item:nth-child(19) {
    fill: var(--theme-chart-color19);
}
.item:nth-child(20) {
    fill: var(--theme-chart-color20);
}

.item[color][color="info"] { fill: var(--brand-info); }
.item[color][color="warning"] { fill: var(--brand-warning); }
.item[color][color="success"] { fill: var(--brand-success); }
.item[color][color="error"] { fill: var(--brand-error); }
.item[color][color="primary"] { fill: var(--brand-primary); }

.label-line {
    display: none;
    fill: none;
    stroke-width: 1px;
    stroke: var(--border-color-base);
}

.label-line[selected] {
    display: block;
}

.label {
    display: none;
    position: absolute;
    top: 0;
    white-space: nowrap;
}

.label[selected] {
    display: block;
}

.text {
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    font-size: 12px;
    transform: translate(-50%, -50%);
    color: white;
    cursor: default;
}

.zero {
    fill: white;
    stroke: var(--brand-disabled);
    stroke-width: 1;
    stroke-dasharray: 4, 4;
}

.zero-text {
    position: absolute;
    left: 50%;
    top: 50%;
    font-size: 20px;
    transform: translate(-50%, -50%);
}
