$group_size: 120px;

.root {}

.svg {
    width: 100%;
    height: 100%;
    display: block;
    margin: 0 auto;
}

.group {
    width: $group_size;
    height: $group_size;
}

.item {
    fill: $brand-info;
    stroke: white;
    stroke-width: 1px;
    transition: opacity 0.2s ease;
}

.item:hover {
    opacity: 0.8;
}

.item[selected] {
    opacity: 0.8;
}

.item:nth-of-type(5n+1), .item[color][color="info"] { fill: $brand-info; }
.item:nth-of-type(5n+2), .item[color][color="warning"] { fill: $brand-warning; }
.item:nth-of-type(5n+3), .item[color][color="success"] { fill: $brand-success; }
.item:nth-of-type(5n+4), .item[color][color="error"] { fill: $brand-error; }
.item:nth-of-type(5n+5), .item[color][color="primary"] { fill: $brand-primary; }

.label-line {
    display: none;
    fill: none;
    stroke-width: 1px;
    stroke: $border-color-base;
}

.label-line[selected] {
    display: block;
}

.label {
    display: none;
    position: absolute;
    top: 0;
    white-space: nowrap;
}

.label[selected] {
    display: block;
}

.text {
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    font-size: 12px;
    transform: translate(-50%, -50%);
    color: white;
    cursor: default;
}

.zero {
    fill: white;
    stroke: $brand-disabled;
    stroke-width: 1;
    stroke-dasharray: 4, 4;
}

.zero-text {
    position: absolute;
    left: 50%;
    top: 50%;
    font-size: 20px;
    transform: translate(-50%, -50%);
}
