.root {
    width: 580px;
}

.root[size="mini"] {
    width: auto;
}

.last-column {
    width: 0;
}

.last-column[dynamic] {
    width: 40px;
}

.add-button {
    margin-top: var(--space-small);
}

.root[size="mini"] {
    width: auto;
}
