@import 'proto-ui.vusion/src/u-combo-slider.vue/module.css';

.main {
    display: inline-block;
    width: 330px;
    vertical-align: -20px;
}

.slider[class] {
    display: inline-block;
    width: 100%;
}

.range {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-image: url(../assets/images/stripe.png);
    background-repeat: repeat-x;
}

.body {
    margin: 0 7px;
}

.input[class] {
    width: 50px;
    margin-left: 10px;
    margin-right: 0.5em;
}

.input[class] input {
    border-radius: 0;
    padding: 0 4px;
    height: 28px;
    line-height: 28px;
    text-align: center;
}

.tip {
    margin-left: 7px;
    margin-bottom: 4px;
    font-size: 12px;
    color: #999;
}

.scales {
    margin: 0 7px;
    font-size: 12px;
    color: #999;
}

.scale {
    display: inline-block;
    width: 33.333333%;
    text-align: center;
}

.scale:first-child {
    text-align: left;
}

.scale:last-child {
    text-align: right;
}
