:global .fade-enter-active, :global .fade-leave-active {
    transition: opacity var(--transition-duration-base);
}
:global .fade-enter, :global .fade-leave-to {
    opacity: 0;
}

:global .fade-fast-enter-active, :global .fade-fast-leave-active {
    transition: opacity var(--transition-duration-fast);
}
:global .fade-fast-enter, :global .fade-fast-leave-to {
    opacity: 0;
}

:global .fly-left-enter-active, :global .fly-left-leave-active {
    transform: translate(0);
    transition: transform var(--transition-duration-base);
}
:global .fly-left-enter, :global .fly-left-leave-to {
    transform: translate(-100%);
}

:global .fly-right-enter-active, :global .fly-right-leave-active {
    transform: translate(0);
    transition: transform var(--transition-duration-base);
}
:global .fly-right-enter, :global .fly-right-leave-to {
    transform: translate(100%);
}
