.fade-enter-active, .fade-leave-active {
    transition: opacity var(--transition-duration-base);
}
.fade-enter, .fade-leave-to {
    opacity: 0;
}

.fade-fast-enter-active, .fade-fast-leave-active {
    transition: opacity var(--transition-duration-fast);
}
.fade-fast-enter, .fade-fast-leave-to {
    opacity: 0;
}

.fly-left-enter-active, .fly-left-leave-active {
    transform: translate(0);
    transition: transform var(--transition-duration-base);
}
.fly-left-enter, .fly-left-leave-to {
    transform: translate(-100%);
}

.fly-right-enter-active, .fly-right-leave-active {
    transform: translate(0);
    transition: transform var(--transition-duration-base);
}
.fly-right-enter, .fly-right-leave-to {
    transform: translate(100%);
}
