@import './typography.css';
@import './animation.css';

body {
    font: var(--font-size-base)/var(--line-height-base) "Helvetica Neue", Helvetica, Tahoma, Arial, "Microsoft YaHei", "PingFang SC", "Hiragino Sans GB", "WenQuanYi Micro Hei", sans-serif;
}

ul[class], ol[class] {
    list-style: none;
    padding-left: 0;
}

::-webkit-scrollbar {
    width: var(--scrollbar-size);
    height: var(--scrollbar-size);
}

::-webkit-scrollbar-track {
    background: none;
}

::-webkit-scrollbar-thumb {
    border-radius: var(--scrollbar-border-radius);
    background: var(--scrollbar-background);
}

::-webkit-scrollbar-button,
::-webkit-scrollbar-corner {
    display: none;
}

input::-ms-clear, input::-ms-reveal {
    display: none;
}
