@import './typography.css';
@import './animation.css';

body {
    font-size: var(--font-size-base);
    line-height: var(--line-height-base);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Helvetica, Tahoma, Arial, 'Noto Sans', 'PingFang SC', 'Microsoft YaHei', 'Hiragino Sans GB', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

ul[class], ol[class] {
    list-style: none;
    padding-left: 0;
}

::-webkit-scrollbar {
    width: var(--scrollbar-size);
    height: var(--scrollbar-size);
}

::-webkit-scrollbar-track {
    background: none;
}

::-webkit-scrollbar-thumb {
    border-radius: var(--scrollbar-border-radius);
    background: var(--scrollbar-background);
}

::-webkit-scrollbar-button,
::-webkit-scrollbar-corner {
    display: none;
}

input::-ms-clear, input::-ms-reveal {
    display: none;
}
