:root {
    /**
     * Global Variables
     */
    /* Color */
    --color-white: white;
    --color-black: black;

    /* Brand Colors */
    --brand-primary: #67aaf5;
    --brand-secondary: #e1e8ed;
    --brand-info: #36a3f7;
    --brand-success: #3ad0af;
    --brand-warning: #ffa136;
    --brand-error: #ff8a7a;
    --brand-disabled: #cddae9;
    --brand-disabled-light: #e7eaef;
    --hover-color: #f4f4f4;
    --brand-tip-color: #a7afbb;

    /* Gray Colors */
    --gray-darkest: #333;
    --gray-darker: #666;
    --gray-dark: #999;
    --gray-base: #aaa;
    --gray-light: #ccc;
    --gray-lighter: #ddd;
    --gray-lightest: #eee;

    /* Component Base Colors */
    --background-color-light: #f7f8fc;
    --background-color-base: #f2f3f8;
    --background-color-dark: #ebedf5;
    --color-base: #565b61;
    --border-color-base: #dfe4ec;

    /* Spacing Dimensions */

    --space-base: 20px;
    --space-shrink: -1px;
    --space-small: 10px;
    --space-large: 30px;

    /* Component Base Dimensions */
    --border-width-base: 1px;
    --width-base: 160px;
    --height-base: 34px;
    --border-radius-base: 2px;
    --line-height-base: 1.6;
    --border-radius-mini: 1px;
    --border-radius-base: 2px;
    --border-radius-large: 4px;
    --line-height-base: 1.6;
    --font-size-base: 14px;

    /* Fonts */
    /* stylelint-disable value-keyword-case */
    --font-family-zh-CN: "Helvetica Neue", helvetica, tahoma, arial, "Microsoft YaHei", "PingFang SC", "Hiragino Sans GB", "WenQuanYi Micro Hei", sans-serif;
    --font-family-code: menlo, consolas, monaco, monospace;
    --tab-size: 4;
    --font-size-base: 14px;
    --font-size-small: calc(var(--font-size-base) * (12 / 14));
    --font-size-large: calc(var(--font-size-base) * (16 / 14));
    --font-size-huge: calc(var(--font-size-base) * (24 / 14));
    --font-weight-lighter: lighter;
    --font-weight-light: 300;
    --font-weight-normal: 400;
    --font-weight-bold: 700;
    --font-weight-bolder: bolder;

    /* Z-Index */
    --z-index-loading: 9000;
    --z-index-toast: 8000;
    --z-index-tooltip: 7010;
    --z-index-popper: 7000;
    --z-index-modal: 5000;
    --z-index-plugin: 2000;
    --z-index-layout: 100;
    --z-index-base: 1;

    /* Component Action Hints */
    --cursor-pointer: pointer;
    --cursor-not-allowed: not-allowed;
    --focus-outline: none;

    /* Transition Duration */
    --transition-duration-none: 0s;
    --transition-duration-base: 0.2s;
    --transition-duration-fast: 0.1s;
    --transition-duration-slow: 0.4s;

    /**
     * Components Variables
     */
    /* Typography */
    --hr-border-color: var(--border-color-base);
    --blockquote-padding: 8px 16px;
    --ulol-padding-left: 20px;
    --pre-font-size: var(--code-font-size);
    --pre-font-family: var(--font-family-code);
    --pre-padding-y: 5px;
    --pre-padding-x: 10px;
    --code-margin-x: 2px;
    --code-padding-y: 3px;
    --code-padding-x: 0;
    --code-background: var(--background-color-light);
    --code-color: #e0276e;
    --code-font-size: var(--font-size-small);

    --kbd-padding-y: 1px;
    --kbd-padding-x: 3px;
    --kbd-font-size: var(--font-size-small);
    --kbd-background: var(--background-color-base);
    --kbd-border-radius: var(--border-radius-base);
    --kbd-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);

    /* Text */
    --text-font-size-small: var(--font-size-small);
    --text-font-size-large: calc(var(--font-size-base) * (18 / 14));
    --text-font-size-huge: calc(var(--font-size-base) * (22 / 14));
    --text-color-primary: var(--brand-primary);
    --text-color-secondary: #999;
    --text-color-success: var(--brand-success);
    --text-color-warning: var(--brand-warning);
    --text-color-error: var(--brand-error);
    --text-color-disabled: var(--brand-disabled);

    /* Link */
    --link-color: #5494db;
    --link-color-disabled: var(--brand-disabled);
    --link-color-light: #6eadff;
    --link-color-white: white;

    /* Button */
    --button-height: var(--height-base);
    --button-height-mini: 24px;
    --button-height-small: 30px;
    --button-padding-y: 0px;
    --button-padding-x: 30px;
    --button-padding-x-mini: 8px;
    --button-padding-x-small: 10px;
    --button-border-width: var(--border-width-base);
    --button-border-radius: var(--border-radius-base);
    --button-background: white;
    --button-background-hover: white;
    --button-background-active: white;
    --button-background-disabled: white;
    --button-background-primary-hover: #5b96d9;
    --button-background-primary-disabled: #d9d9d9;
    --button-color: #333;
    --button-color-hover: var(--brand-primary);
    --button-color-disabled: #ccc;
    --button-color-primary: white;
    --button-color-primary-hover: var(--button-color-primary);
    --button-color-primary-disabled: white;
    --button-color-refresh: #9ba4ad;
    --button-color-refresh-hover: var(--brand-primary);
    --button-border-color: #cdcdcd;
    --button-border-color-hover: var(--brand-primary);
    --button-border-color-disabled: #ddd;
    --button-box-shadow-active: inset 0 1px 3px rgba(0, 0, 0, 0.2);
    --button-loading-size: 18px;
    --button-height-loading: 18px;
    --button-loading-animation-duration: 1s;

    /* Label */
    --label-padding-x: 8px;
    --label-padding-y: 3px;
    --label-font-size: var(--font-size-small);
    --label-background: #cad4e4;
    --label-background-primary: var(--brand-primary);
    --label-background-success: #76b86e;
    --label-background-warning: #ffa136;
    --label-background-error: #ff8a7a;
    --label-color: white;
    --label-color-primary: white;

    /* Badge */
    --badge-background: var(--brand-error);
    --badge-color: white;
    --badge-value-size: 18px;
    --badge-dot-size: 6px;

    /* Avatar */
    --avatar-size: 44px;
    --avatar-size-mini: 16px;
    --avatar-size-small: 32px;
    --avatar-size-large: 64px;
    --avatar-size-huge: 88px;

    /* Status-icon */
    --status-icon-margin-right: 8px;
    --status-icon-color: #333;

    /* Block */
    --block-background: #cad4e4;

    /* Logo */
    --logo-width: var(--sidebar-width);
    --logo-height: var(--navbar-height);

    /* List */
    --list-style: none;
    --list-item-padding: 6px 8px;
    --list-item-border-bottom: 1px solid var(--border-color-base);
    --list-item-background-striped: var(--background-color-light);
    --list-item-background-hover: var(--background-color-base);

    /* Table */
    --table-background: white;
    --table-row-background: var(--background-color-base);
    --table-row-background-hover: var(--background-color-base);
    --table-row-background-striped: var(--background-color-light);
    --table-row-background-primary: rgba(103, 170, 245, 0.2);
    --table-row-background-error: rgb(255, 138, 122, 0.2);
    --table-row-background-dark: var(--background-color-dark);
    --table-row-background-light: var(--background-color-light);
    --table-caption-color: #6a6f75;
    --table-border-color: var(--border-color-base);
    --table-border-width: 1px;

    /* Article */
    --article-table-font-size: calc(var(--font-size-base) * (13 / 14));
    --h1-font-size: calc(var(--font-size-base) * (24 / 14));
    --h2-font-size: calc(var(--font-size-base) * (20 / 14));
    --h3-font-size: calc(var(--font-size-base) * (18 / 14));
    --h4-font-size: calc(var(--font-size-base) * (16 / 14));
    --h5-font-size: calc(var(--font-size-base) * (14 / 14));
    --h6-font-size: calc(var(--font-size-base) * (12 / 14));

    /* Collapse */
    --collapse-item-head-background: var(--background-color-dark);
    --collapse-item-head-padding: 2px 4px;
    --collapse-expander-size: 26px;
    --collapse-expander-color-disabled: var(--brand-disabled);
    --collapse-border: 1px solid var(--border-color-base);

    /* Navbar */
    --navbar-height: 64px;
    --navbar-space-x: 40px;
    --navbar-background: #343e4f;
    --navbar-background-inverse: var(--navbar-background-inverse);
    --navbar-item-space: 34px;
    --navbar-item-padding: 0 10px;
    --navbar-item-font-size: var(--font-size-large);
    --navbar-item-color: white;
    --navbar-item-color-hover: white;
    --navbar-item-color-selected: white;
    --navbar-item-color-disabled: var(--brand-disabled);
    --navbar-item-color-inverse: var(--color-white);
    --navbar-item-line-transition-duration: 0.5s;
    --navbar-divider-margin: 0 30px 0 0;
    --navbar-divider-width: var(--border-width-base);
    --navbar-divider-height: 20px;
    --navbar-divider-background: #ddd;
    --navbar-dropdown-padding: 0 30px 0 10px;
    --navbar-dropdown-icon-font-size: 18px;
    --navbar-dropdown-popper-line-height: var(--line-height-base);
    --navbar-dropdown-popper-font-size: var(--font-size-base);
    --navbar-dropdown-color-disabled: var(--brand-disabled);
    --navbar-select-width: 90px;
    --navbar-select-padding-left: 10px;
    --navbar-select-padding-right: 30px;
    --navbar-select-hover-background: none;
    --navbar-select-focused-background: none;

    /* Sidebar */
    --sidebar-width: 180px;
    --sidebar-background: #2b333f;
    --sidebar-item-height: 54px;
    --sidebar-item-height-small: 32px;
    --sidebar-item-padding-left: 30px;
    --sidebar-item-background: none;
    --sidebar-item-background-selected: #252b33;
    --sidebar-item-background-disabled: #2b333f;
    --sidebar-item-background-selected-disabled: #2b333f;
    --sidebar-item-color: #8594aa;
    --sidebar-item-color-hover: white;
    --sidebar-item-color-selected: white;
    --sidebar-item-color-disabled: #586475;
    --sidebar-group-head-height: 52px;
    --sidebar-group-head-padding-left: 20px;
    --sidebar-group-head-font-weight: var(--font-weight-bold);
    --sidebar-group-head-color: #9dabc2;
    --sidebar-group-head-color-hover: white;
    --sidebar-group-head-color-selected: #9dabc2;
    --sidebar-divider-margin-y: 8px;
    --sidebar-divider-height: var(--border-width-base);
    --sidebar-divider-background: #3d4654;
    --sidebar-expander-color-disabled: var(--brand-disabled);

    /* Menu */
    --menu-background: var(--color-white);
    --menu-border-width: var(--border-width-base);
    --menu-border-color: var(--border-color-base);
    --menu-item-size: 34px;
    --menu-divider-background: var(--border-color-base);
    --menu-divider-margin-y: 9px;
    --menu-divider-height: var(--border-width-base);

    /* Subnav */
    --subnav-item-padding-x: 20px;
    --subnav-item-background-hover: #f6f7f9;
    --subnav-item-background-selected: white;
    --subnav-item-color: #666;
    --subnav-item-color-hover: var(--brand-primary);
    --subnav-item-color-selected: var(--brand-primary);

    /* Tabs */
    --tabs-head-height: auto;
    --tabs-border-width: 1px;
    --tabs-border-color: #e0e6ed;
    --tabs-item-height: 36px;
    --tabs-item-padding-x: 30px;
    --tabs-item-background-hover: #f6f7f9;
    --tabs-item-background-selected: white;
    --tabs-item-background-disabled: white;
    --tabs-item-background-selected-disabled: var(--color-white);
    --tabs-item-color-selected: var(--brand-primary);
    --tabs-item-color-disabled: var(--brand-disabled);
    --tabs-item-border-color-selected: #e0e6ed;

    /* Subtabs */
    --subtabs-border-color: #e0e6ed;

    /* Steps */
    --steps-item-width: 200px;
    --steps-item-disabled-color: var(--brand-disabled);
    --steps-item-radio-background: var(--background-color-base);
    --steps-item-radio-size: 10px;
    --steps-item-radio-size-large: 24px;
    --steps-item-passed-background-color: var(--brand-primary);
    --steps-item-passed-radio-color: var(--color-white);

    /* Crumb */
    --crumb-link-color: var(--brand-primary);
    --crumb-disabled-color: var(--brand-disabled);
    --crumb-margin: 0 5px;

    /* Block */
    --block-background: var(--border-color-base);

    /* Form */
    --form-item-space: 20px;
    --form-inline-item-space: 20px;
    --form-item-label-space: 5px;
    --form-required-color: var(--brand-error);
    --form-message-background-error: var(--brand-error);
    --form-message-background: var(--background-color-base);
    --form-message-padding: 0 5px;
    --form-message-margin-left: 5px;
    --form-message-color-error: var(--color-white);
    --form-item-label-width: 80px;

    /* Validator */
    --validator-message-padding: 0 5px;
    --validator-message-margin-left: 5px;
    --validator-message-background: var(--background-color-base);
    --validator-message-background-error: var(--brand-error);
    --validator-message-color-error: var(--color-white);

    /* Input */
    --input-background-disabled: var(--brand-disabled-light);
    --input-border-color-error: var(--brand-error);
    --input-border-color-focus: var(--brand-primary);
    --input-placeholder-color: var(--brand-tip-color);
    --input-clearable-color: var(--brand-tip-color);
    --input-width: var(--width-base);
    --input-height: var(--height-base);
    --input-padding: 0 8px;
    --input-border-width: 1px;
    --input-background: var(--color-white);
    --input-border-color: var(--border-color-base);
    --input-border-radius: var(--border-radius-base);

    /* Textarea */
    --textarea-width: 320px;
    --textarea-width-mini: var(--width-base);
    --textarea-height: 120px;
    --textarea-min-height: var(--height-base);
    --textarea-padding: 4px 8px;

    /* Number Input */
    --number-input-height: 14px;
    --number-input-line-height: var(--number-input-height);
    --number-input-padding: 0 4px;
    --number-input-background: var(--background-color-base);
    --number-input-background-hover: var(--background-color-dark);
    --number-input-background-active: var(--number-input-background-hover);
    --number-input-background-disabled: var(--background-color-base);
    --number-input-background-readonly: var(--background-color-base);
    --number-input-color-disabled: var(--brand-disabled);

    /* Checkboxes */
    --checkboxes-item-margin-right: 40px;
    --checkbox-size: 18px;

    /* Radios */
    --radios-item-margin-right: 40px;
    --radio-size: 18px;

    /* Switch */
    --switch-height: 22px;
    --switch-button-size: 18px;
    --switch-button-background: var(--color-white);
    --switch-button-transition: all 0.3s;
    --switch-button-radius: 100px;
    --switch-background: var(--border-color-base);
    --switch-background-checked: var(--brand-primary);
    --switch-background-disabled: var(--background-color-base);
    --switch-color: var(--color-white);
    --switch-transition: background-color 0.3s;
    --switch-width: 44px;
    --switch-width-wide: 54px;
    --switch-border-radius: 100px;
    --switch-text-margin: 0 5px;
    --switch-button-space: 2px;

    /* Select */
    --select-border-width: 1px;
    --select-border-color: var(--border-color-base);
    --select-item-hover: none;
    --select-large-width: 260px;
    --select-large-height: 36px;
    --select-small-width: 120px;
    --select-small-height: 30px;
    --select-small-popper-line-height: 1.6;
    --select-popper-line-height: 1.6;
    --select-width: var(--width-base);
    --select-height: var(--height-base);
    --select-padding-right: 26px;
    --select-padding: 0 var(--select-padding-right) 0 8px;
    --select-background: var(--color-white);
    --select-background-disabled: var(--brand-disabled-light);
    --select-placeholder-color: var(--brand-tip-color);
    --select-arrow-color: var(--brand-tip-color);
    --select-tags-padding-y: 2px;
    --select-tags-padding: var(--select-tags-padding-y) var(--select-padding-right)  var(--select-tags-padding-y) 4px;
    --select-tags-line-height: 26px;
    --select-tags-filterable-width: 40px;
    --select-tag-line-height: calc(var(--select-tags-line-height) - var(--select-tags-padding-y) * 2);
    --select-tag-background: var(--background-color-base);
    --select-tag-padding: 0 6px;
    --select-tag-margin-x: 4px;
    --select-tag-remove-color: var(--brand-tip-color);
    --select-tag-remove-color-hover: var(--color-base);
    --select-popper-border-color: var(--border-color-base);
    --select-popper-background: var(--color-white);
    --select-popper-max-height: 180px;
    --select-status-color: var(--gray-dark);

    /* Slider */
    --slider-body-margin: 0 10px;
    --slider-body-padding: 6px 0;
    --slider-track-background: var(--background-color-base);
    --slider-trail-background: var(--brand-primary);
    --slider-trail-background-disabled: var(--brand-disabled);
    --slider-track-height: 8px;
    --slider-bound-background: rgba(255, 255, 255, 0.4);
    --slider-handle-background: var(--color-white);
    --slider-handle-width: 20px;
    --slider-handle-height: 20px;
    --slider-handle-size: 100px;
    --slider-handle-border: 1px solid #ddd;

    /* Combo Slider */
    --combo-slider-slider-width: 160px;
    --combo-slider-input-width: 60px;
    --combo-slider-input-left: 10px;

    /* List View */
    --list-view-background: var(--color-white);
    --list-view-border-color: var(--border-color-base);
    --list-view-border-color-focus: var(--brand-primary);
    --list-view-status-color: var(--gray-dark);
    --list-view-divider-margin: 9px 0;
    --list-view-divider-background: var(--border-color-base);
    --list-view-group-head-padding: 2px 4px;
    --list-view-group-expander-size: 26px;
    --list-view-item-padding: 4px 12px;
    --list-view-item-hover-background: var(--background-color-base);
    --list-view-item-readonly-background: none;
    --list-view-item-focused-background: var(--background-color-base);
    --list-view-item-selected-background: var(--brand-primary);
    --list-view-item-selected-color: var(--color-white);
    --list-view-item-disabled-color: var(--brand-disabled);
    --list-view-item-disabled-background: none;
    --list-view-group-head-background: #ebedf5;
    --list-view-item-selected-disabled-background: var(--brand-disabled-light);

    /* Tree View */
    --tree-view-background: var(--color-white);
    --tree-view-node-margin-left: 20px;
    --tree-view-node-expander-size: 30px;
    --tree-view-node-text-padding: 4px 12px;
    --tree-view-node-background-active: var(--background-color-base);
    --tree-view-node-background-selected: var(--brand-primary);
    --tree-view-node-selected-text-color: var(--color-white);
    --tree-view-node-selected-expander-color: var(--color-white);
    --tree-view-node-disabled-color: var(--brand-disabled);
    --tree-view-node-background-readonly: none;
    --tree-view-node-background-disabled: none;
    --tree-view-node-background-selected-disabled: var(--brand-disabled-light);

    /* Table View */
    --table-view-table-shadow: 2px 0 6px -2px rgba(0, 0, 0, 0.2);
    --table-view-table-right-shadow: -2px 0 6px -2px rgba(0, 0, 0, 0.2);
    --table-view-filter-background: var(--color-white);
    --table-view-filter-max-height: 180px;
    --table-view-filter-line-height: 1.6;
    --table-view-title-space: 10px;
    --table-view-table-background: var(--color-white);
    --table-view-sort-color: var(--brand-disabled);
    --table-view-sort-size: 1em;
    --table-view-sort-color-active: var(--brand-primary);
    --table-view-expander-size: 26px;
    --table-view-row-selected-background: #d7e5fb;
    --table-view-pagination-space: var(--space-base);

    /* Transfer */
    --transfer-height: 182px;
    --transfer-width: var(--width-base);
    --transfer-button-size: var(--height-base);
    --transfer-button-space: 10px;
    --transfer-button-background: var(--color-white);
    --transfer-button-color: var(--color-base);
    --transfer-button-color-hover: var(--brand-primary);
    --transfer-button-border-color-hover: var(--brand-primary);
    --transfer-button-background-color-active: var(--background-color-base);
    --transfer-button-color-disabled: var(--brand-disabled);
    --transfer-button-background-color-disabled: var(--color-white);
    --transfer-button-border-color-disabled: var(--brand-disabled);
    --transfer-button-border-color: var(--border-color-base);

    /* Popup */
    --popup-padding: 6px 10px;
    --popup-background-color: var(--color-white);
    --popup-background-head-color: var(--color-white);
    --popup-border-color: var(--border-color-base);
    --popup-arrow-size: 8px;
    --popup-outer-arrow-size: calc(var(--popup-arrow-size) + 1px);
    --popup-arrow-offset: 16px;

    /* Tooltip */
    --tooltip-background-color: #333;
    --tooltip-arrow-size: 5px;
    --tooltip-arrow-offset: 10px;
    --tooltip-color: var(--color-white);
    --tooltip-padding: 4px 8px;

    /* Icon Tooltip */
    --icon-tooltip-color: #bac2cf;

    /* Loading */
    --loading-font-size-small: var(--font-size-base);
    --loading-font-size-base: calc(var(--font-size-base) * (24 / 14));
    --loading-font-size-large: calc(var(--font-size-base) * (40 / 14));
    --loading-color: var(--brand-disabled);
    --loading-full-background: rgba(255, 255, 255, 0.8);
    --loading-fullWindow-background: rgba(255, 255, 255, 0.6);

    /* Carousel */
    --carousel-button-font-size: 50px;
    --carousel-width: 700px;
    --carousel-height: 420px;
    --carousel-nav-bottom: 20px;
    --carousel-nav-item-width: 30px;
    --carousel-nav-item-height: 3px;
    --carousel-nav-item-padding: 4px;
    --carousel-nav-item-background-color: rgba(255, 255, 255, 0.5);
    --carousel-nav-item-background-color-hover: var(--color-white);
    --carousel-control-color: rgba(255, 255, 255, 0.6);
    --carousel-control-color-hover: var(--color-white);
    --carousel-control-space: 20px;
    --carousel-control-transition: all 0.3s;

    /* Uploader */
    --uploader-input-font-size: 100px;

    /* Linear Progress */
    --linear-progress-track-background: var(--background-color-base);
    --linear-progress-height-base: 12px;
    --linear-progress-trail-background: var(--brand-primary);
    --linear-progress-trail-transition: width 0.6s ease;
    --linear-progress-trail-font-size: var(--font-size-small);
    --linear-progress-trail-color: var(--color-white);

    /* Circular Progress */
    --circular-progress-size-base: 100px;
    --circular-progress-stroke-width: 6px;
    --circular-progress-track-stroke: var(--background-color-base);
    --circular-progress-trail-stroke: var(--brand-primary);
    --circular-progress-trail-transition: stroke 0.6s ease, stroke-dasharray 0.6s ease;
    --circular-progress-text-color: var(--gray-darker);
    --circular-progress-text-font-size: var(--font-size-base);
    --circular-progress-font-size-base: calc(var(--font-size-base) * (18 / 14));
    --circular-progress-text-line-height: var(--circular-progress-size-base);

    /* Ripple */
    --ripple-transition: transform 1s, background-color 1s;
    --ripple-light-background-color: rgba(255, 255, 255, 0.2);
    --ripple-background-color: rgba(0, 0, 0, 0.2);
    --ripple-size: 100px;

    /* Group */
    --group-head-padding: 2px 4px;
    --group-head-background: var(--background-color-dark);
    --group-expander-size: 26px;
    --group-disabled-expander-color: var(--brand-disabled);

    /* Spinner */
    --spinner-animation-duration: 1.5s;

    /* Toast */
    --toast-margin: 30px;
    --toast-width: 300px;
    --toast-top: 90px;
    --toast-close-font-size: 18px;
    --toast-close-color: var(--color-white);
    --toast-item-color: var(--color-white);
    --toast-item-padding: 10px;
    --toast-item-space: 10px;
    --toast-background-color: rgba(0, 0, 0, 0.6);

    /* Drawer */
    --drawer-width: 240px;
    --drawer-background: var(--color-white);
    --drawer-wrap-background: rgba(0, 0, 0, 0.6);
    --drawer-width-small: 160px;
    --drawer-width-large: 400px;
    --drawer-close-size: 15px;
    --drawer-close-color: var(--gray-light);
    --drawer-close-color-hover: var(--gray-dark);
    --drawer-body-padding: 15px;
    --drawer-head-padding: 15px;
    --drawer-padding-padding: 15px;
    --drawer-foot-padding: 20px 15px;
    --drawer-static-padding: var(--space-base);

    /* Modal */
    --modal-dialog-width: 400px;
    --modal-dialog-width-small: 300px;
    --modal-dialog-width-large: 600px;
    --modal-close-size: 15px;
    --modal-close-color: var(--gray-light);
    --modal-close-color-hover: var(--gray-dark);
    --modal-head-padding: 15px;
    --modal-static-padding: var(--space-base);
    --modal-body-padding: 15px;
    --modal-padding-padding: 15px;
    --modal-foot-padding: 20px 15px;

    /* Field Colors */
    --field-background: white;
    --field-color: #666;
    --field-border-color: #cbd5dd;
    --field-disabled-color: #bbb;
    --field-selected-color: var(--brand-primary);

    --checkbox-size: 18px;
    --radio-size: 18px;

    --circular-progress-size-base: 100px;
    --circular-progress-font-size-base: 18px;
    --circular-progress-text-line-height: normal;

    --tooltip-background-color: rgba(71, 88, 107, 0.9);
    --tooltip-arrow-size: 6px;
    --tooltip-arrow-offset: 16px;

    --popup-background-color: white;
    --popup-background-head-color: white;
    --popup-border-color: var(--border-color-base);
    --popup-arrow-size: 8px;
    --popup-outer-arrow-size: calc(var(--popup-arrow-size) + 1px);
    --popup-arrow-offset: 16px;

    --switch-height: 22px;
    --switch-button-size: 18px;

    --toast-margin: 30px;

    /* --------- */

    /* Product Colors */
    --product-nms: #30c5db;
    --product-nms-light: #1ba9bf;
    --product-ncv: #67aaf5;
    --product-ncv-light: #5a95d7;
    --product-nce: #86bbe7;
    --product-nce-light: #76a4cb;
    --product-nse: #87cee8;
    --product-nse-light: #77b5cc;
    --product-nlb: #67c5f5;
    --product-nlb-light: #5cb1db;
    --product-rep: #4ec9ab;
    --product-rep-light: #45b095;
    --product-rds: #94cd4e;
    --product-rds-light: #81b344;
    --product-ncr: #9e9cf6;
    --product-ncr-light: #8c8adb;
    --product-nos: #89aaf7;
    --product-nos-light: #7b99de;
    --product-cdn: #8ad199;
    --product-cdn-light: #79b886;
    --product-net: #61dac6;
    --product-net-light: #61dac6;
    --product-mongo: #96dce6;
    --product-mongo-light: #84c1ca;
    --product-nqs: #86d651;
    --product-nqs-light: #78c049;
    --product-snat: #c69cf6;
    --product-snat-light: #b28cdd;

    /* theme Chart Colors */
    --theme-chart-background-base: rgba(97, 218, 198, 0.6);
    --theme-chart-line-area-fill: rgba(97, 218, 198, 0.3);
    --theme-chart-color1: rgb(103, 170, 245);
    --theme-chart-rgba-color1: rgba(103, 170, 245, 0.1);

    --theme-chart-color2: rgb(255, 174, 60);
    --theme-chart-rgba-color2: rgba(255, 174, 60, 0.1);

    --theme-chart-color3: rgb(78, 201, 171);
    --theme-chart-rgba-color3: rgba(78, 201, 171, 0.1);

    --theme-chart-color4: rgb(245, 131, 122);
    --theme-chart-rgba-color4: rgba(245, 131, 122, 0.1);

    --theme-chart-color5: rgb(158, 156, 246);
    --theme-chart-rgba-color5: rgba(158, 156, 246, 0.1);

    --theme-chart-color6: rgb(30, 192, 216);
    --theme-chart-rgba-color6: rgba(30, 192, 216, 0.1);

    --theme-chart-color7: rgb(138, 205, 78);
    --theme-chart-rgba-color7: rgba(138, 205, 78, 0.1);

    --theme-chart-color8: rgb(237, 139, 204);
    --theme-chart-rgba-color8: rgba(237, 139, 204, 0.1);

    --theme-chart-color9: rgb(135, 206, 232);
    --theme-chart-rgba-color9: rgba(135, 206, 232, 0.1);

    --theme-chart-color10: rgb(97, 218, 198);
    --theme-chart-rgba-color10: rgba(97, 218, 198, 0.1);

    --theme-chart-color11: rgb(198, 156, 246);
    --theme-chart-rgba-color11: rgba(198, 156, 246, 0.1);

    --theme-chart-color12: rgb(137, 170, 247);
    --theme-chart-rgba-color12: rgba(137, 170, 247, 0.1);

    --theme-chart-color13: rgb(251, 155, 108);
    --theme-chart-rgba-color13: rgba(251, 155, 108, 0.1);

    --theme-chart-color14: rgb(103, 170, 245);
    --theme-chart-rgba-color14: rgba(103, 170, 245, 0.1);

    --theme-chart-color15: rgb(134, 187, 231);
    --theme-chart-rgba-color15: rgba(134, 187, 231, 0.1);

    --theme-chart-color16: rgb(245, 196, 80);
    --theme-chart-rgba-color16: rgba(245, 196, 80, 0.1);

    --theme-chart-color17: rgb(135, 206, 232);
    --theme-chart-rgba-color17: rgba(135, 206, 232, 0.1);

    --theme-chart-color18: rgb(239, 216, 22);
    --theme-chart-rgba-color18: rgba(239, 216, 22, 0.1);

    --theme-chart-color19: rgb(92, 208, 133);
    --theme-chart-rgba-color19: rgba(92, 208, 133, 0.1);

    --theme-chart-color20: rgb(241, 126, 248);
    --theme-chart-rgba-color20: rgba(241, 126, 248, 0.1);

    --lightbox-head-height: 64px;

    /* Checkbox */
    --checkbox-border-radius: 3px;
    --checkboxes-item-margin-right: 80px;

    /* Circular-progress */

    --combo-pagination-height: 30px;
    --combo-pagination-line-height: calc(var(--combo-pagination-height) - var(--border-width-base) * 2);

    --combo-slider-slider-width: 160px;
    --combo-slider-input-width: 60px;
    --combo-slider-input-left: 10px;

    --form-item-label-space: 10px;
    --form-required-color: red;
    --form-message-margin-left: 10px;
    --form-message-padding: 0 10px;
    --form-message-background-error: #ff867f;
    --form-message-color-error: white;

    --form-item-label-width: 120px;

    --input-padding: 0 10px;
    --input-border-color: #e1e8ed;
    --input-border-radius: 3px;
    --input-placeholder-color: #999;
    --input-clearable-color: #a7afbb;
    --input-border-color-focus: #8ebee9;

    --input-background-disabled: #cddae9;
    --input-border-color-error: #ff867f;

    --linear-progress-height-base: 4px;
    --linear-progress-height-small: 2px;
    --linear-progress-height-large: 8px;
    --linear-progress-height-huge: 12px;

    --list-view-item-hover-background: #f5f7fa;
    --list-view-item-selected-background: var(--brand-primary);
    --list-view-item-disabled-background: none;
    --list-view-item-disabled-color: #ccc;
    --list-view-border-color: #e1e8ed;
    --list-view-border-color-focus: #e1e8ed;

    --number-input-background: none;
    --number-input-background-hover: none;
    --number-input-background-active: none;
    --number-input-background-disabled: none;
    --number-input-background-readonly: none;
    --number-input-background-disabled: none;


    /* Pagination */
    --pagination-item-size: 32px;
    --pagination-item-padding: 0;
    --pagination-item-color-hover: var(--brand-primary);
    --pagination-item-color-selected: var(--color-white);
    --pagination-item-color-disabled: var(--brand-disabled);
    --pagination-item-background-disabled-selected: var(--brand-disabled-light);
    --pagination-item-background-selected: var(--brand-primary);
    --pagination-item-background-blank: none;
    --pagination-item-background: var(--background-color-base);
    --pagination-item-color: var(--color-base);
    --pagination-item-color-blank: var(--color-base);
    --pagination-item-blank-color-disabled: var(--brand-disabled);
    --pagination-item-color: #555;
    --pagination-item-background: white;
    --pagination-item-color-hover: var(--brand-primary);
    --pagination-item-background-selected: var(--brand-primary);
    --pagination-item-color-selected: white;
    --pagination-item-color-disabled: #bbb;
    --pagination-item-background-blank: none;
    --pagination-item-color-blank: #555;
    --pagination-item-background-disabled-selected: white;

    /* Combo Pagination */
    --combo-pagination-sizer-width: 100px;
    --combo-pagination-jumper-width: 50px;

    --radios-item-margin-right: 80px;

    --select-item-hover: #f5f7fa;
    --select-tags-padding: 2px 26px 2px 4px;

    --select-height: var(--height-base);
    --select-border-width: 1px;
    --select-border-color: #e1e8ed;
    --select-background: white;
    --select-padding-right: 20px;
    --select-padding: 0 var(--select-padding-right) 0 14px;
    --select-arrow-color: #a5a5a6;
    --select-background-disabled: #cddae9;
    --select-popper-border-color: #dfe4ec;
    --select-popper-background: white;
    --select-popper-max-height: 180px;

    --slider-body-padding: 9px 0;
    --slider-track-height: 6px;
    --slider-track-background: #e6e6e6;
    --slider-bound-background: url("../assets/images/stripe.png") repeat-x;
    --slider-handle-width: 14px;
    --slider-handle-height: 24px;

    --spinner-animation: spin 1s infinite linear;

    --steps-item-radio-background: #e1e8ed;
    --steps-item-radio-size: 18px;
    --steps-item-disabled-color: #bbb;
    --switch-transition: background-color 0.2s;
    --switch-button-transition: all 0.2s;

    --textarea-width: 160px;
    --textarea-height: 80px;
    --textarea-min-height: var(--height-base);
    --textarea-padding: 5px 10px;

    --tooltip-padding: 8px 12px;

    --transfer-button-color: white;
    --transfer-button-border-color: rgba(0, 0, 0, 0);
    --transfer-button-background: #67aaf5;

    --transfer-button-color-hover: white;
    --transfer-button-background-hover: #5d93e6;
    --transfer-button-background-color-active: #5d93e6;
    --transfer-button-color-disabled: white;
    --transfer-button-border-color-disabled: #dfe4ec;
    --transfer-button-background-color-disabled: var(--brand-disabled-light);

    --validator-message-margin-left: 10px;
    --validator-message-padding: 0 10px;
    --validator-message-background-error: #ff867f;
    --validator-message-color-error: white;

    --carousel-control-space: 20px;
}

@custom-media --small-window (max-width: 767px);
