:root {
    /**
     * Global Variables
     */

    /* Brand Colors */
    --brand-primary-light: #5e96eb;
    --brand-primary: #4a89e8;
    --brand-primary-dark: #2c75e4;
    --brand-secondary: #dfe4ec;
    --brand-info: #36a3f7;
    --brand-success-light: #4dd3b6;
    --brand-success: #37cdad;
    --brand-success-dark: #2eb99b;
    --brand-normal-light: #97d362;
    --brand-normal: #8acd4e;
    --brand-normal-dark: #7ac437;
    --brand-warning-light: #ffb752;
    --brand-warning: #ffae3c;
    --brand-warning-dark: #ff9f19;
    --brand-error-light: #ff6c6c;
    --brand-error: #ff5a5a;
    --brand-error-dark: #ff3434;
    --brand-disabled-light: #dee4ed; /* 选择且禁用的背景 */
    --brand-disabled: #cdd6e4; /* 输入框、选择框的禁用背景 */
    --brand-disabled-dark: #b2c0d5; /* 禁用文本的颜色 */

    /* Gray Colors */
    --color-white: white;
    --color-black: black;
    --gray-darkest: #333;
    --gray-darker: #666;
    --gray-dark: #999;
    --gray-base: #aaa;
    --gray-light: #ccc;
    --gray-lighter: #ddd;
    --gray-lightest: #eee;

    /* Component Base Colors */
    --background-color-lighter: #f4f6f9; /* 选择框的 hover 颜色 */
    --background-color-light: #f4f6f9; /* 表格等组件标题栏颜色 */
    --background-color-base: #eef1f6; /* 标签、薯条等组件默认颜色 */
    --background-color-dark: #e3e8f0;
    --color-lighter: #b6b9be; /* Placeholder 字体颜色 */
    --color-light: #93989f; /* 次级字体颜色 */
    --color-base: #585c63; /* 默认字体颜色 */
    --color-dark: #363a41; /* 默认字体颜色 */
    --border-color-light: #dee4ed; /* 面板等容器类型的边框颜色 */
    --border-color-base: #dee4ed; /* 输入框等小组件的边框颜色 */
    --border-color-dark: #cdd6e4; /* 按钮等小组件的边框颜色 */

    /* Space Dimensions */
    --space-shrink: -1px;
    --space-mini: 4px;
    --space-base: 20px;
    --space-small: 10px;
    --space-large: 30px;

    /* Component Base Dimensions */
    --border-width-base: 1px;
    --width-mini: 80px;
    --width-small: 120px;
    --width-base: 160px; /* 以输入框、选择框为基准的尺寸 */
    --width-medium: 280px;
    --width-large: 440px;
    --width-huge: 580px;
    --height-mini: 24px;
    --height-small: 30px;
    --height-base: 34px; /* 以输入框、选择框为基准的尺寸 */
    --height-medium: 36px;
    --height-large: 40px;
    --height-huge: 40px;
    --border-radius-mini: 1px;
    --border-radius-base: 2px;
    --border-radius-medium: 3px;
    --border-radius-large: 4px;

    /* Fonts */
    /* stylelint-disable value-keyword-case */
    --font-family-zh-CN: "Helvetica Neue", helvetica, tahoma, arial, "Microsoft YaHei", "PingFang SC", "Hiragino Sans GB", "WenQuanYi Micro Hei", sans-serif;
    --font-family-code: menlo, consolas, monaco, monospace;
    --tab-size: 4;
    --line-height-base: 1.6;
    --font-size-base: 14px;
    --font-size-small: calc(var(--font-size-base) * (12 / 14));
    --font-size-large: calc(var(--font-size-base) * (16 / 14));
    --font-size-huge: calc(var(--font-size-base) * (24 / 14));
    --font-weight-lighter: lighter;
    --font-weight-light: 300;
    --font-weight-normal: 400;
    --font-weight-bold: 700;
    --font-weight-bolder: bolder;

    /* Z-Index */
    --z-index-loading: 9000;
    --z-index-toast: 8000;
    --z-index-tooltip: 7010;
    --z-index-popper: 7000;
    --z-index-modal: 5000;
    --z-index-plugin: 2000;
    --z-index-layout: 100;
    --z-index-base: 1;

    /* Component Action Hints */
    --cursor-pointer: pointer;
    --cursor-not-allowed: not-allowed;
    --focus-outline: none;

    /* Transition Duration */
    --transition-duration-none: 0s;
    --transition-duration-base: 0.2s;
    --transition-duration-fast: 0.1s;
    --transition-duration-slow: 0.3s;
    --transition-duration-slower: 0.5s;

    /**
     * Components Variables
     */
    /* Typography */
    --hr-border-color: var(--border-color-base);
    --blockquote-padding: 8px 16px;
    --ulol-padding-left: 20px;
    --pre-font-size: var(--code-font-size);
    --pre-font-family: var(--font-family-code);
    --pre-padding-y: 5px;
    --pre-padding-x: 10px;
    --code-margin-x: 2px;
    --code-padding-y: 3px;
    --code-padding-x: 3px;
    --code-background: var(--background-color-lighter);
    --code-color: #e0276e;
    --code-font-size: var(--font-size-small);

    --kbd-padding-y: 1px;
    --kbd-padding-x: 3px;
    --kbd-font-size: var(--font-size-small);
    --kbd-background: var(--background-color-base);
    --kbd-border-radius: var(--border-radius-base);
    --kbd-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);

    /* Text */
    --text-font-size: var(--font-size-base);
    --text-font-size-small: var(--font-size-small);
    --text-font-size-large: calc(var(--font-size-base) * (18 / 14));
    --text-font-size-huge: calc(var(--font-size-base) * (22 / 14));
    --text-color-primary: var(--brand-primary);
    --text-color-secondary: var(--color-light);
    --text-color-success: var(--brand-success);
    --text-color-warning: var(--brand-warning);
    --text-color-error: var(--brand-error);
    --text-color-disabled: var(--brand-disabled-dark);

    /* Link */
    --link-color: #4477d0;
    --link-color-success: var(--brand-success);
    --link-color-warning: var(--brand-warning);
    --link-color-error: var(--brand-error);
    --link-color-disabled: var(--brand-disabled-dark);
    --link-color-light: #6eadff;
    --link-color-white: white;

    /* Button */
    --button-height: var(--height-base);
    --button-height-mini: var(--height-mini);
    --button-height-small: var(--height-small);
    --button-height-large: var(--height-large);
    --button-height-huge: var(--height-huge);
    --button-padding-y: 0px;
    --button-padding-x: 30px;
    --button-padding-x-mini: 8px;
    --button-padding-x-small: 12px;
    --button-padding-x-large: 50px;
    --button-padding-x-huge: 64px;
    --button-font-size: inherit;
    --button-font-size-mini: var(--font-size-small);
    --button-font-size-small: inherit;
    --button-font-size-large: var(--font-size-large);
    --button-font-size-huge: var(--font-size-huge);
    --button-border-width: var(--border-width-base);
    --button-border-radius: var(--border-radius-base);
    --button-background: white;
    --button-background-hover: white;
    --button-background-active: white;
    --button-background-disabled: white;
    --button-background-primary: var(--brand-primary);
    --button-background-primary-hover: var(--brand-primary-light);
    --button-background-primary-disabled: var(--brand-disabled);
    --button-background-danger: var(--brand-error);
    --button-background-danger-hover: var(--brand-error-light);
    --button-background-danger-disabled: var(--brand-disabled);
    --button-color: var(--color-base);
    --button-color-hover: var(--brand-primary);
    --button-color-disabled: var(--brand-disabled);
    --button-color-primary: white;
    --button-color-primary-hover: var(--button-color-primary);
    --button-color-primary-disabled: white;
    --button-color-danger: white;
    --button-color-danger-hover: var(--button-color-danger);
    --button-color-danger-disabled: white;
    --button-border-color: var(--border-color-dark);
    --button-border-color-hover: var(--brand-primary);
    --button-border-color-disabled: var(--border-color-dark);
    --button-box-shadow-focus: 0 0 0 2px rgba(80, 139, 233, 0.2);
    --button-box-shadow-focus-primary: var(--button-box-shadow-focus);
    --button-box-shadow-focus-danger: 0 0 0 2px rgba(254, 90, 90, 0.2);
    --button-box-shadow-active: inset 0 1px 3px rgba(0, 0, 0, 0.2);
    --button-loading-size: 18px;
    --button-loading-width: 2px;
    --button-height-loading: 18px;
    --button-loading-animation-duration: 1s;

    /* Label */
    --label-padding-x: 8px;
    --label-padding-x-large: 12px;
    --label-padding-x-huge: 18px;
    --label-padding-y: 1px;
    --label-padding-y-large: 2px;
    --label-padding-y-huge: 3px;
    --label-font-size: var(--font-size-small);
    --label-font-size-large: var(--font-size-small);
    --label-font-size-huge: var(--font-size-base);
    --label-remove-padding-x: 3px;
    --label-remove-padding-x-large: 5px;
    --label-remove-padding-x-huge: 8px;
    --label-background: var(--background-color-base);
    --label-background-primary: var(--brand-primary);
    --label-background-success: var(--brand-success);
    --label-background-normal: var(--brand-normal);
    --label-background-warning: var(--brand-warning);
    --label-background-error: var(--brand-error);
    --label-color: #646a70;
    --label-color-primary: white;
    --label-color-success: white;
    --label-color-normal: white;
    --label-color-warning: white;
    --label-color-error: white;

    /* Badge */
    --badge-background: var(--brand-error);
    --badge-color: white;
    --badge-value-size: 18px;
    --badge-dot-size: 6px;

    /* Avatar */
    --avatar-size: 44px;
    --avatar-size-mini: 16px;
    --avatar-size-small: 32px;
    --avatar-size-large: 64px;
    --avatar-size-huge: 88px;

    /* Status-icon */
    --status-icon-margin-right: 8px;
    --status-icon-color: #333;

    /* Block */
    --block-background: var(--background-color-base);

    /* Logo */
    --logo-width: var(--sidebar-width);
    --logo-height: var(--navbar-height);

    /* List */
    --list-style: none;
    --list-item-padding: 6px 8px;
    --list-item-border-bottom: 1px solid var(--border-color-base);
    --list-item-background-striped: var(--background-color-lighter);
    --list-item-background-hover: var(--background-color-lighter);

    /* Table */
    --table-background: white;
    --table-head-background: var(--background-color-light);
    --table-head-background-light: white;
    --table-row-background: var(--background-color-base);
    --table-row-background-hover: var(--background-color-lighter);
    --table-row-background-striped: var(--background-color-lighter);
    --table-row-background-primary: rgba(103, 170, 245, 0.2);
    --table-row-background-error: rgb(255, 138, 122, 0.2);
    --table-row-background-dark: var(--background-color-dark);
    --table-row-background-light: var(--background-color-lighter);
    --table-caption-color: #6a6f75;
    --table-border-color: var(--border-color-light);
    --table-border-width: 1px;
    --table-td-color: var(--color-light);

    /* Article */
    --article-table-font-size: calc(var(--font-size-base) * (13 / 14));
    --h1-font-size: calc(var(--font-size-base) * (24 / 14));
    --h2-font-size: calc(var(--font-size-base) * (20 / 14));
    --h3-font-size: calc(var(--font-size-base) * (18 / 14));
    --h4-font-size: calc(var(--font-size-base) * (16 / 14));
    --h5-font-size: calc(var(--font-size-base) * (14 / 14));
    --h6-font-size: calc(var(--font-size-base) * (12 / 14));

    /* Panel */
    --panel-border-width: 1px;
    --panel-background: white;
    --panel-border-color: var(--border-color-light);
    --panel-head-padding: var(--space-base);
    --panel-body-padding: var(--space-base);
    --panel-title-font-size: 18px;
    --panel-title-font-weight: bold;

    /* Collapse */
    --collapse-item-head-background: var(--background-color-dark);
    --collapse-item-head-padding: 2px 4px;
    --collapse-expander-size: 26px;
    --collapse-expander-color-disabled: var(--brand-disabled);
    --collapse-border: 1px solid var(--border-color-base);

    /* Navbar */
    --navbar-height: 64px;
    --navbar-space-x: 40px;
    --navbar-background: #343e4f;
    --navbar-background-inverse: var(--brand-primary);
    --navbar-item-space: 30px;
    --navbar-item-padding: 0 10px;
    --navbar-item-font-size: var(--font-size-large);
    --navbar-item-color: white;
    --navbar-item-color-hover: white;
    --navbar-item-color-selected: white;
    --navbar-item-color-disabled: var(--brand-disabled);
    --navbar-item-color-inverse: white;
    --navbar-item-line-transition-duration: 0.5s;
    --navbar-divider-width: var(--border-width-base);
    --navbar-divider-height: 20px;
    --navbar-divider-background: #ddd;
    --navbar-dropdown-padding: 0 30px 0 10px;
    --navbar-dropdown-icon-font-size: 18px;
    --navbar-dropdown-popper-line-height: var(--line-height-base);
    --navbar-dropdown-popper-font-size: var(--font-size-base);
    --navbar-dropdown-color-disabled: var(--brand-disabled);
    --navbar-select-width: 90px;
    --navbar-select-padding-left: 10px;
    --navbar-select-padding-right: 30px;
    --navbar-select-hover-background: none;
    --navbar-select-focused-background: none;

    /* Sidebar */
    --sidebar-width: 180px;
    --sidebar-background: #2b333f;
    --sidebar-item-height: 54px;
    --sidebar-item-height-small: 32px;
    --sidebar-item-padding-left: 30px;
    --sidebar-item-background: none;
    --sidebar-item-background-selected: #252b33;
    --sidebar-item-background-disabled: #2b333f;
    --sidebar-item-background-selected-disabled: #2b333f;
    --sidebar-item-color: #8594aa;
    --sidebar-item-color-hover: white;
    --sidebar-item-color-selected: white;
    --sidebar-item-color-disabled: #586475;
    --sidebar-group-head-height: 52px;
    --sidebar-group-head-padding-left: 20px;
    --sidebar-group-head-font-weight: var(--font-weight-bold);
    --sidebar-group-head-color: #9dabc2;
    --sidebar-group-head-color-hover: white;
    --sidebar-group-head-color-selected: #9dabc2;
    --sidebar-divider-margin-y: 8px;
    --sidebar-divider-height: var(--border-width-base);
    --sidebar-divider-background: #3d4654;
    --sidebar-expander-color-disabled: var(--brand-disabled);

    /* Menu */
    --menu-background: white;
    --menu-border-width: var(--border-width-base);
    --menu-border-color: var(--border-color-base);
    --menu-item-size: 34px;
    --menu-divider-background: var(--border-color-base);
    --menu-divider-margin-y: 9px;
    --menu-divider-height: var(--border-width-base);

    /* Subnav */
    --subnav-item-padding-x: 20px;
    --subnav-item-background-hover: #f6f7f9;
    --subnav-item-background-selected: white;
    --subnav-item-color: #666;
    --subnav-item-color-hover: var(--brand-primary);
    --subnav-item-color-selected: var(--brand-primary);

    /* Tabs */
    --tabs-head-height: auto;
    --tabs-border-width: 1px;
    --tabs-border-color: #e0e6ed;
    --tabs-item-height: 36px;
    --tabs-item-padding-x: 30px;
    --tabs-item-background-hover: #f6f7f9;
    --tabs-item-background-selected: white;
    --tabs-item-background-disabled: white;
    --tabs-item-background-selected-disabled: white;
    --tabs-item-color-selected: var(--brand-primary);
    --tabs-item-color-disabled: var(--brand-disabled);
    --tabs-item-border-color-selected: #e0e6ed;

    /* Subtabs */
    --subtabs-border-color: #e0e6ed;

    /* Steps */
    --steps-item-width: 200px;
    --steps-item-color-disabled: #bbb;
    --steps-item-radio-size: 18px;
    --steps-item-radio-size-large: 24px;
    --steps-item-radio-background: var(--border-color-base);
    --steps-item-radio-background-passed: var(--brand-primary);
    --steps-item-radio-color-passed: white;

    /* Crumb */
    --crumb-color-link: var(--brand-primary);
    --crumb-color-disabled: var(--brand-disabled);
    --crumb-space-x: 5px;

    /* Pagination */
    --pagination-item-size: var(--height-small);
    --pagination-item-padding: 0;
    --pagination-item-background: white;
    --pagination-item-background-hover: var(--background-color-lighter);
    --pagination-item-background-selected: var(--brand-primary);
    --pagination-item-background-disabled-selected: white;
    --pagination-item-background-blank: none;
    --pagination-item-color: var(--color-base);
    --pagination-item-color-hover: var(--brand-primary);
    --pagination-item-color-selected: white;
    --pagination-item-color-disabled: #bbb;
    --pagination-item-color-blank: var(--color-base);
    --pagination-item-color-blank-disabled: var(--brand-disabled);
    --pagination-item-border-color: var(--border-color-base);

    /* Combo Pagination */
    --combo-pagination-height: var(--height-small);
    --combo-pagination-line-height: calc(var(--combo-pagination-height) - var(--border-width-base) * 2);
    --combo-pagination-sizer-width: 100px;
    --combo-pagination-jumper-width: 50px;

    /* Form */
    --form-item-label-padding-right: 10px;
    --form-item-label-width: 120px;
    --form-required-color: red;
    --form-message-margin-left: 10px;
    --form-message-padding: 0 10px;
    --form-message-background: var(--background-color-base);
    --form-message-background-error: var(--brand-error-light);
    --form-message-color-error: white;

    /* Field */
    --field-background: white;
    --field-color: var(--color-light);
    --field-color-selected: var(--brand-primary);
    --field-color-disabled: #bbb;
    --field-border-color: #cbd5dd;

    /* Validator */
    --validator-message-padding: 0 10px;
    --validator-message-margin-left: 10px;
    --validator-message-background: var(--background-color-base);
    --validator-message-background-error: var(--brand-error-light);
    --validator-message-color-error: white;

    /* Input */
    --input-width: var(--width-base);
    --input-width-mini: var(--width-mini);
    --input-width-small: var(--width-small);
    --input-width-medium: var(--width-medium);
    --input-width-large: var(--width-large);
    --input-width-huge: var(--width-huge);
    --input-height: var(--height-base);
    --input-height-mini: var(--height-mini);
    --input-height-small: var(--height-small);
    --input-height-medium: var(--height-medium);
    --input-height-large: var(--height-large);
    --input-height-huge: var(--height-huge);
    --input-padding-x: 10px;
    --input-padding-x-mini: 6px;
    --input-padding-x-small: 8px;
    --input-padding-x-medium: 10px;
    --input-padding-x-large: 10px;
    --input-padding-x-huge: 10px;
    --input-padding-x-full: 10px;
    --input-border-width: 1px;
    --input-background: white;
    --input-background-disabled: #cddae9;
    --input-color: var(--color-base);
    --input-border-color: var(--border-color-base);
    --input-border-color-error: var(--brand-error);
    --input-border-color-focus: #81abe9;
    --input-placeholder-color: var(--color-lighter);
    --input-clearable-color: #a7afbb;
    --input-border-radius: 3px;

    /* Textarea */
    --textarea-width: var(--width-base);
    --textarea-width-medium: var(--width-medium);
    --textarea-width-large: var(--width-large);
    --textarea-width-huge: var(--width-huge);
    --textarea-min-width: var(--width-base);
    --textarea-height: 80px;
    --textarea-height-medium: 100px;
    --textarea-height-large: 120px;
    --textarea-height-huge: 200px;
    --textarea-min-height: var(--height-base);
    --textarea-border-radius: var(--border-radius-medium);
    --textarea-padding: 5px 10px;
    --textarea-color: var(--color-base);
    --textarea-border-color: var(--border-color-base);

    /* Number Input */
    --number-input-height: 14px;
    --number-input-padding: 0 4px;
    --number-input-button-background: none;
    --number-input-button-background-hover: none;
    --number-input-button-background-active: none;
    --number-input-button-background-disabled: none;
    --number-input-button-color-disabled: var(--brand-disabled);

    /* Radio */
    --radio-space-x: 80px;
    --radio-size: 18px;

    /* Checkbox */
    --checkbox-space-x: 80px;
    --checkbox-size: 18px;
    --checkbox-border-radius: 3px;

    /* Switch */
    --switch-width: 44px;
    --switch-width-wide: 54px;
    --switch-height: 22px;
    --switch-button-space: 2px;
    --switch-button-size: 18px;
    --switch-button-background: white;
    --switch-button-radius: 100px;
    --switch-background: var(--border-color-base);
    --switch-background-checked: var(--brand-primary);
    --switch-background-disabled: var(--background-color-base);
    --switch-color: white;
    --switch-text-margin: 0 5px;
    --switch-transition: background-color var(--transition-duration-base);
    --switch-button-transition: all var(--transition-duration-base);

    /* Select */
    --select-width: var(--width-base);
    --select-width-mini: var(--width-mini);
    --select-width-small: var(--width-small);
    --select-width-medium: var(--width-medium);
    --select-width-large: var(--width-large);
    --select-width-huge: var(--width-huge);
    --select-height: var(--height-base);
    --select-height-mini: var(--height-mini);
    --select-height-small: var(--height-small);
    --select-height-medium: var(--height-medium);
    --select-height-large: var(--height-large);
    --select-height-huge: var(--height-huge);
    --select-padding-x: 10px;
    --select-padding-x-mini: 6px;
    --select-padding-x-small: 8px;
    --select-padding-x-medium: 10px;
    --select-padding-x-large: 10px;
    --select-padding-x-huge: 10px;
    --select-padding-x-full: 10px;
    --select-background: white;
    --select-background-disabled: var(--brand-disabled);
    --select-border-width: var(--border-width-base);
    --select-border-color: var(--border-color-base);
    --select-color: var(--color-base);
    --select-color-disabled: var(--brand-disabled-dark);
    --select-item-hover: var(--background-color-lighter);
    --select-popper-max-height: 194px;
    --select-popper-line-height: 1.6;
    --select-popper-line-height-small: 1.6;
    --select-placeholder-color: var(--color-lighter);
    --select-arrow-color: var(--color-light);
    --select-arrow-size: 18px;
    --select-arrow-right-ratio: 0.6;
    --select-tags-padding-y: 2px;
    --select-tags-padding: 2px 26px 2px 4px;
    --select-tags-line-height: 26px;
    --select-tags-filterable-width: 40px;
    --select-tag-line-height: calc(var(--select-tags-line-height) - var(--select-tags-padding-y) * 2);
    --select-tag-background: var(--background-color-base);
    --select-tag-padding: 0 6px;
    --select-tag-margin-x: 4px;
    --select-tag-remove-color: var(--color-lighter);
    --select-tag-remove-color-hover: var(--color-base);
    --select-popper-background: white;
    --select-popper-border-color: var(--border-color-base);
    --select-status-color: var(--color-light);

    /* Slider */
    --slider-body-margin-size: 10px;
    --slider-body-margin: 0 var(--slider-body-margin-size);
    --slider-height-vertical: 200px;
    --slider-body-margin-vertical: var(--slider-body-margin-size) 0;
    --slider-body-padding: 9px 0;
    --slider-body-padding-vertical: 0 9px;
    --slider-track-height: 6px;
    --slider-track-width-vertical: 6px;
    --slider-track-background: var(--background-color-base);
    --slider-trail-background: var(--brand-primary);
    --slider-trail-background-disabled: var(--brand-disabled);
    --slider-bound-background: url("../assets/images/stripe.png") repeat-x;
    --slider-bound-background-vertical: url("../assets/images/stripe.png") repeat-y;
    --slider-handle-width: 14px;
    --slider-handle-width-vertical: 24px;
    --slider-handle-height: 24px;
    --slider-handle-height-vertical: 14px;
    --slider-handle-background: white;
    --slider-handle-border-size: 1px;
    --slider-handle-border: var(--slider-handle-border-size) solid var(--border-color-dark);

    /* Combo Slider */
    --combo-slider-slider-width: 100%;
    --combo-slider-slider-height: var(--slider-height-vertical);
    --combo-slider-input-width: 50px;
    --combo-slider-input-margin-left: 10px;

    /* Uploader */
    --uploader-input-font-size: 100px;

    /* List View */
    --list-view-width: var(--width-medium);
    --list-view-width-large: var(--width-large);
    --list-view-width-huge: var(--width-huge);
    --list-view-height: calc(30px * 10 + var(--border-width-base) * 2);
    --list-view-height-large: calc(30px * 18 + var(--border-width-base) * 2);
    --list-view-height-huge: 80vh;
    --list-view-head-background: var(--background-color-base);
    --list-view-body-background: white;
    --list-view-body-background-disabled: white;
    --list-view-foot-background: white;
    --list-view-border-color: var(--border-color-base);
    --list-view-border-color-focus: var(--border-color-base);
    --list-view-border-color-disabled: var(--brand-disabled);
    --list-view-status-color: var(--color-light);
    --list-view-head-padding: 8px 12px;
    --list-view-foot-padding: 8px 12px;
    --list-view-item-padding: 4px 12px;
    --list-view-item-background-hover: var(--background-color-lighter);
    --list-view-item-background-readonly: none;
    --list-view-item-background-focused: var(--background-color-lighter);
    --list-view-item-background-selected: var(--brand-primary);
    --list-view-item-color-selected: white;
    --list-view-item-color-disabled: var(--brand-disabled-dark);
    --list-view-item-background-disabled: none;
    --list-view-item-background-selected-disabled: var(--brand-disabled-light);
    --list-view-divider-margin: 9px 0;
    --list-view-divider-background: var(--border-color-base);
    --list-view-group-head-padding: 2px 4px;
    --list-view-group-head-background: #ebedf5;
    --list-view-group-expander-size: 26px;
    --list-view-filter-margin: 5px;

    /* Tree View */
    --tree-view-background: white;
    --tree-view-node-margin-left: 20px;
    --tree-view-node-expander-size: 30px;
    --tree-view-node-text-padding: 4px 12px;
    --tree-view-node-background-active: var(--background-color-base);
    --tree-view-node-background-selected: var(--brand-primary);
    --tree-view-node-color-selected: white;
    --tree-view-node-color-disabled: var(--brand-disabled);
    --tree-view-node-expander-color-selected: white;
    --tree-view-node-background-readonly: none;
    --tree-view-node-background-disabled: none;
    --tree-view-node-background-selected-disabled: var(--brand-disabled-light);

    /* Table View */
    --table-view-table-shadow: 2px 0 6px -2px rgba(0, 0, 0, 0.2);
    --table-view-table-right-shadow: -2px 0 6px -2px rgba(0, 0, 0, 0.2);
    --table-view-filter-background: white;
    --table-view-filter-max-height: 180px;
    --table-view-filter-line-height: 1.6;
    --table-view-title-space: 10px;
    --table-view-table-background: white;
    --table-view-sort-color: var(--brand-disabled);
    --table-view-sort-color-active: var(--brand-primary);
    --table-view-sort-size: 1em;
    --table-view-expander-size: 26px;
    --table-view-row-selected-background: #d7e5fb;
    --table-view-pagination-space: var(--space-base);

    /* Transfer */
    --transfer-height: var(--list-view-height);
    --transfer-height-large: var(--list-view-height-large);
    --transfer-height-huge: var(--list-view-height-huge);
    --transfer-width: var(--width-medium);
    --transfer-width-large: var(--width-large);
    --transfer-width-huge: var(--width-huge);
    --transfer-button-size: var(--height-base);
    --transfer-button-space: 10px;
    --transfer-button-background: var(--button-background-primary);
    --transfer-button-background-hover: var(--button-background-primary-hover);
    --transfer-button-background-active: var(--button-background-primary-active);
    --transfer-button-background-disabled: var(--button-background-primary-disabled);
    --transfer-button-color: white;
    --transfer-button-color-hover: white;
    --transfer-button-color-disabled: white;
    --transfer-button-border-color: var(--button-background-primar);
    --transfer-button-border-color-hover: var(--button-background-primar-hover);
    --transfer-button-border-color-disabled: var(--button-background-primar-disabled);

    /* Popup */
    --popup-padding: 6px 10px;
    --popup-arrow-size: 8px;
    --popup-arrow-offset: 16px;
    --popup-outer-arrow-size: calc(var(--popup-arrow-size) + 1px);
    --popup-background: white;
    --popup-head-background: white;
    --popup-border-color: var(--border-color-base);

    /* Tooltip */
    --tooltip-padding: 8px 12px;
    --tooltip-arrow-size: 6px;
    --tooltip-arrow-offset: 16px;
    --tooltip-background-color: rgba(71, 88, 107, 0.9);
    --tooltip-color: white;

    /* Icon Tooltip */
    --icon-tooltip-color: #bac2cf;

    /* Spinner */
    --spinner-animation-duration: 1.5s;

    /* Loading */
    --loading-font-size: calc(var(--font-size-base) * (24 / 14));
    --loading-font-size-small: var(--font-size-base);
    --loading-font-size-large: calc(var(--font-size-base) * (40 / 14));
    --loading-color: var(--brand-disabled);
    --loading-full-background: rgba(255, 255, 255, 0.8);
    --loading-fullWindow-background: rgba(255, 255, 255, 0.6);

    /* Toast */
    --toast-margin: 30px;
    --toast-width: 300px;
    --toast-top: 90px;
    --toast-close-font-size: 18px;
    --toast-close-color: white;
    --toast-item-color: white;
    --toast-item-padding: 10px;
    --toast-item-space: 10px;
    --toast-background-color: rgba(0, 0, 0, 0.6);

    /* Modal */
    --modal-dialog-width: 400px;
    --modal-dialog-width-small: 300px;
    --modal-dialog-width-large: 600px;
    --modal-close-size: 15px;
    --modal-close-color: var(--gray-light);
    --modal-close-color-hover: var(--color-light);
    --modal-head-padding: 15px;
    --modal-static-padding: var(--space-base);
    --modal-body-padding: 15px;
    --modal-padding-padding: 15px;
    --modal-foot-padding: 20px 15px;

    /* Drawer */
    --drawer-width: 240px;
    --drawer-width-small: 160px;
    --drawer-width-large: 400px;
    --drawer-wrap-background: rgba(0, 0, 0, 0.6);
    --drawer-background: white;
    --drawer-close-size: 15px;
    --drawer-close-color: var(--gray-light);
    --drawer-close-color-hover: var(--color-light);
    --drawer-head-padding: 15px;
    --drawer-body-padding: 15px;
    --drawer-foot-padding: 20px 15px;
    --drawer-static-padding: var(--space-base);

    /* Lightbox */
    --lightbox-head-height: 64px;

    /* Skeleton */
    --skeleton-background: var(--background-color-base);
    --skeleton-title-width: 36%;
    --skeleton-paragraph-width: 72%;

    /* Carousel */
    --carousel-width: 700px;
    --carousel-height: 420px;
    --carousel-nav-bottom: 20px;
    --carousel-nav-item-width: 30px;
    --carousel-nav-item-height: 3px;
    --carousel-nav-item-padding: 4px;
    --carousel-nav-item-background: rgba(255, 255, 255, 0.5);
    --carousel-nav-item-background-hover: white;
    --carousel-button-space: 20px;
    --carousel-button-font-size: 50px;
    --carousel-button-color: rgba(255, 255, 255, 0.6);
    --carousel-button-color-hover: white;
    --carousel-button-transition: all 0.3s;

    /* Ripple */
    --ripple-transition: transform 1s, background-color 1s;
    --ripple-background: rgba(0, 0, 0, 0.2);
    --ripple-background-light: rgba(255, 255, 255, 0.2);
    --ripple-size: 100px;

    /* Linear Progress */
    --linear-progress-height: 4px;
    --linear-progress-height-small: 2px;
    --linear-progress-height-large: 8px;
    --linear-progress-height-huge: 12px;
    --linear-progress-track-background: var(--background-color-base);
    --linear-progress-trail-font-size: var(--font-size-small);
    --linear-progress-trail-background: var(--brand-primary);
    --linear-progress-trail-color: white;
    --linear-progress-trail-transition: width 0.6s ease;

    /* Circular Progress */
    --circular-progress-size: 100px;
    --circular-progress-stroke-width: 6px;
    --circular-progress-track-stroke: var(--background-color-base);
    --circular-progress-trail-stroke: var(--brand-primary);
    --circular-progress-trail-transition: stroke 0.6s ease, stroke-dasharray 0.6s ease;
    --circular-progress-text-color: #999;
    --circular-progress-font-size: var(--font-size-base);
    --circular-progress-percent-font-size: 20px;
    --circular-progress-text-line-height: normal;

    /* Group */
    --group-head-padding: 2px 4px;
    --group-head-background: var(--background-color-dark);
    --group-expander-size: 26px;
    --group-expander-color-disabled: var(--brand-disabled);

    /* --------- */

    /* Product Colors */
    --product-nms: #30c5db;
    --product-nms-light: #1ba9bf;
    --product-ncv: #67aaf5;
    --product-ncv-light: #5a95d7;
    --product-nce: #86bbe7;
    --product-nce-light: #76a4cb;
    --product-nse: #87cee8;
    --product-nse-light: #77b5cc;
    --product-nlb: #67c5f5;
    --product-nlb-light: #5cb1db;
    --product-rep: #4ec9ab;
    --product-rep-light: #45b095;
    --product-rds: #94cd4e;
    --product-rds-light: #81b344;
    --product-ncr: #9e9cf6;
    --product-ncr-light: #8c8adb;
    --product-nos: #89aaf7;
    --product-nos-light: #7b99de;
    --product-cdn: #8ad199;
    --product-cdn-light: #79b886;
    --product-net: #61dac6;
    --product-net-light: #61dac6;
    --product-mongo: #96dce6;
    --product-mongo-light: #84c1ca;
    --product-nqs: #86d651;
    --product-nqs-light: #78c049;
    --product-snat: #c69cf6;
    --product-snat-light: #b28cdd;

    /* theme Chart Colors */
    --theme-chart-background-base: rgba(97, 218, 198, 0.6);
    --theme-chart-line-area-fill: rgba(97, 218, 198, 0.3);
    --theme-chart-color1: rgb(103, 170, 245);
    --theme-chart-rgba-color1: rgba(103, 170, 245, 0.1);

    --theme-chart-color2: rgb(255, 174, 60);
    --theme-chart-rgba-color2: rgba(255, 174, 60, 0.1);

    --theme-chart-color3: rgb(78, 201, 171);
    --theme-chart-rgba-color3: rgba(78, 201, 171, 0.1);

    --theme-chart-color4: rgb(245, 131, 122);
    --theme-chart-rgba-color4: rgba(245, 131, 122, 0.1);

    --theme-chart-color5: rgb(158, 156, 246);
    --theme-chart-rgba-color5: rgba(158, 156, 246, 0.1);

    --theme-chart-color6: rgb(30, 192, 216);
    --theme-chart-rgba-color6: rgba(30, 192, 216, 0.1);

    --theme-chart-color7: rgb(138, 205, 78);
    --theme-chart-rgba-color7: rgba(138, 205, 78, 0.1);

    --theme-chart-color8: rgb(237, 139, 204);
    --theme-chart-rgba-color8: rgba(237, 139, 204, 0.1);

    --theme-chart-color9: rgb(135, 206, 232);
    --theme-chart-rgba-color9: rgba(135, 206, 232, 0.1);

    --theme-chart-color10: rgb(97, 218, 198);
    --theme-chart-rgba-color10: rgba(97, 218, 198, 0.1);

    --theme-chart-color11: rgb(198, 156, 246);
    --theme-chart-rgba-color11: rgba(198, 156, 246, 0.1);

    --theme-chart-color12: rgb(137, 170, 247);
    --theme-chart-rgba-color12: rgba(137, 170, 247, 0.1);

    --theme-chart-color13: rgb(251, 155, 108);
    --theme-chart-rgba-color13: rgba(251, 155, 108, 0.1);

    --theme-chart-color14: rgb(103, 170, 245);
    --theme-chart-rgba-color14: rgba(103, 170, 245, 0.1);

    --theme-chart-color15: rgb(134, 187, 231);
    --theme-chart-rgba-color15: rgba(134, 187, 231, 0.1);

    --theme-chart-color16: rgb(245, 196, 80);
    --theme-chart-rgba-color16: rgba(245, 196, 80, 0.1);

    --theme-chart-color17: rgb(135, 206, 232);
    --theme-chart-rgba-color17: rgba(135, 206, 232, 0.1);

    --theme-chart-color18: rgb(239, 216, 22);
    --theme-chart-rgba-color18: rgba(239, 216, 22, 0.1);

    --theme-chart-color19: rgb(92, 208, 133);
    --theme-chart-rgba-color19: rgba(92, 208, 133, 0.1);

    --theme-chart-color20: rgb(241, 126, 248);
    --theme-chart-rgba-color20: rgba(241, 126, 248, 0.1);
}

@custom-media --mini-window (max-width: 479px);
@custom-media --small-window (max-width: 767px);
@custom-media --medium-window (max-width: 959px);
@custom-media --large-window (max-width: 1179px);
@custom-media --huge-window (max-width: 1439px);
