.root {
    width: 100%;
    table-layout: fixed;
    background: white;
}

.root td {
    color: #999;
}

.root th, .root td {
    position: relative;
    line-height: 20px;
    padding: 13px 6px 13px 10px;
}

.root thead tr {
    background-color: #f5f7fa;
    border-bottom: 1px solid #ebf0f5;
    background-clip: padding-box;
}

.root thead th {
    text-align: left;
    font-weight: normal;
}

.root tbody tr {
    border-top: 1px solid #ebf0f5;
}

.root tbody > tr:first-child {
    border-top: none;
}

.root tbody > tr:last-child {
    border-bottom: 1px solid #ebf0f5;
}

.root tbody > tr:hover > td::before {
    content: '';
    width: 100%;
    height: 6px;
    position: absolute;
    top: -6px;
    left: 0;
    background: url("../../assets/images/shadow-up.png") repeat-x;
    z-index: 100;
}

.root tbody > tr:hover > td::after {
    content: '';
    width: 100%;
    height: 6px;
    position: absolute;
    bottom: -6px;
    left: 0;
    background: url("../../assets/images/shadow-down.png") repeat-x;
    z-index: 100;
}

.root tbody > tr:first-child:hover > td::before {
    display: none;
}

.root tbody > tr:last-child:hover > td::after {
    display: none;
}

.root[line="both"] th, .root[line="both"] td {
    border-left: 1px solid #ebf0f5;
    border-right: 1px solid #ebf0f5;
}

/* .root[striped] tbody tr:nth-of-type(even) {
    background: $background-color-light;
} */
