<div :class="$style.root">
    <div @click="upload()">
        <slot></slot>
    </div>
    <form :class="$style.form" ref="form" method="POST" :action="url" :target="'iframe'+ tempId" :enctype="contentType">
        <!-- IE需要重置input[type=file] -->
        <input :class="$style.input" ref="file" v-if="!sending" type="file" :name="name" @change="submit()"/>
        <input v-for="key in Object.keys(data)" type="hidden" :name="key" :value="data[key]"/>
    </form>
    <iframe :class="$style.iframe" ref="iframe" :name="'iframe'+ tempId" @load="onLoad()"></iframe>
</div>
