@extend;

.root[color="light"] {
    color: var(--link-color-light);
}

.root[color="white"] {
    color: var(--link-color-white);
}

.root:lang(en) {
    display: inline-block;
    max-width: 100%;
}
