@extend;

.root {
    color: var(--link-color);
}
.root[disabled] {
    cursor: var(--cursor-not-allowed);
    color: #ccc;
}

.root[color="light"] {
    color: #6eadff;
}

.root[color="white"] {
    color: white;
}

.root:lang(en) {
    display: inline-block;
    max-width: 100%;
}
