@extend;

.root {
    color: $link-default-color;
}
.root[disabled] {
    cursor: not-allowed;
    color: #ccc;
}

.root[color="light"] {
    color: #6eadff;
}

.root[color="white"] {
    color: white;
}

.root:lang(en) {
    display: inline-block;
    max-width: 100%;
}
