<span :class="$style.root" :type="type">
    <u-tooltip
            :content="content"
            :opened="opened"
            :trigger="trigger"
            :placement="placement"
            :reference="reference"
            :hideDelay="hideDelay"
            :boundariesElement="boundariesElement"
            :followCursor="followCursor"
            :offset="offset"
            :disabled="disabled"
            :size="size"
            v-on="$listeners">
        <slot></slot>
    </u-tooltip>
</span>
