@extend;

.root {
    color: var(--label-color);
}

.root[color="success"] {
    background: var(--label-background-success);
}

.root[color="warning"] {
    background: var(--label-background-warning);
}

.root[color="error"] {
    background: var(--label-background-error);
}
