.label {
    display: inline-block;
    width: 60px;
    color: var(--color-light);
    margin-top: 4px;
}

.root[label-size="small"] .label {
    width: 40px;
}

.root[label-size="large"] .label {
    width: 120px;
}

.capsules {
    max-width: calc(100% - 60px);
    vertical-align: top;
}

.tip {
    margin-left: 20px;
    color: var(--color-light);
}
