.root {
    padding: 5px;
    background: var(--block-background);
    color: var(--color-light);
    text-align: center;
    overflow: hidden;
}

.root[size$="auto"] { width: auto; }
.root[size^="auto"] { height: auto; }

.root[size$="mini"] { width: 16px; }
.root[size^="mini"] { height: 16px; }

.root[size$="small"] { width: 32px; }
.root[size^="small"] { height: 32px; }

.root[size$="normal"] { width: 64px; }
.root[size^="normal"] { height: 64px; }

.root[size$="large"] { width: 128px; }
.root[size^="large"] { height: 128px; }

.root[color="primary"] {
    background: var(--brand-primary);
}

/* .root[color="success"] {
    background: var(--brand-success);
}

.root[color="warning"] {
    background: var(--brand-warning);
} */

.root[color="error"] {
    background: var(--brand-error);
}

.root[inline] {
    display: inline-block;
}
