.root[class] {
    padding: 0 12px;
    padding-right: 26px;
}

.root::after {
    position: absolute;
    content: '▾';
    right: 10px;
    top: 0;
    line-height: 28px;
}

.root[disabled] {
    cursor: not-allowed;
    background: var(--gray-lighter);
}

.popper {
    position: absolute;
    box-sizing: content-box;
    width: 100%;
    line-height: 1.6;
    max-height: 180px;
    overflow: auto;
    background: white;
    border: 1px solid var(--border-color-base);
    z-index: var(--z-index-popper);
}

.status {
    color: var(--gray-dark);
    text-align: center;
}

.root {}

.root::after {
    position: absolute;
    icon-font: url('../i-icon.vue/icons/keyboard-arrow-down.svg');
    color: #a5a5a6;
    font-size: 18px;
    right: 6px;
    top: 0;
    line-height: inherit;
}

.root[class]:focus {
    border-color: var(--brand-secondary);
}

.root[disabled] {
    cursor: not-allowed;
    background: var(--brand-disabled);
    border: 1px solid var(--brand-disabled);
    color: #999;
}

.popper {
    margin-top: 1px;
    max-height: 194px;
    overflow: auto;
    background: white;
    border: 1px solid var(--brand-secondary);
    border-radius: var(--border-radius-base);
    z-index: 1065;
}

.root[size$="mini"] { width: 80px; }
.root[size^="mini"] { height: 28px; line-height: 26px; }
.popper[size^="mini"] { max-height: 156px; }

.root[size$="small"] { width: 120px; }
.root[size^="small"] { height: 30px; line-height: 28px; }
.popper[size^="small"] { max-height: 168px; }

.root[size$="normal"] { width: 160px; }
.root[size^="normal"] { height: var(--height-base); line-height: 32px; }
.popper[size^="normal"] { max-height: 192px; }

.root[size$="medium"] { width: 280px; }
.root[size^="medium"] { height: 36px; line-height: 34px; }
.popper[size^="medium"] { max-height: 204px; }

.root[size$="large"] { width: 440px; }
.root[size^="large"] { height: 38px; line-height: 36px; }
.popper[size^="large"] { max-height: 216px; }

.root[size$="huge"] { width: 580px; }
.root[size^="huge"] { height: 40px; line-height: 38px; }
.popper[size^="huge"] { max-height: 228px; }

.root[size$="full"] { width: 100%; }
.root[size^="full"] { height: 100%; }
