.root {}

.sizer {
    text-align: left;
    width: var(--combo-pagination-sizer-width);
    height: var(--combo-pagination-height);
    line-height: var(--combo-pagination-line-height);
}

.sizer .item {
    line-height: var(--combo-pagination-line-height);
}

.jumper {
    width: var(--combo-pagination-jumper-width);
    height: var(--combo-pagination-height);
    line-height: var(--combo-pagination-line-height);
}
