@extend;

.sizer {
    height: var(--combo-pagination-height);
    line-height: var(--combo-pagination-line-height);
}

.sizer .item {
    line-height: var(--combo-pagination-line-height);
}

.jumper {
    height: var(--combo-pagination-height);
    line-height: var(--combo-pagination-line-height);
}
