<div :class="$style.root">
    <div :class="$style.body">
        <slot></slot>
    </div>
    <nav :class="$style.nav">
        <a :class="$style['nav-item']"
            v-for="itemVM in itemVMs"
            :title="itemVM.title"
            :selected="router ? itemVM.active : itemVM === selectedVM"
            @click="select(itemVM)">
        </a>
    </nav>
    <div v-show="!hideButtons && !(!loop && selectedIndex === 0)" :class="$style.button" role="prev" @click="prev()"></div>
    <div v-show="!hideButtons && !(!loop && selectedIndex === itemVMs.length - 1)" :class="$style.button" role="next" @click="next()"></div>
</div>
