.root {
    position: relative;
    z-index: 1;
    overflow: hidden;
    width: var(--carousel-width);
    height: var(--carousel-height);
}

.body {
    width: 100%;
    height: 100%;
}

.nav {
    position: absolute;
    z-index: 100;
    width: 100%;
    left: 0;
    right: 0;
    bottom: var(--carousel-nav-bottom);
    text-align: center;
}

.nav-item {
    display: inline-block;
    cursor: var(--cursor-pointer);
    box-sizing: content-box;
    width: var(--carousel-nav-item-width);
    height: var(--carousel-nav-item-height);
    padding: var(--carousel-nav-item-padding);
    background-color: var(--carousel-nav-item-background-color);
    background-clip: content-box;
}

.nav-item:hover {
    background-color: var(--carousel-nav-item-background-color-hover);
}

.nav-item[selected] {
    background-color: var(--carousel-nav-item-background-color-hover);
}

.button {
    position: absolute;
    z-index: 100;
    font-size: var(--carousel-button-font-size);
    font-weight: var(--font-weight-bold);
    color: var(--carousel-control-color);
    transition: var(--carousel-control-transition);
    top: 36%;
    display: none;
}
.root:hover .button {
    display: block;
}
.button:hover {
    color: var(--carousel-control-color-hover);
}

.button[role='prev'] {
    left: var(--carousel-control-space);
}

.button[role='prev']::before {
    content: '⟨';
}

.button[role='next'] {
    right: var(--carousel-control-space);
}

.button[role='next']::before {
    content: '⟩';
}
