<div :class="$style.root" :border="border" :empty="data && !data.length" :style="{width: width, height: height}">
    <div :class="$style.ittitle" :style="{textAlign: titleAlign}">
        <slot name="titleTemplate">{{title}}</slot>
    </div>
    <div :class="$style.caption">
        <slot name="captionTemplate">
            {{caption}}
        </slot>
    </div>
    <div v-if="legend" :class="$style.legend" :role="series.length > 5 ? 'multiline' : ''">
        <div v-for="(sery,index) in series" :class="$style.item" :role="series.length > 4 ? 'omitwidth' : ''" :disabled="sery.hidden" :title="sery.name || sery.key" @click.stop="toggle(index)">{{sery.name || sery.key}}</div>
    </div>
    <div :class="$style.content">
        <slot></slot>
    </div>
    <div :class="$style.operate">
        <slot name="operate"></slot>
    </div>
</div>
