$m-chart_padding: 15px;
$m-chart_tt_height: 40px;
$m-chart_legend_height: 30px;
.root {
    position: relative;
    box-sizing: border-box;
    width: 800px;
    height: 480px;
    padding: 15px;
}

.root[role=empty] .legend {
    display: none;
}

.ittitle {
    position: absolute;
    z-index: 5;
    top: $m-chart_padding;
    left: $m-chart_padding;
    right: $m-chart_padding;
    height: $m-chart_tt_height;
    line-height: $m-chart_tt_height;
    font-size: 16px;
}

.legend {
    position: absolute;
    bottom: $m-chart_padding;
    height: $m-chart_legend_height;
    line-height: $m-chart_legend_height;
    left: $m-chart_padding;
    right: $m-chart_padding;
    font-size: 12px;
    text-align: center;
}

.item {
    display: inline-block;
    cursor: pointer;
    user-select: none;
}

.item:before {
    display: inline-block;
    content: '';
    width: 10px;
    height: 10px;
    vertical-align: text-bottom;
    margin-right: 4px;
    position: relative;
    top: -2px;
}

.item:nth-of-type(1):before {
    background: rgba(91, 161, 242, 0.6);
}

.item:nth-of-type(2):before {
    background: rgba(78, 201, 171, 0.6);
}

.item:nth-of-type(3):before {
    background: rgba(255, 174, 60, 0.6);
}

.item:nth-of-type(4):before {
    background: rgba(158, 156, 246, 0.6);
}

.item:nth-of-type(5):before {
    background: rgba(30, 192, 216, 0.6);
}

.item:nth-of-type(6):before {
    background: rgba(237, 139, 204, 0.6);
}

.item+.item {
    margin-left: 2em;
}

.item[disabled] {
    color: #ccc;
}

.item[disabled]:before {
    background: #ccc;
}

.content {
    position: absolute;
    top: $m-chart_padding;
    left: $m-chart_padding;
    right: $m-chart_padding;
    bottom: $m-chart_padding;
}

.ittitle~.content {
    top: 65px;
}

.legend~.content {
    bottom: 45px;
}

.root[border] {
    border: 1px solid #eee;
}