$m-chart_padding: 15px;
$m-chart_tt_height: 40px;
$m-chart_legend_height: 30px;
.root {
    position: relative;
    box-sizing: border-box;
    width: 800px;
    height: 480px;
    padding: 15px;
}

.root[role=empty] .legend {
    display: none;
}

.ittitle {
    position: absolute;
    z-index: 5;
    top: $m-chart_padding;
    left: $m-chart_padding;
    right: $m-chart_padding;
    height: $m-chart_tt_height;
    line-height: $m-chart_tt_height;
    font-size: 16px;
}

.legend {
    position: absolute;
    bottom: $m-chart_padding;
    height: $m-chart_legend_height;
    line-height: $m-chart_tt_height;
    left: $m-chart_padding;
    right: $m-chart_padding;
    font-size: 12px;
    text-align: center;
}

.lengend[role='multiline']{
    line-height: 25px;
}

.item {
    display: inline-block;
    cursor: pointer;
    user-select: none;
}

.item[role="omitwidth"]{
    max-width: 15%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.item:before {
    display: inline-block;
    content: '';
    width: 10px;
    height: 10px;
    vertical-align: text-bottom;
    margin-right: 4px;
    position: relative;
    top: -2px;
}

.item:before{
    background: rgba(97,218,198, 0.6);
}
.item:nth-of-type(1):before {
    background: rgba(91, 161, 242, 0.6);
}

.item:nth-of-type(2):before {
    background: rgba(78, 201, 171, 0.6);
}

.item:nth-of-type(3):before {
    background: rgba(255, 174, 60, 0.6);
}

.item:nth-of-type(4):before {
    background: rgba(158, 156, 246, 0.6);
}

.item:nth-of-type(5):before {
    background: rgba(30, 192, 216, 0.6);
}

.item:nth-of-type(6):before {
    background: rgba(237, 139, 204, 0.6);
}

.item:nth-of-type(7):before {
    background: rgba(138, 209, 153, 0.6);
}

.item:nth-of-type(8):before {
    background: rgba(103, 197, 245, 0.6);
}
.item:nth-of-type(9):before {
    background: rgba(138, 205, 78, 0.6);
}
.item:nth-of-type(10):before {
    background: rgba(245, 131, 122, 0.6);
}
.item:nth-of-type(11):before {
    border-color: rgb(198,156,246, 0.6);
}

.item:nth-of-type(12):before {
    border-color: rgb(137,170,247, 0.6);
}

.item:nth-of-type(13):before {
    border-color: rgb(251,155,108, 0.6);
}

.item:nth-of-type(14):before {
    border-color: rgb(103,170,245, 0.6);
}

.item:nth-of-type(15):before {
    border-color: rgb(134,187,231, 0.6);
}

.item:nth-of-type(16):before {
    border-color: rgb(245,196,80, 0.6);
}

.item:nth-of-type(17):before {
    border-color: rgb(135,206,232, 0.6);
}

.item:nth-of-type(18):before {
    border-color: rgb(239,216,22, 0.6);
}

.item:nth-of-type(19):before {
    border-color: rgb(92,208,133, 0.6);
}

.item:nth-of-type(20):before {
    border-color: rgb(241,126,248, 0.6);
}

.item{
    margin-right: 2em;
}

.item[disabled] {
    color: #ccc;
}

.item[disabled]:before {
    background: #ccc;
}

.content {
    position: absolute;
    top: $m-chart_padding;
    left: $m-chart_padding;
    right: $m-chart_padding;
    bottom: $m-chart_padding;
}

.ittitle~.content {
    top: 65px;
}

.legend~.content {
    bottom: 45px;
}

.root[border] {
    border: 1px solid #eee;
}