$color: #666;
.root {
    display: inline-block;
    position: relative;
    color: $color;
}
.more {
    position: relative;
    cursor: pointer;
}
.more::after {
    content: "";
    position: absolute;
    display: inline-block;
    border: 5px solid transparent;
    border-left-width: 4px;
    border-right-width: 4px;
    border-top-color: $color;
    top: 5px;
    right: -11px;
}
.dropdown {
    position: absolute;
    background-color: #fff;
    border: 1px solid #e1e8ed;
    border-bottom: none;
}

.dropdown[direction="bottom-right"] {
    right: -12px;
}

.dropdown[direction="top-right"] {
    right: -12px;
    bottom: 24px;
}

.dropdown[direction="top-left"] {
    bottom: 24px;
}