<u-old-popper ref="popper" :trigger="trigger" :placement="placement" :reference="reference"
    :open="open" :follow-cursor="followCursor" :hide-delay="hideDelay" :offset="offset" v-on="$listeners" :disabled="disabled || !hasContent">
    <slot></slot>
    <div :class="[$style.root, $style.popper]" slot="popper">
        <div :class="$style.arrow"></div><!-- popper在某些场景下可以移动该元素 -->
        <slot name="popper">
            <div :class="[$style.body, $style.wrap]" :size="size">
                <slot name="body">
                    <slot name="content">{{ content }}</slot>
                </slot>
            </div>
        </slot>
    </div>
</u-old-popper>
