<div :class="$style.root"
    :selected="parentVM.multiple ? currentSelected : isSelected"
    :duplicated="parentVM.duplicated"
    :focused="isFocused"
    :readonly="parentVM.readonly"
    :disabled="disabled || parentVM.disabled"
    @mouseenter="hover"
    :style="{ direction: parentVM.ellipsisDirection }"
    @click="select"
    v-ellipsis-title>
    <!-- @override: 添加了flag功能 -->
    <span v-if="flag !== undefined" :class="$style.flag" :layer="layer" v-tooltip.top="flag"></span>
    <slot></slot>
</div>
