@extends;

.root {
    position: relative;
    line-height: 32px;
    padding-top: 0;
    padding-bottom: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.root:hover {
    background: var(--select-item-hover);
}

.root[selected] {
    background: var(--brand-primary);
}

.root[duplicated] {
    color: inherit;
    background: none;
}

.root[duplicated]:hover {
    background: var(--select-item-hover);
}

.root[disabled] {
    color: var(--select-color-disabled);
    background: none;
}

.flag {
    position: absolute;
    top: 0;
    left: 0;
    border: 7px solid;
    border-color: var(--brand-success) transparent transparent var(--brand-success);
}

.flag[layer="high"] {
    width: 14px;
    height: 14px;
    border: none;
    background-image: url("../../../assets/images/high.png");
}
