.root {
    user-select: none;
    cursor: default;
    padding: 0;
    vertical-align: 1px;
    text-align: right;
}

.item {
    display: inline-block;
    text-decoration: none;

    padding: var(--pagination-item-padding);
    min-width: var(--pagination-item-size);
    height: var(--pagination-item-size);
    line-height: calc(var(--pagination-item-size) - 1px * 2);
    font-size: var(--font-size-small);
    text-align: center;
    background: var(--pagination-item-background);
    color: var(--pagination-item-color);
    cursor: var(--cursor-pointer);
    border: 1px solid var(--pagination-item-border-color);
    margin-left: -1px;
}

.item:hover {
    color: var(--pagination-item-color-hover);
    background: var(--pagination-item-background-hover);
    position: relative;
    /* border-color: var(--brand-primary); */
}

.item[selected] {
    background: var(--pagination-item-background-selected);
    color: var(--pagination-item-color-selected);
}

.item[disabled] {
    cursor: var(--cursor-not-allowed);
    color: var(--pagination-item-color-disabled);
    background: none;
}

.item[role="prev"] {
    font-size: var(--font-size-large);
    padding: 0 4px;
    vertical-align: top;
    border-radius: var(--border-radius-base) 0 0 var(--border-radius-base);
    color: var(--color-light);
}

.item[role="prev"]::before {
    icon-font: url('../i-icon.vue/assets/angle-left.svg');
}

.item[role="next"] {
    font-size: var(--font-size-large);
    padding: 0 4px;
    vertical-align: top;
    border-radius: 0 var(--border-radius-base) var(--border-radius-base) 0;
    color: var(--color-light);
}

.item[role="next"]::before {
    icon-font: url('../i-icon.vue/assets/angle-right.svg');
}

.item[role="blank"] {
    background: var(--pagination-item-background-blank);
    color: var(--pagination-item-color-blank);
    cursor: initial;
    border: none;
}

.total{
    margin-right: var(--space-small);
}

.sizer {
    text-align: left;
    width: var(--combo-pagination-sizer-width);
    height: var(--combo-pagination-height);
    line-height: var(--combo-pagination-line-height);
    margin-right: var(--space-small);
    vertical-align: top;
}

.sizer .item {
    line-height: var(--combo-pagination-line-height);
}

.jumperwrap{
    margin-left: var(--space-small);
    vertical-align: top;
}

.jumper {
    width: var(--combo-pagination-jumper-width);
    height: var(--combo-pagination-height);
    line-height: var(--combo-pagination-line-height);
}

.root[disabled] {
    cursor: var(--cursor-not-allowed);
    background: none;
    border-color: #dedede;
}

.root[disabled] .item, .root[disabled] .total, .root[disabled] .sizer, .root[disabled] .jumperwrap {
    color: var(--pagination-item-color-disabled);
    cursor: var(--cursor-not-allowed);
    background: none;
}

.root[disabled] .item[role="blank"] {
    color: var(--pagination-item-color-blank-disabled);
    cursor: initial;
}

.root[disabled] .item[selected] {
    background: var(--pagination-item-background-disabled-selected);
}
.root[readonly] .item{
    cursor: default;
}

.root[display="inline"] {
    display: inline-block;
}

.simple .jumperwrap{
    display: inline-block;
    margin: 0;
}

.simple .item{
    border: 0;
}

.simple .item:hover{
    background-color: transparent;
    color: var(--pagination-item-color-hover);
}

.simple .item[disabled],.simple .item[disabled]:hover{
    color: var(--pagination-item-color-disabled);
}