@extend;

.root {
    text-align: right;
}

.item {
    padding: 0;
    min-width: auto;
    width: var(--pagination-item-size);
    line-height: calc(var(--pagination-item-size) - 1px * 2);
    border: 1px solid #ccc;
    margin-left: -1px;
}

.item:hover {
    background: #eee;
}

.item[selected] {
    position: relative;
    border-color: var(--brand-primary);
}

.item[disabled] {
    background: none;
    border-color: #dedede;
}

.item[role="prev"] {
    border-radius: var(--border-radius-base) 0 0 var(--border-radius-base);
    color: #999;
}

.item[role="next"] {
    border-radius: 0 var(--border-radius-base) var(--border-radius-base) 0;
    color: #999;
}

.item[role="blank"] {
    border: none;
}

.root[disabled] .item {
    background: none;
}
