@import 'proto-ui.vusion/src/u-number-input.vue/module.css';

.root {
    display: inline-block;
    position: relative;
    user-select: none;
}

.input {
    box-sizing: border-box;
    vertical-align: middle;
    color: rgb(85, 85, 85);
    margin: 0;
    padding: 6px 12px;
    border: 1px solid rgb(210, 214, 222);
    border-radius: 3px;
    background: rgb(255, 255, 255);
}

.input[disabled] {
    color: rgb(153, 153, 153);
    border: 1px solid rgb(210, 214, 222);
    background: rgb(238, 238, 238);
    cursor: not-allowed;
}

.input[readonly] {
    cursor: not-allowed;
}

.input[readonly]~.btn {
    cursor: not-allowed;
}

.btn {
    position: absolute;
    right: 2px;
    top: 4px;
    height: 14px;
    line-height: 14px;
    padding: 0 4px;
    cursor: pointer;
}

.btn[disabled] {
    cursor: not-allowed;
    opacity: 0.65;
}

.btn+.btn {
    top: auto;
    bottom: 4px;
}

.icon:before {
    width: 1em;
    display: inline-block;
    font-size: 16px !important;
    vertical-align: middle !important;
    color: #989898;
}
.icon[name='up']:before{
    icon-font: url(../u-icon.vue/icons/keyboard-arrow-up.svg);
}
.icon[name='down']:before{
    icon-font: url(../u-icon.vue/icons/keyboard-arrow-down.svg);
}
