.root {
    /* @Private */
    user-select: none;
    position: relative;

    padding: var(--menu-padding-y) 0;
    min-width: var(--menu-min-width);
    background: var(--menu-background);
    border: var(--menu-border-width) solid var(--menu-border-color);
    border-radius: var(--menu-border-radius);
    box-shadow: var(--menu-box-shadow);
}