<div :class="$style.root" v-if="currentVisible" :static="static">
    <div :class="$style.dialog" :style="{width: width+'px'}" :size="size" v-click-outside="handleClose">
        <div :class="$style.head">
            <slot name="head">
                <div v-if="title" :class="$style.title">
                    <slot name="title">{{ title }}</slot>
                </div>
                <a :class="$style.close" @click="cancel()"></a>
            </slot>
        </div>
        <div :class="$style.body" :icon="icon">
            <slot name="body">
                <div :class="$style.text">
                    <div :class="$style.heading"><slot name="heading">{{ heading }}</slot></div>
                    <div :class="$style.content"><slot>{{ content }}</slot></div>
                </div>
            </slot>
        </div>
        <div :class="$style.foot" v-if="okButton || cancelButton">
            <slot name="foot">
                <u-linear-layout>
                    <u-button :class="$style.button" v-if="okButton" color="primary" @click="ok()">{{okButton}}</u-button>
                    <u-button :class="$style.button" v-if="cancelButton" @click="cancel()">{{cancelButton}}</u-button>
                </u-linear-layout>
            </slot>
        </div>
    </div>
</div>
