.root {}

.root .row + .row { margin-top: 20px; }
.root .row { margin-left: -10px; margin-right: -10px; }
.root .column { padding: 0 10px; }

.root[gap^="none"] .row + .row { margin-top: 0; }
.root[gap$="none"] .row { margin-left: 0; margin-right: 0; }
.root[gap$="none"] .column { padding: 0; }

.root[gap^="small"] .row + .row { margin-top: 10px; }
.root[gap$="small"] .row { margin-left: -5px; margin-right: -5px; }
.root[gap$="small"] .column { padding: 0 5px; }

.root[gap^="large"] .row + .row { margin-top: 30px; }
.root[gap$="large"] .row { margin-left: -15px; margin-right: -15px; }
.root[gap$="large"] .column { padding: 0 15px; }

