
.root {}

.zero {
    fill: white;
    stroke: $brand-disabled;
    stroke-width: 1;
    stroke-dasharray: 4, 4;
}

.zero-text {
    position: absolute;
    left: 50%;
    top: 50%;
    font-size: 20px;
    transform: translate(-50%, -50%);
}

.chart {
    position: relative;
    margin: 0 auto;
}

.svg {
    display: block;
    width: 100%;
    height: 100%;
}

.item {
    fill-opacity: 0;
    stroke: green;
    stroke-width: 20px;
    transition: stroke-width $transition-duration-base ease, stroke $transition-duration-base ease;
}

.item[selected] {
    stroke-width: 32px;
}

.circle {
    fill: white;
}

.text {
    position: absolute;
    top: calc(50% - 25px);
    left: calc(50% - 30px);
    text-align: center;
    width: 60px;
    height: 50px;
    line-height: 1;
    color: #525c60;
}

.percent, .name {
    margin: 0;
}

.percent span {
    font-size: 26px;
}

.name {
    margin-top: 5px;
    font-size: 12px;
}

.label-line {
    display: none;
    fill: none;
    stroke-width: 1px;
    stroke: #dbdcde;
}

.label-line[selected] {
    display: block;
}

.label {
    display: none;
    position: absolute;
    top: 0;
    white-space: nowrap;
}

.label[selected] {
    display: block;
}
.item:nth-of-type(1) {
    stroke: $theme-chart-color1;
}

.item:nth-of-type(2) {
    stroke: $theme-chart-color2;
}

.item:nth-of-type(3) {
    stroke: $theme-chart-color3;
}

.item:nth-of-type(4) {
    stroke: $theme-chart-color4;
}

.item:nth-of-type(5) {
    stroke: $theme-chart-color5;
}

.item:nth-of-type(6) {
    stroke: $theme-chart-color6;
}

.item:nth-of-type(7) {
    stroke: $theme-chart-color7;
}

.item:nth-of-type(8) {
    stroke: $theme-chart-color8;
}
.item:nth-of-type(9) {
    stroke: $theme-chart-color9;
}
.item:nth-of-type(10) {
    stroke: $theme-chart-color10;
}
.item:nth-of-type(11) {
    stroke: $theme-chart-color11;
}
.item:nth-of-type(12) {
    stroke: $theme-chart-color12;
}
.item:nth-of-type(13) {
    stroke: $theme-chart-color13;
}
.item:nth-of-type(14) {
    stroke: $theme-chart-color14;
}
.item:nth-of-type(15) {
    stroke: $theme-chart-color15;
}
.item:nth-of-type(16) {
    stroke: $theme-chart-color16;
}
.item:nth-of-type(17) {
    stroke: $theme-chart-color17;
}
.item:nth-of-type(18) {
    stroke: $theme-chart-color18;
}
.item:nth-of-type(19) {
    stroke: $theme-chart-color19;
}
.item:nth-of-type(20) {
    stroke: $theme-chart-color20;
}
.item[color][color="info"] { stroke: $brand-info; }
.item[color][color="warning"] { stroke: $brand-warning; }
.item[color][color="success"] { stroke: $brand-success; }
.item[color][color="error"] { stroke: $brand-error; }
.item[color][color="primary"] { stroke: $brand-primary; }
