.root {
    display: inline;
}

.root:not(:last-child)::after {
    content: '>';
    margin: 0 var(--crumb-space-x);
    vertical-align: 1px;
}

.link {
    color: var(--crumb-color-link);
}

.link:hover {
    text-decoration: underline;
}

.text {
    color: inherit;
    cursor: default;
}

.disabled {
    color: var(--crumb-color-disabled);
    cursor: default;
}
