.root {
    max-width: 100%;
    width: 515px;
    max-height: 360px;
    border: 1px solid var(--border-color-base);
}
.root[size="small"] {
    width: 180px;
}
.root[size="large"] {
    width: 654px;
}
.root[size="huge"] {
    width: 812px;
}
.root[size="auto"] {
    width: 100%;
}
.head {
    padding: 5px 10px;
    height: 41px;
    line-height: 30px;
    border-bottom: 1px solid var(--border-color-base);
    background-color: #eef2f5;
}
.body {
    max-height: 318px;
    overflow: auto;
    padding: 10px;
    padding-bottom: 5px;
}
.item {
    display: inline-block;
    width: 158px;
    padding-right: 20px;
    margin-right: 0 !important;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.placeholder {
    height: 30px;
    line-height: 30px;
    text-align: center;
    margin: 0;
    margin-bottom: 5px;
    color: rgb(153, 153, 153);
}
