<div :class="$style.root" :readonly="readonly" :disabled="currentDisabled" :opened="popperOpened"
    :clearable="clearable && !!currentText" :multiple="multiple" :multiple-tags="multiple && this.multipleAppearance === 'tags'"
    :tabindex="readonly || currentDisabled ? '' : 0"
    @click="focus"
    @keydown.up.prevent="$refs.popper.currentOpened ? shift(-1) : open()"
    @keydown.down.prevent="$refs.popper.currentOpened ? shift(+1) : open()"
    @keydown.enter.stop="onEnter"
    @keydown.esc.stop="close(), filterText = ''">
    <span :class="$style.baseline">b</span><!-- 用于基线对齐 -->
    <span v-show="!filterText && (multiple ? !selectedVMs.length : !selectedVM)" :class="$style.placeholder">{{ placeholder }}</span>
    <div :class="$style.text" v-ellipsis-title :tags-overflow="tagsOverflow" :style="{direction: ellipsisDirection}">
        <!-- @override: 添加了flag功能 -->
        <slot name="flag">
            <span v-if="selectedVM && selectedVM.flag !== undefined" :class="$style.flag" :layer="selectedVM && selectedVM.layer" v-tooltip.top="selectedVM && selectedVM.flag"></span>
        </slot>
        <span :class="$style.label" v-if="label || $slots.label">
            {{ label }}
            <slot name="label"></slot>
        </span>
        <f-render v-if="!multiple && !filterable" :vnode="selectedVM && selectedVM.$slots.default"></f-render>
        <span v-else-if="this.multipleAppearance === 'text'">{{ currentText }}</span>
        <template v-else-if="this.multipleAppearance === 'tags'">
            <template v-if="tagsOverflow === 'hidden' || tagsOverflow === 'visible'">
                <span :class="$style.tag" v-for="(itemVM, index) in selectedVMs" :key="duplicated ? itemVM.value + '_' + index : itemVM.value">
                    <span :class="$style['tag-text']">{{ itemVM.currentText }}</span>
                    <span :class="$style['tag-remove']" @click.stop="select(itemVM, false)"></span>
                </span>
            </template>
            <template v-else-if="tagsOverflow === 'collapse'">
                <span :class="$style.tag" v-if="selectedVMs[0]" :key="selectedVMs[0].value">
                    <span :class="$style['tag-text']">{{ selectedVMs[0].currentText }}</span>
                    <span :class="$style['tag-remove']" @click.stop="select(selectedVMs[0], false)"></span>
                </span>
                <span :class="$style.tag" v-if="selectedVMs.length > 1">
                    <span :class="$style['tag-text']">+{{ selectedVMs.length - 1 }}</span>
                </span>
            </template>
        </template>
        <u-input v-if="filterable" :class="$style.input" ref="input" :readonly="readonly" :disabled="currentDisabled"
            :placeholder="multiple && selectedVMs.length ? '' : placeholder" :filterable="filterable" :multiple-tags="multiple && this.multipleAppearance === 'tags'"
            :value="filterText" @input="onInput" @focus="onFocus" @blur="onBlur"
            @keydown.enter.stop="onInputEnter" @keydown.delete.stop="onInputDelete"
            :style="{ width: multiple && (inputWidth + 'px') }">
        </u-input>
    </div>
    <span v-if="clearable && !!currentText" :class="$style.clearable" @click="clear"></span>
    <m-popper :class="$style.popper" ref="popper" append-to="reference" :disabled="readonly || currentDisabled"
        @update:opened="$emit('update:opened', $event, this)"
        @before-open="$emit('before-open', $event, this)"
        @before-close="$emit('before-close', $event, this)"
        @open="onOpen"
        @close="onClose"
        @before-toggle="$emit('before-toggle', $event, this)"
        @toggle="$emit('toggle', $event, this)"
        @click.stop @scroll.stop="onScroll">
        <slot></slot>
        <template v-if="currentData">
            <component :is="ChildComponent" v-if="currentData"
                v-for="(item, index) in currentData"
                :key="filterable ? item.value + '_' + index : item.value"
                :value="item.value"
                :disabled="item.disabled || disabled"
                :item="item"
            >{{ item[field] }}</component>
        </template>
        <div :class="$style.status" status="loading" v-if="loading">
            <slot name="loading"><u-spinner></u-spinner> {{ loadingText }}</slot>
        </div>
    </m-popper>
</div>
