.root {
    cursor: var(--cursor-pointer);
    padding: var(--list-view-item-padding);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    position: relative;
    line-height: 32px;
    padding-top: 0;
    padding-bottom: 0;
    color: var(--select-popper-item-color);
    background: var(--select-popper-item-background);
}

.root:hover {
    color: var(--select-popper-item-color-hover);
    background: var(--select-popper-item-background-hover);
}

.root[readonly] {
    cursor: default !important;
    color: var(--select-popper-item-color-readonly);
    background: var(--select-popper-item-background-readonly);
}

.root[focused] {
    color: var(--select-popper-item-color-focused);
    background: var(--select-popper-item-background-focused);
}

.root[selected] {
    color: var(--select-popper-item-color-selected);
    background: var(--select-popper-item-background-selected);
}

.root[disabled] {
    cursor: var(--cursor-not-allowed);
    background: var(--list-view-item-background-disabled);
    color: var(--list-view-item-color-disabled);
}

.root[selected][disabled] {
    color: var(--select-popper-item-color-selected-disabled);
    background: var(--select-popper-item-background-selected-disabled);
}

.root[duplicated] {
    color: var(--select-popper-item-color-duplicated);
    background: var(--select-popper-item-background-duplicated);
}

.root[duplicated]:hover {
    color: var(--select-popper-item-color-duplicated-hover);
    background: var(--select-popper-item-background-duplicated-hover);
}

.root[isShowMultipleIcon]::before {
    content: "";
    display: inline-block;
    width: 16px;
    height: 16px;
    border: var(--select-multiple-border-color);
    border-radius: 4px;
    vertical-align: text-top;
    margin-right: 8px;
}

.root[isShowMultipleIcon][selected]:before {
    border-color: transparent;
    background-color: var(--select-multiple-background-color);
}

.root[isShowMultipleIcon][selected]:after {
    position: absolute;
    left: 9px;
    top: 1px;
    font-size: 16px;
    color: #517cff;
    icon-font: url('../i-icon.vue/icons/select-dark.svg');
}

.flag {
    position: absolute;
    top: 0;
    left: 0;
    border: 7px solid;
    border-color: #4ec9ab transparent transparent #4ec9ab;
}

.flag[layer="high"] {
    width: 14px;
    height: 14px;
    border: none;
    background-image: url("../../assets/images/high.png");
}