@extend;

.root {
    height: var(--height-base);
    line-height: 32px;
    padding-left: 14px;
    padding-right: 20px;
    background: white;
    color: #555;
    border: 1px solid var(--brand-secondary);
    border-radius: var(--border-radius-base);
}

.root:focus {
    border-color: var(--brand-secondary);
}

.root::after {
    icon-font: url('../i-icon.vue/icons/keyboard-arrow-down.svg');
    color: #a5a5a6;
    font-size: 18px;
    right: 6px;
    top: 0;
    line-height: 1;
}

.root[disabled] {
    cursor: var(--cursor-not-allowed);
    background: var(--brand-disabled);
    border: 1px solid var(--brand-disabled);
    color: #999;
}

.label {
    padding-right: 10px;
    color: #999;
}

.text {
    float: left;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: inherit;
}

.popper {
    margin-top: 1px;
    max-height: 194px;
    overflow: auto;
    background: white;
    border: 1px solid var(--brand-secondary);
    border-radius: var(--border-radius-base);
    z-index: 1065;
}

.tag {
    border-radius: 2px;
}

.root[size$="mini"] { width: 80px; padding: 0 6px; }
.root[size$="mini"] .item { padding: 0 6px; }
.root[size^="mini"] { height: 28px; line-height: 26px; }
.root[size^="mini"] .popper { max-height: 156px; }
.root[size^="mini"] .item { line-height: 26px; }

.root[size$="small"] { width: 120px; padding: 0 8px; }
.root[size$="small"] .item { padding: 0 8px; }
.root[size^="small"] { height: 30px; line-height: 28px; }
.root[size^="small"] .popper { max-height: 168px; }
.root[size^="small"] .item { line-height: 28px; }

.root[size$="normal"] { width: 160px; padding: 0 10px; }
.root[size$="normal"] .item { padding: 0 10px; }
.root[size^="normal"] { height: var(--height-base); line-height: 32px; }
.root[size^="normal"] .popper { max-height: 192px; }
.root[size^="normal"] .item { line-height: 32px; }

.root[size$="medium"] { width: 280px; padding: 0 10px; }
.root[size$="medium"] .item { padding: 0 10px; }
.root[size^="medium"] { height: 36px; line-height: 34px; }
.root[size^="medium"] .popper { max-height: 204px; }
.root[size^="medium"] .item { line-height: 34px; }

.root[size$="large"] { width: 440px; padding: 0 10px; }
.root[size$="large"] .item { padding: 0 10px; }
.root[size^="large"] { height: 38px; line-height: 36px; }
.root[size^="large"] .popper { max-height: 216px; }
.root[size^="large"] .item { line-height: 36px; }

.root[size$="huge"] { width: 580px; padding: 0 10px; }
.root[size$="huge"] .item { padding: 0 10px; }
.root[size^="huge"] { height: 40px; line-height: 38px; }
.root[size^="huge"] .popper { max-height: 228px; }
.root[size^="huge"] .item { line-height: 38px; }

.root[size$="full"] { width: 100%; padding: 0 10px; }
.root[size^="full"] { height: 100%; }

.flag {
    position: absolute;
    top: 0;
    left: 0;
    border: 7px solid;
    border-color: #4ec9ab transparent transparent #4ec9ab;
}

.flag[layer="high"] {
    width: 14px;
    height: 14px;
    border: none;
    background-image: url("../../assets/images/high.png");
}
