@extend;

.root[gap="large"][layout="block"] > *:not(:last-child) {
    margin-bottom: 30px;
}

.root[gap="large"][layout="inline"] > *:not(:last-child) {
    margin-right: 30px;
}

.root[gap="small"][layout="block"] > *:not(:last-child) {
    margin-bottom: 10px;
}

.root[gap="small"][layout="inline"] > *:not(:last-child) {
    margin-right: 10px;
}
