@extend;

.root[gap="large"][layout="block"] .item:not(:last-child) {
    margin-bottom: 30px;
}

.root[gap="large"][layout="inline"] .item:not(:last-child) {
    margin-right: 30px;
}

.root[gap="small"][layout="block"] .item:not(:last-child) {
    margin-bottom: 10px;
}

.root[gap="small"][layout="inline"] .item:not(:last-child) {
    margin-right: 10px;
}
