@import '../../src/components/u-subnav-item.vue/module.css';

.root {
    color: #666;
}

.root:hover {
    background: #f6f7f9;
    color: $brand-primary;
}

.root[selected] {
    color: $brand-primary;
    background: white;
}
