@import '../../src/u-subnav-item.vue/module.css';

.root {
    color: #222222;
}

.root:hover{
    background: #f3f6fb;
    color: #222222;
}

.root[selected] {
    color: $brand-primary;
    background: #fff;
}
