.root {
    display: inline-block;
    position: relative;
}
.input {
    box-sizing: border-box;
    margin: 0;
    padding: 0 12px;
    vertical-align: middle;
    border: 1px solid $brand-secondary;
    color: #555;
    background: $field-background;
    border-radius: 3px;
    height: 34px;
    line-height: 34px;
    outline: none;
}
.body {
    position: absolute;
    z-index: 1;
    width: 100%;
    top: 100%;
    margin-top: 2px;
    min-width: 160px;
}
.input[disabled] {
    cursor: not-allowed;
    background: #eee;
    color: #999;
}
.timePicker {
    /* text-align: center; */
    width: 100%;
    box-sizing: border-box;
    padding-left: 32px;
}
