@import 'proto-ui.vusion/src/u-textarea.vue/module.css';
.root {
    max-width: 100%;
}

.input {
    width: 160px;
    height: 80px;
    line-height: inherit;
    max-width: 100%;
    min-height: $height-base;
    padding: 5px 10px;
    color: #666;
    border-color: $brand-secondary;
    border-radius: 3px;
    transition: border-color $transition-duration;
}

.input::placeholder {
    /* Removes placeholder transparency in Firefox. */
    opacity: 1;
    color: #999;
}

.input:focus {
    border-color: #8ebee9;
}

.input[color="error"] {
    border-color: #ff867f;
}

.input[disabled] {
    background-color: #e9f0f5;
    border-color: #e9f0f5;
}

.input[size$="normal"] { width: 160px; padding: 5px 10px; }
.input[size^="normal"] { height: 80px; }

.input[size$="large"] { width: 440px; padding: 5px 10px; }
.input[size^="large"] { height: 120px; }

.input[size$="huge"] { width: 580px; padding: 5px 10px; }
.input[size^="huge"] { height: 200px; }

.root[size$="full"] { width: 100%; }
.input[size$="full"] { width: 100%; padding: 5px 10px; }
.root[size^="full"] { height: 100%; }
.input[size^="full"] { height: 100%; }
