.root[name="area"]:before{
    icon-font: url(./icons/area.svg);
    vertical-align: -7px;
    font-size: 24px;
    margin-right: 6px;
}
.root[name="netease-cloud-logo"]:before{
    icon-font: url(./icons/netease-cloud-logo.svg);
    vertical-align: -7px;
    font-size: 24px;
    margin-right: 6px;
}
.root[name="portrait"]:before{
    icon-font: url(./icons/portrait.svg);
    vertical-align: -7px;
    font-size: 24px;
    margin-right: 6px;
}
.root[name="password"]:before {
    icon-font: url(./icons/password.svg);
    vertical-align: -7px;
    font-size: 24px;
    margin-right: 6px;
    color: #3ad0af;
}
