<u-popper ref="popper" trigger="click" append-to="reference" :placement="placement">
    <div :class="$style.title">
        <div :class="$style.content">
            {{title}}
            <div :class="$style.triangle"></div>
        </div>
    </div>
    <ul :class="$style.popper" slot="popper">
        <component :is="ChildComponent" v-if="data" v-for="item in data" :key="item.value" :value="item.value" :disabled="item.disabled || disabled" :item="item">
            <div :class="$style.item">{{ item[field] }}</div>
        </component>
        <slot></slot>
    </ul>
</u-popper>