.popper{
    display: block !important;
}
.title{
    position: relative;
    cursor: pointer;
}
.triangle{
    border: 5px solid transparent;
    border-top-color: #75818a;
    display: inline-block;
    margin-left: 10px;
    position: relative;
    top: 3px;
}
.option{
    padding: 3px 14px;
    box-sizing: border-box;
    width: 100%;
}
.option[role] {
    background: $brand-primary;
    color: #fff;
}
