.popper{
    display: block !important;
}
.title{
    cursor: pointer;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    height: 46px;
    line-height: 46px;
    padding-left: 30px;
}
.title:hover{
    background: #eef2f8;
}
.triangle{
    border: 5px solid transparent;
    border-top-color: #75818a;
    display: inline-block;
    margin-left: 10px;
    position: relative;
    top: 3px;
}
.option{
    padding: 3px 14px;
    box-sizing: border-box;
    width: 100%;
}
.option[role] {
    background: $brand-primary;
    color: #fff;
}
