@import 'proto-ui.vusion/src/u-sidebar-item.vue/module.css';

.root {
    composes: item from '../u-sidebar.vue/module.css';
    display: block;
    cursor: pointer;
    height: 52px;
    line-height: 52px;
    color: #8594aa;
    padding-left: 20px;
    transition: all $transition-duration;
}

.root:hover {
    color: $brand-primary;
    /*background-color: $hover-color;*/
}

.root[selected] {
    background-color: $brand-primary;
    color: #fff;
}
