@import 'proto-ui.vusion/src/u-sidebar-item.vue/module.css';

.root {
    composes: item from '../u-sidebar.vue/module.css';
    display: block;
    cursor: pointer;
    height: 54px;
    line-height: 54px;
    padding-left: 30px;
    color: #8594aa;
    transition: all $transition-duration;
}

.root:hover {
    color: white;
}

.root[selected] {
    color: white;
    background: #252b33;
    border-right: 4px solid $brand-primary;
}

.root[disabled] {
    cursor: $cursor-not-allowed;
    background: $sidebar-background-color;
    color: #586475;
}

.root[selected][disabled] {
    background: $sidebar-background-color;
    border-right: none;
}
