.root {
    display: block;
    cursor: pointer;
    height: 52px;
    line-height: 52px;
    color: #8594aa;
    padding-left: 20px;
    transition: color 0.2s;
}

.root:hover {
    color: $brand-primary;
    /*background-color: $hover-color;*/
}

.root[selected] {
    background-color: $brand-primary;
    color: #fff;
}
