.root {
    display: flex;
    align-items: center;
}

.icon {
    width: 104px;
    height: 64px;
    background: url('./logo-c-white.svg');
}

.root[color="2color"] .icon {
    background: url('./logo-c-2color.svg');
}

.root[name="yiwu"] .icon {
    background: url('./logo-yiwu-white.svg');
}

.root[name="yiwu"][color="2color"] .icon {
    background: url('./logo-yiwu-2color.svg');
}

.root[name="163yun"] .icon {
    background: url('./logo-163yun-white.svg');
}

.root[name="163yun"][color="2color"] .icon {
    background: url('./logo-163yun-2color.svg');
}


.divider {
    margin: 0 1em;
    border-left: 1px solid white;
    height: 18px;
}

.sub {
    font-size: 16px;
    color: white;
}
