@import 'proto-ui.vusion/src/u-sidebar.vue/module.css';

.root {
    user-select: none;
    background-color: $sidebar-background-color;
}

.root[size="small"] .group_head {
    height: 32px;
    line-height: 32px;
    font-size: 12px;
}

.root[size="small"] .item {
    height: 32px;
    line-height: 32px;
}
