.root {}

.root[layout="inline"] .item {
    display: inline-block;
}

.root[layout="inline"] .item:not(:last-child) {
    margin-right: var(--space-large);
}

.root[layout="block"] .item:not(:last-child) {
    margin-bottom: var(--space-large);
}

.root[layout="inline"] .item::before, .root[layout="inline"] .item::after {
    display: block;
}

.root[layout="inline"]::after {
    display: block;
    content: '.';
    clear: both;
    height: 0;
    visibility: hidden;
}

.root[layout="inline"] .item_value {
    max-width: none;
}

.root[gap="none"][layout="block"] .item, .root[gap="none"][layout="inline"] .item  {
    margin-bottom: 0;
}

.root[gap="none"][layout="block"] .item_label, .root[gap="none"][layout="inline"] .item_label {
    padding-right: 0;
}

.root[gap="none"] .group {
    margin-top: 0;
}

.root[gap="none"] .group_title {
    margin-bottom: 0;
}

.root[gap="small"][layout="block"] .item:not(:last-child) {
    margin-bottom: var(--space-base);
}

.root[gap="small"][layout="inline"] .item:not(:last-child) {
    margin-right: var(--space-base);
}

.root[gap="small"][layout="inline"] .item > .item_label { padding-right: 10px; }

.root[gap="large"][layout="block"] .item:not(:last-child) {
    margin-bottom: var(--space-huge);
}

.root[gap="large"][layout="inline"] .item:not(:last-child) {
    margin-right: var(--space-huge);
}
