<div :class="$style.root" :style="{height:fixHeight}">
	<u-grid-row v-if="mode==1" type="flex" direction="column">
		<u-grid-column flex-type="item" flex="none" ><slot name="header"></slot></u-grid-column>
		<u-grid-row type="flex" :unit="unit" >
			<u-grid-column flex-type="item" flex="none" :span="leftSpan" :style="{background:leftBackground}">
				<slot name="left"></slot>
			</u-grid-column>
			<u-grid-column flex-type="item" :class="$style.content"><slot name="content"></slot></u-grid-column>
			<u-grid-column flex-type="item" flex="none" :span="rightSpan" :style="{background:rightBackground}">
				<slot name="right"></slot>
			</u-grid-column>
		</u-grid-row>
		<u-grid-column flex-type="item" flex="none" ><slot name="footer"></slot></u-grid-column>
	</u-grid-row>
	<u-grid-row v-if="mode==2" type="flex" :unit="unit">
		<u-grid-column :style="{background:leftBackground}" flex-type="item" flex="none"  :span="leftSpan">
			<slot name="left"></slot>
		</u-grid-column>
		<u-grid-row type="flex" direction="column" :style="{height:fixHeight}">
			<u-grid-column flex-type="item" flex="none" ><slot name="header"></slot></u-grid-column>
			<u-grid-column flex-type="item"  :class="$style.content"><slot name="content"></slot></u-grid-column>
			<u-grid-column flex-type="item" flex="none" ><slot name="footer"></slot></u-grid-column>
		</u-grid-row>
		<u-grid-column :style="{background:rightBackground}" flex-type="item" flex="none"  :span="rightSpan">
			<slot name="right"></slot>
		</u-grid-column>
	</u-grid-row>
</div>