$axis-y_width: 40px;
$axis-x_height: 30px;
$axis_border: #ccc;
$axis-y_offset: 10px;
$axis-x_offset: 6px;
$line_border: #eee;
$line_width: 2px;
$line_offset: 6px;
$bar_width: 60px;

.root {
}
.grid {
    position: absolute;
    bottom: $axis-x_height;
    top: 15px;
    left: 100px;
    right: 20px;
    font-size: 0;
}
.layer {
    position: absolute;
    bottom: $axis-x_height;
    top: 15px;
    left: 100px;
    right: 20px;
    font-size: 0;
    z-index: 10;
}

.line {
    position: absolute;
}

.line[role='line-x'] {
    left: 0;
    right: -1px;
    border-top: 1px solid $line_border;
}

.line[role='line-y'] {
    top: -1px;
    bottom: 0;
    border-left: 1px solid $line_border;
}

.axis {
    position: absolute;
    z-index: 2;
}

.axis[role='axis-x'] {
    left: 100px;
    right: 19px;
    bottom: 0;
    height: $axis-x_height;
    border-top: 1px solid $axis_border;
}

.axis[role='axis-y'] {
    left: 0;
    top: 14px;
    bottom: $axis-x_height;
    width: 100px;
    border-right: 1px solid $axis_border;
}
.xlabel {
    position: relative;
    left: -50%;
    text-align: center;
}
.ylabel {
    display: block;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.label {
    position: absolute;
    font-size: 12px;
}

.label[role='label-x'] {
    top: $axis-x_offset;
    bottom: 0;
    text-align: left;
    width: 40px;
}

.label[role='label-y'] {
    left: 0;
    right: $axis-y_offset;
    text-align: right;
}

.label[role='label-xName'] {
    right: -50px;
    top: 6px;
    bottom: 0;
}

.label[role='label-yName'] {
    right: 10px;
    top: -30px;
    text-align: right;
}

.piece {
    position: absolute;
    top: 0;
    bottom: 0;
}

.bar {
    position: absolute;
    box-sizing: border-box;
    bottom: 0;
    width: $bar_width;
    left: 0;
    margin-left: 0;
    background: rgba(91, 161, 242, 0.3);
    border: $line_width solid rgba(91, 161, 242, 0.6);
    border-left: none;
    top: 50%;
    transform: translateY(-50%);
}

.tooltip {
    border-radius: 2px;
    position: absolute;
    text-align: initial;
    white-space: nowrap;
    line-height: 20px;
    padding: 17px 20px;
    font-size: 12px;
    background: rgba(71, 88, 107, 0.9);
    color: white;
    z-index: $z-index-tooltip;
    box-sizing: border-box;
}

.tooltip::after {
    content: '';
    display: block;
    position: absolute;
    border: 5px solid rgba(71, 88, 107, 0.9);
}

.tooltip[x-placement='right-start'] {
    margin-left: 5px;
}
.tooltip[x-placement='right-start']::after {
    top: 10px;
    left: -5px;
    border-left: none;
    border-top-color: transparent;
    border-bottom-color: transparent;
}

.tooltip[x-placement='left-start'] {
    margin-left: -5px;
}
.tooltip[x-placement='left-start']::after {
    top: 10px;
    right: -5px;
    border-right: none;
    border-top-color: transparent;
    border-bottom-color: transparent;
}

.bar[role='bar-stack'] {
    border: none;
    background: none;
}

.bar[role='bar-static'] {
    position: absolute;
    margin: 0;
    display: inline-block;
}

.bar[role='bar-static']:nth-of-type(1) {
    border-color: $theme-chart-color1;
    background: $theme-chart-rgba-color1;
}

.bar[role='bar-static']:nth-of-type(2) {
    border-color: $theme-chart-color2;
    background: $theme-chart-rgba-color2;
}

.bar[role='bar-static']:nth-of-type(3) {
    border-color: $theme-chart-color3;
    background: $theme-chart-rgba-color3;
}

.bar[role='bar-static']:nth-of-type(4) {
    border-color: $theme-chart-color4;
    background: $theme-chart-rgba-color4;
}

.bar[role='bar-static']:nth-of-type(5) {
    border-color: $theme-chart-color5;
    background: $theme-chart-rgba-color5;
}

.bar[role='bar-static']:nth-of-type(6) {
    border-color: $theme-chart-color6;
    background: $theme-chart-rgba-color6;
}

.bar[role='bar-static']:nth-of-type(7) {
    border-color: $theme-chart-color7;
    background: $theme-chart-rgba-color7;
}

.bar[role='bar-static']:nth-of-type(8) {
    border-color: $theme-chart-color8;
    background: $theme-chart-rgba-color8;
}

.bar[role='bar-static']:nth-of-type(9) {
    border-color: $theme-chart-color9;
    background: $theme-chart-rgba-color9;
}

.bar[role='bar-static']:nth-of-type(10) {
    border-color: $theme-chart-color10;
    background: $theme-chart-rgba-color10;
}
