/* @deprecated */
:root {
    --xbar-chart-axis-y_width: 40px;
    --xbar-chart-axis-x_height: 30px;
    --xbar-chart-axis_border: #ccc;
    --xbar-chart-axis-y_offset: 10px;
    --xbar-chart-axis-x_offset: 6px;
    --xbar-chart-line_border: #eee;
    --xbar-chart-line_width: 2px;
    --xbar-chart-line_offset: 6px;
    --xbar-chart-bar_width: 60px;
}

.root {}

.grid {
    position: absolute;
    bottom: var(--xbar-chart-axis-x_height);
    top: 15px;
    left: 100px;
    right: 20px;
    font-size: 0;
}
.layer {
    position: absolute;
    bottom: var(--xbar-chart-axis-x_height);
    top: 15px;
    left: 100px;
    right: 20px;
    font-size: 0;
    z-index: 10;
}

.line {
    position: absolute;
}

.line[role='line-x'] {
    left: 0;
    right: -1px;
    border-top: 1px solid var(--xbar-chart-line_border);
}

.line[role='line-y'] {
    top: -1px;
    bottom: 0;
    border-left: 1px solid var(--xbar-chart-line_border);
}

.axis {
    position: absolute;
    z-index: 2;
}

.axis[role='axis-x'] {
    left: 100px;
    right: 19px;
    bottom: 0;
    height: var(--xbar-chart-axis-x_height);
    border-top: 1px solid var(--xbar-chart-axis_border);
}

.axis[role='axis-y'] {
    left: 0;
    top: 14px;
    bottom: var(--xbar-chart-axis-x_height);
    width: 100px;
    border-right: 1px solid var(--xbar-chart-axis_border);
}
.xlabel {
    position: relative;
    left: -50%;
    text-align: center;
}
.ylabel {
    display: block;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.label {
    position: absolute;
    font-size: 12px;
}

.label[role='label-x'] {
    top: var(--xbar-chart-axis-x_offset);
    bottom: 0;
    text-align: left;
    width: 40px;
}

.label[role='label-y'] {
    left: 0;
    right: var(--xbar-chart-axis-y_offset);
    text-align: right;
}

.label[role='label-xName'] {
    right: -50px;
    top: 6px;
    bottom: 0;
}

.label[role='label-yName'] {
    right: 10px;
    top: -30px;
    text-align: right;
}

.piece {
    position: absolute;
    top: 0;
    bottom: 0;
}

.bar {
    position: absolute;
    box-sizing: border-box;
    bottom: 0;
    width: var(--xbar-chart-bar_width);
    left: 0;
    margin-left: 0;
    background: rgba(91, 161, 242, 0.3);
    border: var(--xbar-chart-line_width) solid rgba(91, 161, 242, 0.6);
    border-left: none;
    top: 50%;
    transform: translateY(-50%);
}

.tooltip {
    border-radius: 2px;
    position: absolute;
    text-align: initial;
    white-space: nowrap;
    line-height: 20px;
    padding: 17px 20px;
    font-size: 12px;
    background: rgba(71, 88, 107, 0.9);
    color: white;
    z-index: var(--z-index-tooltip);
    box-sizing: border-box;
}

.tooltip::after {
    content: '';
    display: block;
    position: absolute;
    border: 5px solid rgba(71, 88, 107, 0.9);
}

.tooltip[x-placement='right-start'] {
    margin-left: 5px;
}
.tooltip[x-placement='right-start']::after {
    top: 10px;
    left: -5px;
    border-left: none;
    border-top-color: transparent;
    border-bottom-color: transparent;
}

.tooltip[x-placement='left-start'] {
    margin-left: -5px;
}
.tooltip[x-placement='left-start']::after {
    top: 10px;
    right: -5px;
    border-right: none;
    border-top-color: transparent;
    border-bottom-color: transparent;
}

.bar[role='bar-stack'] {
    border: none;
    background: none;
}

.bar[role='bar-static'] {
    position: absolute;
    margin: 0;
    display: inline-block;
}

.bar[role='bar-static']:nth-of-type(1) {
    border-color: var(--theme-chart-color1);
    background: var(--theme-chart-rgba-color1);
}

.bar[role='bar-static']:nth-of-type(2) {
    border-color: var(--theme-chart-color2);
    background: var(--theme-chart-rgba-color2);
}

.bar[role='bar-static']:nth-of-type(3) {
    border-color: var(--theme-chart-color3);
    background: var(--theme-chart-rgba-color3);
}

.bar[role='bar-static']:nth-of-type(4) {
    border-color: var(--theme-chart-color4);
    background: var(--theme-chart-rgba-color4);
}

.bar[role='bar-static']:nth-of-type(5) {
    border-color: var(--theme-chart-color5);
    background: var(--theme-chart-rgba-color5);
}

.bar[role='bar-static']:nth-of-type(6) {
    border-color: var(--theme-chart-color6);
    background: var(--theme-chart-rgba-color6);
}

.bar[role='bar-static']:nth-of-type(7) {
    border-color: var(--theme-chart-color7);
    background: var(--theme-chart-rgba-color7);
}

.bar[role='bar-static']:nth-of-type(8) {
    border-color: var(--theme-chart-color8);
    background: var(--theme-chart-rgba-color8);
}

.bar[role='bar-static']:nth-of-type(9) {
    border-color: var(--theme-chart-color9);
    background: var(--theme-chart-rgba-color9);
}

.bar[role='bar-static']:nth-of-type(10) {
    border-color: var(--theme-chart-color10);
    background: var(--theme-chart-rgba-color10);
}
.bar[role='bar-static']:nth-of-type(11) {
    border-color: var(--theme-chart-color11);
    background: var(--theme-chart-rgba-color11);
}
.bar[role='bar-static']:nth-of-type(12) {
    border-color: var(--theme-chart-color12);
    background: var(--theme-chart-rgba-color12);
}
.bar[role='bar-static']:nth-of-type(13) {
    border-color: var(--theme-chart-color13);
    background: var(--theme-chart-rgba-color13);
}
.bar[role='bar-static']:nth-of-type(14) {
    border-color: var(--theme-chart-color14);
    background: var(--theme-chart-rgba-color14);
}
.bar[role='bar-static']:nth-of-type(15) {
    border-color: var(--theme-chart-color15);
    background: var(--theme-chart-rgba-color15);
}
.bar[role='bar-static']:nth-of-type(16) {
    border-color: var(--theme-chart-color16);
    background: var(--theme-chart-rgba-color16);
}
.bar[role='bar-static']:nth-of-type(17) {
    border-color: var(--theme-chart-color17);
    background: var(--theme-chart-rgba-color17);
}
.bar[role='bar-static']:nth-of-type(18) {
    border-color: var(--theme-chart-color18);
    background: var(--theme-chart-rgba-color18);
}
.bar[role='bar-static']:nth-of-type(19) {
    border-color: var(--theme-chart-color19);
    background: var(--theme-chart-rgba-color19);
}
.bar[role='bar-static']:nth-of-type(20) {
    border-color: var(--theme-chart-color20);
    background: var(--theme-chart-rgba-color20);
}
