.root {}

.title {
    margin: 0;
    width: var(--skeleton-title-width);
    height: 1em;
    background: var(--skeleton-background);
}

.paragraph {
    margin: 0;
    height: 1em;
    background: var(--skeleton-background);
}

.paragraph:last-child {
    width: var(--skeleton-paragraph-width);
}

* + .paragraph {
    margin-top: 1em;
}
