.root {
    position: relative;
    user-select: none;
    font-size: var(--toc-font-size);
    width: var(--toc-width);
    padding: var(--toc-padding);
    background: var(--toc-background);
    border-left: var(--toc-border-width) solid var(--toc-border-color);
}

.body {
    margin: var(--toc-padding) -10px;
    padding: 0 calc(10px + var(--toc-padding));
    overflow: hidden;
}

.root::before, .root::after {
    content: '';
    display: block;
    position: absolute;
    width: var(--toc-circle-size);
    height: var(--toc-circle-size);
    left: calc((var(--toc-circle-size) + 1px) / (-2));
    border: 2px solid var(--toc-border-color);
    border-radius: 100px;
    background: white;
}

.root::before {
    top: calc((var(--toc-circle-size) + 1px) / (-2));
}

.root::after {
    bottom: calc((var(--toc-circle-size) + 1px) / (-2));
}

.arrow {
    position: absolute;
    width: 10px;
    height:6px;
    background: var(--brand-primary);
    left: -6px;
    transition: top .15s ease-in-out;
    z-index: 1;
}

.arrow:after {
    content: '';
    width: 0;
    height: 0;
    border-top: 3px solid transparent;
    border-left: 3px solid var(--brand-primary);
    border-right: 3px solid transparent;
    border-bottom: 3px solid transparent;
    position: absolute;
    right: -6px;
}
