@import '../../src/u-sidebar.vue/module.css';

.root[color="inverse"] {
    background: #1d293c;
}

.root[color="inverse"] .item {
    color: #717f94;
}

.root[color="inverse"] .item:hover {
    color: white;
}

.root[color="inverse"] .item[selected] {
    color: white;
    background: rgba(0, 0, 0, 0.15);
}

.root[color="inverse"] .item[disabled] {
    background: transparent;
    color: #586475;
}

.root[color="inverse"] .item[selected][disabled] {
    background: transparent;
    border-right: none;
}

.root[color="inverse"] .group_head {
    color: #6e7a8c;
}

.root[color="inverse"] .group_body {
    background: #14202f;
}

.root[color="inverse"] .divider {
    background: #3a465a;
}
