<div :class="$style.root" ref="root" :border="border" :bottom-border="rootBottomBorder" :style="{height: height+'px', width: width + 'px', maxHeight: maxHeight + 'px', minHeight: minHeight + 'px'}" v-show="visible" @mouseenter="mouseenter" @mouseleave="mouseleave">
    <div :class="$style.title" v-if="title" ref="title">
        {{title}}
        <slot name="title"></slot>
    </div>
    <template v-if="layout === 'auto'">
        <table :class="$style.table" cellspacing="0" cellpadding="0" border="0" :style="{tableLayout: layout}">
            <thead v-if="showHeader">
                <tr :class="$style.htrItem" :color="color">
                    <th v-for="(column, index) in showColumns" :class="[$style.hthSpan, column.headClass, column.columnClass]" :role="column.filter || column.sortable" :style="{textAlign: column.horizontal}" :filter="column.filter" :border="border" :selection="column.type==='selection'"
                        @click.stop="handleSort(column)">
                        <template v-if="column.type === 'selection' && column.headSelection">
                            <u-checkbox v-model="allSel" @check="allSelected" />
                        </template>
                        <span v-if="!column.filter" :class="$style.itemtitle">
                            <template v-if="!column.$slots.headerTitle">{{ column.title }}</template>
                            <template v-else>
                                <u-old-table-view-cell :class="$style.ditem" :column="column" text></u-old-table-view-cell>
                            </template>
                        </span>
                        <template v-else-if="column.filter">
                           <div :class="$style.filtertitle" :role="column.filter">
                               <span :class="$style.titleitem">{{column.title}}</span>
                               <div :class="$style.traingle"></div>
                               <m-popper :class="$style.popper" trigger="click" ref="popper" :placement="column.placement" append-to="body">
                                   <div :style="{width: columnsWidth[index] + 'px'}">
                                       <div :class="$style.option" :direction="column.optionsDirection" v-for="option in column.options" @click.stop="select(option, column, index)" :role="column.selectValue === option.value" v-ellipsis-title>{{option.name}}</div>
                                   </div>
                               </m-popper>
                           </div>
                        </template>
                        <template v-if="column.sortable">
                            <span :class="$style.wrapicon">
                                <u-icon :class="$style.icon" name="arrow-up" v-if="currentSort.order === 'asc' && currentSort.title === column.title" :role="currentSort.title === column.title"></u-icon>
                                <u-icon :class="$style.icon" name="arrow-down" v-else :role="currentSort.title === column.title"></u-icon>
                            </span>
                        </template>
                    </th>
                </tr>
            </thead>
            <tbody :class="$style.btbody" :no-show-header="!showHeader">
                <template v-if="loading">
                    <tr :class="$style.btrItem">
                        <td :colspan="showColumns.length" :class="$style.btdSpan" :border="border" role="center">
                            <u-loading></u-loading>
                            <span :class="$style.loadText">{{ loadText }}</span>
                        </td>
                    </tr>
                </template>
                <template v-else-if="tdata.length === 0">
                    <tr :class="$style.btrItem">
                        <td :colspan="showColumns.length" :class="$style.btdSpan" :border="border" role="center">
                            <slot name="no-data-text">{{noDataText}}</slot>
                        </td>
                    </tr>
                </template>
                <template v-else v-for="(row, index) in tdata">
                    <tr :class="[$style.btrItem, rowClsName(index)]" @mouseenter="fixmouseenter(index)" @mouseleave="fixmouseleave(index)" :show-color="showColor && radioColumn && row[radioValueField] === currentRadioValue" @click="rowClick(row,index)">
                        <td v-for="(column, cindex) in showColumns" :class="[$style.btdSpan, column.columnClass]" :style="{textAlign: column.horizontal}" :border="border" :selection="column.type==='selection'" :hide="isXScroll || border">
                            <span v-if="column.type === 'selection'">
                                <u-checkbox v-model="row.selected" :disabled="row.disabled"  @check="changeSelect(row)" />
                            </span>
                            <span v-else-if="column.type === 'radio'">
                                <label :class="$style.radioLabel" :disabled="row.disabled">
                                    <input v-if="!row.disabled" name="radio" type="radio" :class="$style.radio" :value="row[radioValueField]" v-model="currentRadioValue" :disabled="row.disabled"/>
                                    <span v-else :class="$style.radioDisabled" :selected="currentRadioValue === row[radioValueField]"></span>
                                    <span :class="$style.radioText">{{ row[radioTextField] }}</span>
                                </label>
                            </span>
                            <template v-else-if="column.$scopedSlots.default || column.$slots.default">
                                <u-old-table-view-cell :row="row" :column="column" :class="$style.ditem" :expanded="expandedColumn && column.type === 'expand'" :role="column.ellipsis" v-ellipsis-title></u-old-table-view-cell>
                            </template>
                            <span v-else-if="column.formatter" :class="$style.ditem" :role="column.ellipsis" v-ellipsis-title="column.formatter(row, column, index, cindex)">{{column.formatter(row, column, index, cindex) || defaultText}}</span>
                            <span v-else-if="column.type === 'time'" :class="$style.ditem" :role="column.ellipsis" v-ellipsis-title="translateTime(row[column.label], column.timeFormat)">{{translateTime(row[column.label], column.timeFormat)}}</span>
                            <span v-else :class="$style.ditem" :role="column.ellipsis" v-ellipsis-title>{{ showContent(column, row[column.label]) }}</span>
                            <span v-if="column.type === 'expand' && showExpandIcon(column, row[column.expandLabel || column.label])" @click="toggleExpand(index, cindex)">
                                <slot name="expandIcon">
                                    <span :class="$style.expand" :role="column.expandIcon" :name="row.iconName"></span>
                                </slot>
                            </span>
                        </td>
                    </tr>
                    <tr :class="$style.btrItem" v-if="row.expanded">
                        <td :colspan="showColumns.length" :class="$style.btdSpan" :expanded="row.expanded" :border="border" role="center" :hide="isXScroll || border">
                            <u-old-table-view-cell :row="row" :column="expandedColumn" expand></u-old-table-view-cell>
                        </td>
                    </tr>
                </template>
                <template v-if="filterTdata && filterTdata.length > limit && tdata.length === limit && pattern === 'limit'">
                    <tr :class="$style.btrItem">
                        <td :colspan="showColumns.length" :class="$style.btdSpan" :border="border" role="center" :hide="isXScroll || border">
                            <slot name="limit-text">
                                <u-link @click.native="showAll">{{ limitText }}</u-link>
                            </slot>
                        </td>
                    </tr>
                </template>
                <template v-else-if="filterTdata && filterTdata.length === tdata.length && tdata.length > limit && pattern === 'limit'">
                    <tr :class="$style.btrItem">
                        <td :colspan="showColumns.length" :class="$style.btdSpan" :border="border" role="center" :hide="isXScroll || border">
                            <slot name="all-text">
                                <u-link @click.native="showLimit">{{ allText }}</u-link>
                            </slot>
                        </td>
                    </tr>
                </template>
                <template v-else-if="tdata.length === limit && copyTdata.length > limit && pattern === 'limit'">
                    <tr :class="$style.btrItem">
                        <td :colspan="showColumns.length" :class="$style.btdSpan" :border="border" role="center" :hide="isXScroll || border">
                            <slot name="limit-text">
                                <u-link @click.native="showAll">{{ limitText }}</u-link>
                            </slot>
                        </td>
                    </tr>
                </template>
                <template v-else-if="copyTdata.length === tdata.length && tdata.length > limit && pattern === 'limit'">
                    <tr :class="$style.btrItem">
                        <td :colspan="showColumns.length" :class="$style.btdSpan" :border="border" role="center" :hide="isXScroll || border">
                            <slot name="all-text">
                                <u-link @click.native="showLimit">{{ allText }}</u-link>
                            </slot>
                        </td>
                    </tr>
                </template>
            </tbody>
        </table>
    </template>
    <template v-else>
        <div :class="$style.header" ref="head" :role="isXScroll || fixedLeftColumns.length > 0 || fixedRightColumns.length > 0">
            <table :class="$style.thead" ref="thead" cellspacing="0" cellpadding="0" border="0" :style="{width: tableWidth, tableLayout: layout}">
                <colgroup>
                    <col v-for="(column, index) in showColumns" :width="columnsWidth[index] || column.currentWidth"></col>
                </colgroup>
                <thead v-if="showHeader">
                    <tr :class="$style.htrItem" :color="color">
                        <th v-for="(column, index) in showColumns"  :class="[$style.hthSpan, column.headClass, column.columnClass]" :style="{textAlign: column.horizontal}" :border="border" :role="column.filter || column.sortable" :filter="column.filter" :selection="column.type==='selection'"
                            @click.stop="handleSort(column)">
                            <template v-if="column.type === 'selection' && column.headSelection">
                                <u-checkbox v-model="allSel" :disabled="allDisabled" @check="allSelected" />
                            </template>
                            <span v-if="!column.filter" :class="$style.itemtitle">
                                <template v-if="!column.$slots.headerTitle">{{ column.title }}</template>
                                <template v-else>
                                    <u-old-table-view-cell :class="$style.ditem" :column="column" text></u-old-table-view-cell>
                                </template>
                            </span>
                            <template v-else-if="column.filter">
                               <div :class="$style.filtertitle" :role="column.filter">
                                   <span :class="$style.titleitem">{{column.title}}</span>
                                   <div :class="$style.traingle"></div>
                                   <m-popper :class="$style.popper" trigger="click" ref="popper" :placement="column.placement" append-to="body">
                                       <div :style="{width: columnsWidth[index] + 'px'}">
                                           <div :class="$style.option" :direction="column.optionsDirection" v-for="option in column.options" @click.stop="select(option, column, index)" :role="column.selectValue === option.value" v-ellipsis-title>{{option.name}}</div>
                                       </div>
                                   </m-popper>
                               </div>
                            </template>
                            <template v-if="column.sortable">
                                <span :class="$style.wrapicon">
                                    <u-icon :class="$style.icon" name="arrow-up" v-if="currentSort.order === 'asc' && currentSort.title === column.title" :role="currentSort.title === column.title"
                                        @click.native="handleSort('asc', column)"></u-icon>
                                    <u-icon :class="$style.icon" name="arrow-down" v-else :role="currentSort.title === column.title" @click.native="handleSort('desc', column)"></u-icon>
                                </span>
                            </template>
                        </th>
                    </tr>
                </thead>
            </table>
        </div>
        <div :class="$style.body" :style="{height: bodyHeight+'px', maxHeight: maxBodyHeight+'px', minHeight: minBodyHeight+'px', overflowX: isXScroll ? 'scroll' : 'visible', overflowY: isYScroll ? 'scroll' : 'visible' }" @scroll="bodyScroll">
            <div :style="{height: estimatedTotalHeight}">
                <div :style="{paddingTop: virtualTop +'px', paddingBottom: virtualBottom + 'px'}">
                    <!-- <div v-if="pattern === 'virtual'" :class="$style.virtual" :style="{height: virtualHeight}"></div> -->
                    <table cellspacing="0" ref="body" cellpadding="0" border="0" :class="$style.tbody" :style="{width: bodyWidth, tableLayout: layout}">
                        <colgroup>
                            <col v-for="(column, index) in showColumns" :width="column.currentWidth || columnsWidth[index]">
                        </colgroup>
                        <tbody :class="$style.btbody" :no-show-header="!showHeader">
                            <template v-if="loading">
                                <tr :class="$style.btrItem" :hover="fixedHover">
                                    <td :colspan="showColumns.length" :class="$style.btdSpan" :border="border" role="center">
                                        <u-loading></u-loading>
                                        <span :class="$style.loadText">{{ loadText }}</span>
                                    </td>
                                </tr>
                            </template>
                            <template v-else-if="tdata.length === 0">
                                <tr :class="$style.btrItem" :hover="fixedHover">
                                    <td :colspan="showColumns.length" :class="$style.btdSpan" :border="border" role="center">
                                        <slot name="no-data-text">{{noDataText}}</slot>
                                    </td>
                                </tr>
                            </template>
                            <template v-else v-for="(row, index) in tdata">
                                <tr :class="[$style.btrItem, rowClsName(index)]" :hover="row.hover" :show-color="showColor && radioColumn && row[radioValueField] === currentRadioValue" @click="rowClick(row,index)" @mouseenter="fixmouseenter(index)" @mouseleave="fixmouseleave(index)">
                                    <td v-for="(column, cindex) in showColumns" :class="[$style.btdSpan, column.columnClass]" :style="{textAlign: column.horizontal}" :border="border" :selection="column.type==='selection'" :hide="isXScroll || border">
                                        <span v-if="column.type === 'selection'">
                                            <u-checkbox v-model="row.selected" :disabled="row.disabled" @check="changeSelect(row)"/>
                                        </span>
                                        <span v-else-if="column.type === 'radio'">
                                            <label :class="$style.radioLabel" :disabled="row.disabled">
                                                <input v-if="!row.disabled" name="radio" type="radio" :class="$style.radio" :value="row[radioValueField]" v-model="currentRadioValue" :disabled="row.disabled"/>
                                                <span v-else :class="$style.radioDisabled" :selected="currentRadioValue === row[radioValueField]"></span>
                                                <span :class="$style.radioText">{{ row[radioTextField] }}</span>
                                            </label>
                                        </span>
                                        <template v-else-if="column.$scopedSlots.default || column.$slots.default">
                                            <u-old-table-view-cell :row="row" :column="column" :class="$style.ditem" :expanded="expandedColumn && column.type === 'expand'" :role="column.ellipsis" v-ellipsis-title></u-old-table-view-cell>
                                        </template>
                                        <span v-else-if="column.formatter" :class="$style.ditem" :role="column.ellipsis" v-ellipsis-title="column.formatter(row, column, index, cindex)">{{column.formatter(row, column, index, cindex) || defaultText}}</span>
                                        <span v-else-if="column.type === 'time'" :class="$style.ditem" :role="column.ellipsis" v-ellipsis-title="translateTime(row[column.label], column.timeFormat)">{{translateTime(row[column.label], column.timeFormat)}}</span>
                                        <span v-else :class="$style.ditem" :role="column.ellipsis" v-ellipsis-title>{{ showContent(column, row[column.label]) }}</span>
                                        <span v-if="column.type === 'expand' && showExpandIcon(column, row[column.expandLabel || column.label])" @click="toggleExpand(index, cindex)">
                                            <slot name="expandIcon">
                                                <span :class="[$style.expand, column.expandClass]" :role="column.expandIcon" :name="row.iconName"></span>
                                            </slot>
                                        </span>
                                    </td>
                                </tr>
                                <tr :class="$style.btrItem" v-if="row.expanded">
                                    <td :colspan="showColumns.length" :class="$style.btdSpan" :expanded="row.expanded" :border="border" role="center" :hide="isXScroll || border">
                                        <u-old-table-view-cell :row="row" :column="expandedColumn" expand></u-old-table-view-cell>
                                    </td>
                                </tr>
                            </template>
                            <template v-if="filterTdata && filterTdata.length > limit && tdata.length === limit && pattern === 'limit'">
                                <tr :class="$style.btrItem">
                                    <td :colspan="showColumns.length" :class="$style.btdSpan" :border="border" role="center" :hide="isXScroll || border">
                                        <slot name="limit-text">
                                            <u-link @click.native="showAll">{{ limitText }}</u-link>
                                        </slot>
                                    </td>
                                </tr>
                            </template>
                            <template v-else-if="filterTdata && filterTdata.length === tdata.length && tdata.length > limit && pattern === 'limit'">
                                <tr :class="$style.btrItem">
                                    <td :colspan="showColumns.length" :class="$style.btdSpan" :border="border" role="center" :hide="isXScroll || border">
                                        <slot name="all-text">
                                            <u-link @click.native="showLimit">{{ allText }}</u-link>
                                        </slot>
                                    </td>
                                </tr>
                            </template>
                            <template v-else-if="tdata.length === limit && copyTdata.length > limit && pattern === 'limit'">
                                <tr :class="$style.btrItem">
                                    <td :colspan="showColumns.length" :class="$style.btdSpan" :border="border" role="center" :hide="isXScroll || border">
                                        <slot name="limit-text">
                                            <u-link @click.native="showAll">{{ limitText }}</u-link>
                                        </slot>
                                    </td>
                                </tr>
                            </template>
                            <template v-else-if="copyTdata.length === tdata.length && tdata.length > limit && pattern === 'limit'">
                                <tr :class="$style.btrItem">
                                    <td :colspan="showColumns.length" :class="$style.btdSpan" :border="border" role="center" :hide="isXScroll || border">
                                        <slot name="all-text">
                                            <u-link @click.native="showLimit">{{ allText }}</u-link>
                                        </slot>
                                    </td>
                                </tr>
                            </template>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div :class="$style.fixLeft" v-if="fixedLeftColumns.length" :style="{width: fixedLeftWidth + 'px'}">
            <div :class="$style.header" :role="fixedLeftColumns.length > 0">
                <table :class="$style.thead" cellspacing="0" cellpadding="0" border="0" :style="{width: tableWidth, tableLayout: layout}">
                    <colgroup>
                        <col v-for="(column, index) in showColumns" :width="columnsWidth[index] || column.currentWidth"></col>
                    </colgroup>
                    <thead v-if="showHeader">
                        <tr :class="$style.htrItem" :color="color">
                            <th v-for="(column, index) in showColumns" :class="[$style.hthSpan, column.headClass, column.columnClass]" :style="{textAlign: column.horizontal}" :border="border" :role="column.filter || column.sortable" :filter="column.filter" :selection="column.type==='selection'"
                                @click.stop="handleSort(column)">
                                <template v-if="column.type === 'selection' && column.headSelection">
                                    <u-checkbox v-model="allSel" @check="allSelected" />
                                </template>
                                <span v-if="!column.filter" :class="$style.itemtitle">
                                    <template v-if="!column.$slots.headerTitle">{{ column.title }}</template>
                                <template v-else>
                                    <u-old-table-view-cell :class="$style.ditem" :column="column" text></u-old-table-view-cell>
                                </template>
                                </span>
                                <template v-else-if="column.filter">
                                   <div :class="$style.filtertitle" :role="column.filter">
                                       <span :class="$style.titleitem">{{column.title}}</span>
                                       <div :class="$style.traingle"></div>
                                       <m-popper :class="$style.popper" trigger="click" ref="popper" :placement="column.placement" append-to="body">
                                           <div :style="{width: columnsWidth[index] + 'px'}">
                                               <div :class="$style.option" :direction="column.optionsDirection" v-for="option in column.options" @click.stop="select(option, column, index)" :role="column.selectValue === option.value" v-ellipsis-title>{{option.name}}</div>
                                           </div>
                                       </m-popper>
                                   </div>
                                </template>
                                <template v-if="column.sortable">
                                    <span :class="$style.wrapicon">
                                        <u-icon :class="$style.icon" name="arrow-up" v-if="currentSort.order === 'asc' && currentSort.title === column.title" :role="currentSort.title === column.title"
                                            @click.native="handleSort('asc', column)"></u-icon>
                                        <u-icon :class="$style.icon" name="arrow-down" v-else :role="currentSort.title === column.title" @click.native="handleSort('desc', column)"></u-icon>
                                    </span>
                                </template>
                            </th>
                        </tr>
                    </thead>
                </table>
            </div>
            <div :class="$style.body" ref="lefttable" :style="{height: fixedTableHeight ? fixedTableHeight+'px' : '', maxHeight: fixedMaxTableHeight+'px', minHeight: fixedMinTableHeight+'px'}" role="fixed">
                <table cellspacing="0" cellpadding="0" border="0" :class="$style.tbody" :style="{width: bodyWidth, tableLayout: layout}">
                    <colgroup>
                        <col v-for="(column, index) in showColumns" :width="column.currentWidth || columnsWidth[index]">
                    </colgroup>
                    <tbody :class="$style.btbody" :no-show-header="!showHeader">
                        <template v-if="loading">
                            <tr :class="$style.btrItem" @mouseenter="fixmouseenter(-1)" @mouseleave="fixmouseleave(-1)">
                                <td :colspan="showColumns.length" :class="$style.btdSpan" role="center">
                                    <u-loading></u-loading>
                                    <span :class="$style.loadText">{{ loadText }}</span>
                                </td>
                            </tr>
                        </template>
                        <template v-else-if="tdata.length === 0">
                            <tr :class="$style.btrItem" @mouseenter="fixmouseenter(-1)" @mouseleave="fixmouseleave(-1)">
                                <td :colspan="showColumns.length" :class="$style.btdSpan" role="center">
                                    <span :class="$style.fixNoText"></span>
                                </td>
                            </tr>
                        </template>
                        <template v-else v-for="(row, index) in tdata">
                            <tr :class="$style.btrItem" @click="rowClick(row,index)" :show-color="showColor && radioColumn && row[radioValueField] === currentRadioValue" @mouseenter="fixmouseenter(index)" @mouseleave="fixmouseleave(index)">
                                <td v-for="(column, cindex) in showColumns" :class="[$style.btdSpan, column.columnClass]" :style="{textAlign: column.horizontal}" :border="border" :selection="column.type==='selection'" :hide="isXScroll || border">
                                    <span v-if="column.type === 'selection'">
                                        <u-checkbox v-model="row.selected" :disabled="row.disabled" @check="changeSelect(row)" />
                                    </span>
                                    <span v-else-if="column.type === 'radio'">
                                        <label :class="$style.radioLabel" :disabled="row.disabled">
                                            <input v-if="!row.disabled" name="radio" type="radio" :class="$style.radio" :value="row[radioValueField]" v-model="currentRadioValue" :disabled="row.disabled"/>
                                            <span v-else :class="$style.radioDisabled" :selected="currentRadioValue === row[radioValueField]"></span>
                                            <span :class="$style.radioText">{{ row[radioTextField] }}</span>
                                        </label>
                                    </span>
                                    <template v-else-if="column.$scopedSlots.default">
                                        <u-old-table-view-cell :row="row" :column="column" :class="$style.ditem" :expanded="expandedColumn && column.type === 'expand'" :role="column.ellipsis" v-ellipsis-title></u-old-table-view-cell>
                                    </template>
                                    <span v-else-if="column.formatter" :class="$style.ditem" :role="column.ellipsis" v-ellipsis-title="column.formatter(row, column, index, cindex)">{{column.formatter(row, column, index, cindex) || defaultText}}</span>
                                    <span v-else-if="column.type === 'time'" :class="$style.ditem" :role="column.ellipsis" v-ellipsis-title="translateTime(row[column.label], column.timeFormat)">{{translateTime(row[column.label], column.timeFormat)}}</span>
                                    <span v-else :class="$style.ditem" :role="column.ellipsis" v-ellipsis-title>{{ showContent(column, row[column.label]) }}</span>
                                    <span v-if="column.type === 'expand' && showExpandIcon(column, row[column.expandLabel || column.label])" @click="toggleExpand(index, cindex)">
                                        <slot name="expandIcon">
                                            <span :class="$style.expand" :role="column.expandIcon" :name="row.iconName"></span>
                                        </slot>
                                    </span>
                                </td>
                            </tr>
                            <tr :class="$style.btrItem" v-if="row.expanded">
                                <td :colspan="showColumns.length" :class="$style.btdSpan" :border="border" role="center" :hide="isXScroll || border">
                                    <u-old-table-view-cell :row="row" :column="expandedColumn" expand></u-old-table-view-cell>
                                </td>
                            </tr>
                        </template>
                    </tbody>
                </table>
            </div>
        </div>
        <div :class="$style.fixRight" v-if="fixedRightColumns.length" :style="{width: fixedRightWidth ? fixedRightWidth + 'px' : '', right: isYScroll ? scrollWidth + 'px' : 0 }">
            <div :class="$style.header" :role="fixedRightColumns.length > 0" :style="{width: isYScroll ? (fixedRightWidth + scrollWidth) + 'px' : '' }">
                <table :class="$style.thead" cellspacing="0" cellpadding="0" border="0" :style="{width: tableWidth, tableLayout: layout}">
                    <colgroup>
                        <col v-for="(column, index) in rightColumns" :width="rightColumnsWidth[index] || column.currentWidth"></col>
                    </colgroup>
                    <thead v-if="showHeader">
                        <tr :class="$style.htrItem" :color="color">
                            <th v-for="(column, index) in rightColumns" :class="[$style.hthSpan, column.headClass, column.columnClass]" :style="{textAlign: column.horizontal}" :border="border" :role="column.filter || column.sortable" :filter="column.filter" :selection="column.type==='selection'"
                                @click.stop="handleSort(column)">
                                <template v-if="column.type === 'selection' && column.headSelection">
                                    <u-checkbox v-model="allSel" @check="allSelected" />
                                </template>
                                <span v-if="!column.filter" :class="$style.itemtitle">
                                    <template v-if="!column.$slots.headerTitle">{{ column.title }}</template>
                                <template v-else>
                                    <u-old-table-view-cell :class="$style.ditem" :column="column" text></u-old-table-view-cell>
                                </template>
                                </span>
                                <template v-else-if="column.filter">
                                    <div :class="$style.filtertitle" :role="column.filter">
                                        <span :class="$style.titleitem">{{column.title}}</span>
                                        <div :class="$style.traingle"></div>
                                        <m-popper :class="$style.popper" trigger="click" ref="popper" :placement="column.placement" append-to="body">
                                            <div :style="{width: columnsWidth[index] + 'px'}">
                                                <div :class="$style.option" :direction="column.optionsDirection" v-for="option in column.options" @click.stop="select(option, column, index)" :role="column.selectValue === option.value" v-ellipsis-title>{{option.name}}</div>
                                            </div>
                                        </m-popper>
                                    </div>
                                </template>
                                <template v-if="column.sortable">
                                    <span :class="$style.wrapicon">
                                        <u-icon :class="$style.icon" name="arrow-up" v-if="currentSort.order === 'asc' && currentSort.title === column.title" :role="currentSort.title === column.title"
                                            @click.native="handleSort('asc', column)"></u-icon>
                                        <u-icon :class="$style.icon" name="arrow-down" v-else :role="currentSort.title === column.title" @click.native="handleSort('desc', column)"></u-icon>
                                    </span>
                                </template>
                            </th>
                        </tr>
                    </thead>
                </table>
            </div>
            <div :class="$style.body" ref="righttable" :style="{height: fixedTableHeight ? fixedTableHeight+'px' : '', maxHeight: fixedMaxTableHeight+'px', minHeight: fixedMinTableHeight+'px'}" role="fixed">
                <table cellspacing="0" cellpadding="0" border="0" :class="$style.tbody" :style="{width: bodyWidth, tableLayout: layout}">
                    <colgroup>
                        <col v-for="(column, index) in rightColumns" :width="column.fixedWidth || column.currentWidth || columnsWidth[index]">
                    </colgroup>
                    <tbody :class="$style.btbody" :no-show-header="!showHeader">
                        <template v-if="loading">
                            <tr :class="$style.btrItem" @mouseenter="fixmouseenter(-1)" @mouseleave="fixmouseleave(-1)">
                                <td :colspan="showColumns.length" :class="$style.btdSpan" role="center">
                                    <u-loading></u-loading>
                                    <span :class="$style.loadText">{{ loadText }}</span>
                                </td>
                            </tr>
                        </template>
                        <template v-else-if="tdata.length === 0">
                            <tr :class="$style.btrItem" @mouseenter="fixmouseenter(-1)" @mouseleave="fixmouseleave(-1)">
                                <td :colspan="showColumns.length" :class="$style.btdSpan" role="center">
                                    <span :class="$style.fixNoText"></span>
                                </td>
                            </tr>
                        </template>
                        <template v-else v-for="(row, index) in tdata">
                            <tr :class="$style.btrItem" @click="rowClick(row,index)" :show-color="showColor && radioColumn && row[radioValueField] === currentRadioValue" @mouseenter="fixmouseenter(index)" @mouseleave="fixmouseleave(index)">
                                <td v-for="(column, cindex) in rightColumns" :class="[$style.btdSpan, column.columnClass]" :style="{textAlign: column.horizontal}" :border="border" :selection="column.type==='selection'">
                                    <span v-if="column.type === 'selection'">
                                        <u-checkbox v-model="row.selected" :disabled="row.disabled" @check="changeSelect(row)" />
                                    </span>
                                    <span v-else-if="column.type === 'radio'">
                                        <label :class="$style.radioLabel" :disabled="row.disabled">
                                            <input v-if="!row.disabled" name="radio" type="radio" :class="$style.radio" :value="row[radioValueField]" v-model="currentRadioValue" :disabled="row.disabled"/>
                                            <span v-else :class="$style.radioDisabled" :selected="currentRadioValue === row[radioValueField]"></span>
                                            <span :class="$style.radioText">{{ row[radioTextField] }}</span>
                                        </label>
                                    </span>
                                    <template v-else-if="column.$scopedSlots.default">
                                        <u-old-table-view-cell :row="row" :column="column" :class="$style.ditem" :expanded="expandedColumn && column.type === 'expand'" :role="column.ellipsis" v-ellipsis-title></u-old-table-view-cell>
                                    </template>
                                    <span v-else-if="column.formatter" :class="$style.ditem" :role="column.ellipsis" v-ellipsis-title="column.formatter(row, column, index, cindex)">{{column.formatter(row, column, index, cindex) || defaultText}}</span>
                                    <span v-else-if="column.type === 'time'" :class="$style.ditem" :role="column.ellipsis" v-ellipsis-title="translateTime(row[column.label], column.timeFormat)">{{translateTime(row[column.label], column.timeFormat)}}</span>
                                    <span v-else :class="$style.ditem" :role="column.ellipsis" v-ellipsis-title>{{ showContent(column, row[column.label]) }}</span>
                                    <span v-if="column.type === 'expand' && showExpandIcon(column, row[column.expandLabel || column.label])" @click="toggleExpand(index, cindex)">
                                        <slot name="expandIcon">
                                            <span :class="$style.expand" :role="column.expandIcon" :name="row.iconName"></span>
                                        </slot>
                                    </span>
                                </td>
                            </tr>
                            <tr :class="$style.btrItem" v-if="row.expanded">
                                <td :colspan="showColumns.length" :class="$style.btdSpan" :border="border" role="center">
                                    <u-old-table-view-cell :row="row" :column="expandedColumn" expand></u-old-table-view-cell>
                                </td>
                            </tr>
                        </template>
                    </tbody>
                </table>
            </div>
        </div>
    </template>
    <div>
        <slot></slot>
    </div>
</div>
