<div :class="$style.root" :readonly="readonly" :disabled="disabled" :style="{ width, height }" :color="currentColor || this.formItemVM && this.formItemVM.color"
    :focus="focused" @click.self="!focused && focus()">
    <span :class="$style.baseline">b</span><!-- 用于基线对齐 -->
    <span :class="$style.placeholder">{{ currentValue ? '' : placeholder }}</span><!-- 兼容 IE9 -->
    <textarea ref="input" :class="$style.input" v-bind="$attrs" :value="currentValue"
        :placeholder="placeholder" v-focus="autofocus" :readonly="readonly" :disabled="disabled"
        @input="onInput" @focus="onFocus" @blur="onBlur" v-on="listeners"
        @compositionstart="compositionInputing = true"
        @compositionend="onCompositionEnd"></textarea>
    <slot></slot>
    <span v-if="clearable && currentValue" :class="$style.clearable" @click.stop="clear"></span>
    <f-dragger @dragstart="onDragStart" @drag="onDrag">
        <div ref="handle" :class="$style.handle" v-show="resize !== 'none'"></div>
    </f-dragger>
</div>
