@extends;

.root {
    width: var(--textarea-width);
    height: var(--textarea-height);
    min-width: var(--textarea-min-width);
    min-height: var(--textarea-min-height);
    padding: var(--textarea-padding);
    line-height: inherit;
    max-width: 100%;
    color: var(--textarea-color);
    border-color: var(--textarea-border-color);
    border-radius: var(--textarea-border-radius);
    transition: border-color var(--transition-duration-base);
}

.input {
    resize: none;
}

.clearable::before {
    top: 2px;
    right: 4px;
}

.handle {
    position: absolute;
    right: 1px;
    bottom: 1px;
    display: block;
    width: 8px;
    height: 8px;
    overflow: hidden;
    cursor: default;
}

.handle::before {
    content: '';
    display: block;
    height: 4px;
    width: 12px;
    border-top: 1px solid #666;
    border-bottom: 1px solid #666;
    transform: rotate(-45deg) translate(-2px, 2px);
}

.input::placeholder {
    /* Removes placeholder transparency in Firefox. */
    opacity: 1;
    color: var(--color-light);
}

.root[focus] {
    border-color: #8ebee9;
}

.root[disabled] {
    background-color: var(--brand-disabled);
}

.root[color="error"] {
    border-color: #ff867f;
}

.root[size$="normal"] { width: var(--textarea-width); }
.root[size^="normal"] { height: var(--textarea-height); }

.root[size$="medium"] { width: var(--textarea-width-medium); }
.root[size^="medium"] { height: var(--textarea-height-medium); }

.root[size$="large"] { width: var(--textarea-width-large); }
.root[size^="large"] { height: var(--textarea-height-large); }

.root[size$="huge"] { width: var(--textarea-width-huge); }
.root[size^="huge"] { height: var(--textarea-height-huge); }

.root[size$="full"] { width: 100%; }
.root[size^="full"] { height: 100%; }
