@extend;

.root {
    width: var(--textarea-width);
    height: var(--textarea-height);
    min-width: var(--textarea-width-mini);
    min-height: var(--textarea-min-height);
    padding: var(--textarea-padding);
    line-height: inherit;
    max-width: 100%;
    color: #666;
    border-color: var(--brand-secondary);
    border-radius: 3px;
    transition: border-color varvar(--transition-duration-base);
}

.input {
    resize: none;
}

.clearable::before {
    top: 2px;
    right: 4px;
}

.handle {
    position: absolute;
    right: 1px;
    bottom: 1px;
    display: block;
    width: 8px;
    height: 8px;
    overflow: hidden;
    cursor: default;
}

.handle::before {
    content: '';
    display: block;
    height: 4px;
    width: 12px;
    border-top: 1px solid #666;
    border-bottom: 1px solid #666;
    transform: rotate(-45deg) translate(-2px, 2px);
}

.input::placeholder {
    /* Removes placeholder transparency in Firefox. */
    opacity: 1;
    color: #999;
}

.root[focus] {
    border-color: #8ebee9;
}

.root[disabled] {
    background-color: var(--brand-disabled);
}

.root[color="error"] {
    border-color: #ff867f;
}

.root[size$="normal"] { width: 160px; }
.root[size^="normal"] { height: 80px; }

.root[size$="medium"] { width: 280px; }
.root[size^="medium"] { height: 100px; }

.root[size$="large"] { width: 440px; }
.root[size^="large"] { height: 120px; }

.root[size$="huge"] { width: 580px; }
.root[size^="huge"] { height: 200px; }

.root[size$="full"] { width: 100%; }
.root[size^="full"] { height: 100%; }
