@import '../src/styles/theme.css';

:root {
    --brand-primary: #67aaf5;
    --brand-secondary: #e1e8ed;
    --brand-success: #3ad0af;
    --brand-warning: #ffa136;
    --brand-error: #ff8a7a;
    --brand-disabled: #cddae9;
    --brand-disabled-light: #e7eaef;

    --background-color-light: #f7f8fc; /* 选择框的 hover 颜色 */
    --background-color-light: #f5f7fa; /* 表格等组件标题栏颜色 */
    --background-color-base: #f2f3f8; /* 标签、薯条等组件默认颜色 */
    --background-color-dark: #ebedf5;
    --color-lighter: #aaa; /* Placeholder 字体颜色 */
    --color-light: #999; /* 次级字体颜色 */
    --color-base: #666; /* 默认字体颜色 */
    --border-color-light: #e1e6ed; /* 面板等容器类型的边框颜色 */
    --border-color-base: #dfe4ec; /* 按钮、输入框等小组件的边框颜色 */
    --border-color-light: var(--brand-secondary); /* 面板等容器类型的边框颜色 */
    --border-color-base: var(--brand-secondary); /* 按钮、输入框等小组件的边框颜色 */

    --button-background-primary-hover: #5b96d9;
    --button-background-primary-disabled: #d9d9d9;
    --button-color: #333;
    --button-color-hover: var(--brand-primary);
    --button-color-disabled: #ccc;
    --button-color-refresh: #9ba4ad;
    --button-color-refresh-hover: var(--brand-primary);
    --button-border-color: #cdcdcd;
    --button-border-color-hover: var(--brand-primary);
    --button-border-color-disabled: #ddd;
    --button-box-shadow-active: inset 0 1px 3px rgba(0, 0, 0, 0.2);
    --button-loading-size: 18px;

    --label-padding-y: 3px;
    --label-background: #cad4e4;
    --label-background-success: #76b86e;
    --label-background-warning: #ffa136;
    --label-background-error: #ff8a7a;
    --label-color: white;

    --navbar-item-space: 34px;

    --input-border-color-focus: #8ebee9;
    --table-head-background: #f5f7fa;
    --table-border-color: #ebf0f5;
}
