@import '../../src/base/global.css';

:root {
    --brand-primary: #4a89e8;
    --sidebar-background-color: #294265;

    /* Button */
    --button-disabled-background: white;
    --button-disabled-color: #ccc;
    --button-disabled-border-color: #ddd;
    --button-primary-hover-background: #6098eb;
    --button-primary-hover-color: white;
    --button-primary-disabled-background: #d9d9d9;
    --button-primary-disabled-color: white;

    /* theme Chart Colors */
    --theme-chart-background-base: rgb(97, 218, 198);
    --theme-chart-line-area-fill: rgba(97, 218, 198, 0.1);

    /* Sidebar */
    --sidebar-item-color: #9dabc2;
    --sidebar-item-selected-background: #1c324f;
    --sidebar-group-head-hover-color: var(--brand-primary);
    --sidebar-group-head-selected-color: var(--brand-primary);
    --sidebar-divider-background: #374d6e;

    /* others */
    --link-color: #4477d0;
    --navbar-background: #1d2b40;
    --navbar-select-hover-background: #17263c;
    --navbar-select-focused-background: #17263c;
    --subnav-item-color: #666;
    --subnav-item-hover-color: var(--brand-primary);
    --subnav-item-hover-background: #f6f7f9;
    --subnav-item-selected-color: var(--brand-primary);
    --subnav-item-selected-background: white;
}
