@import 'proto-ui.vusion/src/u-select-item.vue/module.css';

.root {
    padding-top: 0;
    padding-bottom: 0;
}

.root:hover {
    background: #f5f7fa;
}

.root[selected] {
    background: $brand-primary;
}

.root[disabled] {
    color: #ccc;
    background: none;
}

.root{
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}
