$date-picker-top: 8px;
$date-picker-right: 10px;

.header{
	display: inline-block;
	position: relative;
	border: 1px solid $field-border-color1;
	border-radius: 3px;
	color: #555;
	background: $field-background;
	padding: 1px; /*border-radius被input挡住 */
}
.input{
	box-sizing: border-box;
	margin: 0;
	padding: 6px 12px;
	vertical-align: middle;
	border: none;
	height: 36px;
	width: 240px;
	color: $field-color1;
}
.input:focus {
	outline: none;
}
.header:not([disabled]):hover {
	border: 1px solid $field-hover-border-color;
}
.header:not([disabled])[focus] {
	border: 1px solid $field-focus-color;
}
.header::before {
	icon-font: url(../u-icon.vue/icons/calendar.svg);
	color: $field-disabled-color;
	position: absolute;
	right: $date-picker-right;
    top: $date-picker-top;
}
.header[hasValue]:hover::before {
	icon-font: url(../u-icon.vue/icons/delete.svg);
	color: $field-disabled-color;
	position: absolute;
	right: $date-picker-right;
    top: $date-picker-top;
}
.header[disabled], .input[disabled]{
	cursor: not-allowed;
	background: #eee;
	color: $field-disabled-color2;
}

$top: 5px;
.inputWrapper {
	display: inline-block;
	position: relative;
}
.inputWrapper[hasValue]:hover .delete::before {
	icon-font: url(../u-icon.vue/icons/delete.svg);
	color: $field-disabled-color;
	cursor: pointer;
	position: absolute;
    right: $date-picker-right;
    top: $top;
}
.inputWrapper:not(:hover) .calendar::before,
.inputWrapper:not([hasValue]):hover .calendar::before,
.fixcalendar::before {
	icon-font: url(../u-icon.vue/icons/calendar.svg);
	color: $field-disabled-color;
	cursor: pointer;
	position: absolute;
    right: $date-picker-right;
    top: $top;
}
.fixcalendar::before {
	cursor: auto;
}
::-moz-placeholder { color: $field-disabled-color2; }
::-webkit-input-placeholder { color:$field-disabled-color2; }
:-ms-input-placeholder { color:$field-disabled-color2; }

.body{
	position: absolute;
	z-index: 1;
	width: 24px;
	top: 100%;
	margin-top: 2px;
}
