.header{
	display: inline-block;
	position: relative;
}
.input{
	box-sizing: border-box;
	margin: 0;
	padding: 6px 12px;
	vertical-align: middle;
	border: 1px solid $brand-secondary;
	color: #555;
	background: $field-background;
	border-radius: 3px;
	height: 34px;
	line-height: 34px;
}
.input[disabled]{
	cursor: not-allowed;
	background: #eee;
	color: #999;
}

.body{
	position: absolute;
	z-index: 1;
	width: 248px;
	top: 100%;
	margin-top: 2px;
}
