<div :class="$style.root" :label-size="currentLabelSize" :distance="parentVM && parentVM.extraLabel ? 'extra' : ''">
    <label :class="$style.label" :required="currentRequired" v-show="label || title || currentLabelSize !== 'auto'">
        <slot name="label">{{ label || title }}</slot>
    </label>
    <span :class="$style.extra" v-if="parentVM && parentVM.extraLabel">
        <slot name="extra"></slot>
    </span>
    <div :class="$style.field">
        <!-- 添加了描述功能 -->
        <div :class="$style.description">
            <slot name="description">{{ description }}</slot>
        </div>
        <div :class="$style.wrap">
            <slot></slot>
            <span v-if="currentMessage" :class="$style.message" :color="color">
                <slot name="message">{{ currentMessage }}</slot>
            </span>
        </div>
    </div>
</div>
