@import 'u-form-item.vue/module.css';

.root {
    margin-bottom: 30px;
}

.title {
    color: #999;
    text-align: right;
    padding-right: 10px;
}

.message {
    position: relative;
    display: inline-block;
    margin-left: 10px;
    padding: 0 10px;
    line-height: 26px;
    height: 26px;
    font-size: 12px;
    white-space: nowrap;
}

.message:after {
    content: '';
    position: absolute;
    right: 100%;
    top: 8px;
    width: 0;
    height: 0;
    border-top: 4px solid transparent;
    border-right: 4px solid #ff867f;
    border-bottom: 4px solid transparent;
}

.message[color="error"] {
    background-color: #ff867f;
    color: #fff;
}

.message[color="error"]:after {
    border-right-color: #ff867f;
}

.root[placement="bottom"] .message:after {
    display: none;
}

.root[label-size$="small"] .title { width: 80px; padding-right: 10px; }
.root[label-size$="small"] .field { max-width: calc(100% - 80px); }
.root[label-size$="normal"] .title { width: 120px; padding-right: 20px; }
.root[label-size$="normal"] .field { max-width: calc(100% - 120px); }
.root[label-size$="large"] .title { width: 160px; padding-right: 20px; }
.root[label-size$="large"] .field { max-width: calc(100% - 160px); }
