@import 'u-form-item.vue/module.css';

.root {
    composes: item from '../u-form.vue/module.css';
    margin-bottom: 30px;
}

.title {
    composes: item-title from '../u-form.vue/module.css';
    padding: 9px 0;
    color: #999;
}

.field {
    composes: item-field from '../u-form.vue/module.css';
}

.message {
    position: relative;
    display: inline-block;
    margin-left: 10px;
    padding: 0 10px;
    line-height: 26px;
    height: 26px;
    font-size: 12px;
    white-space: nowrap;
}

.message:after {
    content: '';
    position: absolute;
    right: 100%;
    top: 8px;
    width: 0;
    height: 0;
    border-top: 4px solid transparent;
    border-right: 4px solid #ff867f;
    border-bottom: 4px solid transparent;
}

.message[color="error"] {
    background-color: #ff867f;
    color: #fff;
}

.message[color="error"]:after {
    border-right-color: #ff867f;
}
