@extend;

.root {
    background: none;
    line-height: var(--navbar-height);
}

.root::after {
    icon-font: url('../../i-icon.vue/icons/keyboard-arrow-down.svg');
    color: white;
    font-size: 20px;
    right: 6px;
    top: 0;
}

.placeholder {
    color: white;
}

.text {
    color: white;
}

.popper {
    background: #343e4f;
    border: none;
}

.root:hover {
    background: var(--navbar-select-hover-background);
}

.root[focused] {
    background: var(--navbar-select-focused-background);
}
