@extends;

.root {
    background: none;
    border: none;
    height: var(--navbar-height);
    line-height: var(--navbar-height);
    padding-left: var(--navbar-select-padding-left);
    padding-right: var(--navbar-select-padding-right);
    width: var(--navbar-select-width);
    vertical-align: top;
}

.root:not(:last-child) {
    margin-right: var(--navbar-item-space);
}

.root::before {
    font-size: var(--navbar-select-font-size);
    line-height: var(--navbar-height);
}

.root::after {
    line-height: var(--navbar-height);
    height: auto;
    icon-font: url('../../i-icon.vue/icons/keyboard-arrow-down.svg');
    color: white;
    font-size: 20px;
    right: 6px;
    top: 0;
}

.placeholder {
    color: white;
    font-size: var(--navbar-select-font-size);
}

.text {
    color: white;
    font-size: var(--navbar-select-font-size);
    line-height: var(--navbar-height);
}


.root::after {
    icon-font: url('../../i-icon.vue/icons/keyboard-arrow-down.svg');
    color: white;
    font-size: 20px;
    right: 6px;
    top: 0;
}

.popper {
    background: #343e4f;
    border: none;
}

.root:hover {
    background: var(--navbar-select-hover-background);
}

.root[focused] {
    background: var(--navbar-select-focused-background);
}
