.root {
    font-size: var(--tabs-font-size);
}

.head {
    user-select: none;
    background: var(--tabs-head-background);
}

.root[appear="square"] .head,
.root[appear="round"] .head,
.root[appear="line"] .head {
    border-bottom: var(--tabs-border-width) solid var(--tabs-border-color);
}

.extra {
    float: right;
    margin-left: 5px;
    line-height: calc(var(--tabs-item-height) - var(--tabs-border-width) * 2);
}

.nav {
    position: relative;
    overflow: hidden;
    height: var(--tabs-item-height);
    margin-bottom: -1px;
}

.scroll-view {
    overflow-x: auto;
    overflow-y: hidden;
}

.scroll {
    white-space: nowrap;
}

.root[item-width="full"] .scroll {
    display: flex;
    padding-right: 1px;
}

.root[item-width="full"] .scroll .item {
    flex: 1;
}

.scroll a:first-child {
    border-top-left-radius: var(--tabs-item-border-radius);
    border-bottom-left-radius: var(--tabs-item-border-radius);
}

.scroll a:last-child {
    border-top-right-radius: var(--tabs-item-border-radius);
    border-bottom-right-radius: var(--tabs-item-border-radius);
}

.prev, .next {
    position: absolute;
    display: none;
    cursor: pointer;
    height: var(--tabs-item-height);
    width: var(--tabs-item-height);
    line-height: var(--tabs-item-height);
    text-align: center;
    font-size: 22px;
    bottom: 2px;
    color: rgba(0, 0, 0, 0.25);
    transition: color var(--transition-duration-base);
}

.gap:empty {
    position: relative;
    z-index: 999;
    min-width: 90px;
    min-height: 28px;
    vertical-align: 3px;
    user-select: none;
    cursor: cell !important;
    text-align: center;
    transition: all 0.2s;
    color: #ccc;
    background: #f7f8fa;
    border: 1px solid transparent;
}

.gap:empty::before {
    content: '+';
    font-size: 24px;
    line-height: 22px;
    position: absolute;
    left: 50%;
    margin-left: -12px;
    width: 24px;
    height: 24px;
}

.prev:hover, .next:hover {
    color: rgba(0, 0, 0, 0.65);
}

.prev {
    left: 0;
}

.next {
    right: 0;
}

.prev::before {
    icon-font: url('../i-icon.vue/assets/angle-left.svg');
}

.next::before {
    icon-font: url('../i-icon.vue/assets/angle-right.svg');
}

.nav[scrollable] .scroll-view {
    margin: 0 var(--tabs-item-height);
}

.nav[scrollable] .prev, .nav[scrollable] .next {
    display: block;
}

.item {
    position: relative;
    z-index: 1;
    display: inline-block;
    user-select: none;
    cursor: var(--cursor-pointer);
    line-height: var(--tabs-item-height);
    padding: 0 var(--tabs-item-padding-x);
    transition: color var(--transition-duration-base);
    color: var(--tabs-item-color);
}

.item[disabled] {
    cursor: var(--cursor-not-allowed);
}

.root[appear="text"] .item {
    background: var(--tabs-item-background-text);
}

.root[appear="text"] .item:hover {
    background: var(--tabs-item-background-hover);
    color: var(--tabs-item-color-hover);
}

.root[appear="text"] .item[selected] {
    background: var(--tabs-item-background-selected);
    color: var(--tabs-item-color-selected);
}

.root[appear="capsule"] .item {
    background: var(--tabs-item-background-capsule);
    margin-right: -1px;
    line-height: calc(var(--tabs-item-height) - var(--tabs-border-width) * 2);
    border: var(--tabs-border-width) solid var(--tabs-border-color);
}

.root[appear="capsule"] .item:hover {
    color: var(--tabs-item-color-hover);
}

.root[appear="capsule"] .item[selected] {
    z-index: 2;
    background: var(--tabs-item-background-selected-capsule);
    color: var(--tabs-item-color-selected-capsule);
    border-color: var(--tabs-item-border-color-selected-capsule);
}
.root[appear="capsule"] .item[disabled]{
    background: var(--tabs-item-background-disabled-capsule);
    color: var(--tabs-item-color-disabled);
}
.root[appear="capsule"] .item[disabled]:hover{
    color: var(--tabs-item-color-disabled);
}

.root[appear="square"] .item {
    box-sizing: content-box;
    height: var(--tabs-item-height);
    line-height: var(--tabs-item-height);
    border: var(--tabs-border-width) solid transparent;
    border-bottom: none;
}

.root[appear="square"] .item:hover {
    background: var(--tabs-item-background-hover);
    color: var(--tabs-item-color-hover);
}

.root[appear="square"] .item[selected] {
    background: var(--tabs-item-background-selected);
    color: var(--tabs-item-color-selected);
    border-color: var(--tabs-item-border-color-selected);
    border-bottom-color: transparent;
    padding-bottom: var(--tabs-border-width);
    border-top: var(--tabs-item-line-width) solid var(--brand-primary);
}

.root[appear="square"] .item[disabled] {
    background: var(--tabs-item-background-disabled);
    color: var(--tabs-item-color-disabled);
}

.root[appear="square"] .item[selected][disabled] {
    background: var(--tabs-item-background-selected-disabled);
}

.root[appear="round"] .item {
    box-sizing: content-box;
    line-height: var(--tabs-item-height);
    border: var(--tabs-border-width) solid transparent;
    border-bottom: none;
}

.root[appear="round"] .item:hover {
    background: var(--tabs-item-background-hover);
    color: var(--tabs-item-color-hover);
}

.root[appear="round"] .item[selected] {
    background: var(--tabs-item-background-selected);
    color: var(--tabs-item-color-selected);
    border-color: var(--tabs-item-border-color-selected);
    border-bottom-color: transparent;
    padding-bottom: var(--tabs-border-width);
    border-radius: var(--tabs-item-border-radius-round) var(--tabs-item-border-radius-round) 0 0;
}

.root[appear="round"] .item[disabled] {
    background: var(--tabs-item-background-disabled);
    color: var(--tabs-item-color-disabled);
}

.root[appear="round"] .item[selected][disabled] {
    background: var(--tabs-item-background-selected-disabled);
}

.root[appear="line"] .item {
    padding-bottom: var(--tabs-item-line-width);
}

.root[appear="line"] .item:hover {
    background: none;
    color: var(--tabs-item-color-hover);
}

.root[appear="line"] .item[selected] {
    color: var(--tabs-item-color-selected);
}

.root[appear="line"] .item::after {
    display: block;
    content: '';
    width: 0;
    height: var(--tabs-item-line-width);
    background: var(--tabs-item-line-background);
    transform: translateX(-50%);
    transition: width var(--transition-duration-base);
    position: absolute;
    left: 50%;
    bottom: 0;
}

.root[appear="line"] .item[selected]::after {
    width: 100%;
}

.close {
    position: absolute;
    right: 10px;
    top: 0;
}

.close::before {
    icon-font: url('../i-icon.vue/assets/close.svg');
}

.close:hover {
    color: var(--color-light);
}

.body {
    margin-top: var(--tabs-body-space);
}

.root[size="small"] .body {
    margin-top: var(--tabs-body-space-small);
}

.root[size="mini"] .body {
    margin-top: var(--tabs-body-space-mini);
}

.root[size="small"] .nav {
    height: var(--tabs-item-height-small);
}

.root[size="mini"] .nav {
    height: var(--tabs-item-height-mini);
}

.root[appear="round"] .nav,
.root[appear="line"] .nav {
    height: calc(var(--tabs-item-height) + var(--tabs-item-line-width));
}

.root[size="small"][appear="round"] .nav,
.root[size="small"][appear="line"] .nav {
    height: calc(var(--tabs-item-height-small) + var(--tabs-item-line-width));
}

.root[size="mini"][appear="round"] .nav,
.root[size="mini"][appear="line"] .nav {
    height: calc(var(--tabs-item-height-mini) + var(--tabs-item-line-width));
}

.root[appear="square"] .nav {
    height: calc(var(--tabs-item-height) + var(--tabs-border-width) + var(--tabs-item-line-width));
}

.root[size="small"][appear="square"] .nav {
    height: calc(var(--tabs-item-height-small) + var(--tabs-border-width) + var(--tabs-item-line-width));
}

.root[size="mini"][appear="square"] .nav {
    height: calc(var(--tabs-item-height-mini) + var(--tabs-border-width) + var(--tabs-item-line-width));
}

.root[appear="square"] .item,
.root[appear="round"] .item {
    height: var(--tabs-item-height);
}

.root[size="small"] .item {
    line-height: var(--tabs-item-height-small);
    padding: 0 var(--tabs-item-padding-x-small);
}

.root[size="small"][appear="square"] .item,
.root[size="small"][appear="round"] .item {
    height: var(--tabs-item-height-small);
}

.root[size="small"][appear="capsule"] .item {
    line-height: calc(var(--tabs-item-height-small) - var(--tabs-border-width) * 2);
}

.root[size="mini"] .item {
    line-height: var(--tabs-item-height-mini);
    padding: 0 var(--tabs-item-padding-x-mini);
}

.root[size="mini"][appear="square"] .item,
.root[size="mini"][appear="round"] .item {
    height: var(--tabs-item-height-mini);
}

.root[size="mini"][appear="capsule"] .item {
    line-height: calc(var(--tabs-item-height-mini) - var(--tabs-border-width) * 2);
}

.item[width-fixed] {
    text-align: center;
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.item[alignment="left"] {
    text-align: left;
    padding-left: 10px !important;
    padding-right: 10px !important;
}

.root[display="full"] {
    width: 100%;
    height: 100%;
    overflow: auto;
}

.root[display="filled"] {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.root[display="filled"] .head {
    flex: none;
}

.root[display="filled"] .body {
    flex: auto;
    overflow: auto;
}
.title {
    display: flex;
    justify-content: center;
    font-weight: var(--tabs-item-title-font-weight);
}
.root[direction="vertical"] {
    overflow: hidden;
    height: 100%;
}
.root[direction="vertical"] .head {
    float: left;
    border-right: 1px solid var(--tabs-border-color);
    border-bottom: none;
    margin-right: 10px;
    height: 100%;
}
.root[direction="vertical"] .nav {
    height: 100% !important;
}
.root[direction="vertical"] .item {
    display: block;
    border: none;
    border-radius: initial;
    border-right: var(--tabs-item-line-width) solid transparent;
}
.root[direction="vertical"] .item[selected] {
    border-right: var(--tabs-item-line-width) solid var(--brand-primary);
    border-top: none;
    padding-bottom: 0;
}
.root[direction="vertical"] .scroll a:last-child {
    border-radius: initial;
}
.root[direction="vertical"] .scroll-view::-webkit-scrollbar {
    width: 0;
    height: 0;
}
.root[direction="vertical"] .scroll-view {
    overflow-y: auto;
    -ms-overflow-style: none; /** IE11 */
    scrollbar-width: none; /** firefox */
    height: 100%;
}
.root[direction="vertical"] .nav[scrollable] {
    padding: var(--tabs-vertical-scroll-icon-height) 0;
}
.root[direction="vertical"] .nav[scrollable] .scroll-view {
    margin: 0;
}
.root[direction="vertical"] .prev,
.root[direction="vertical"] .next {
    height: var(--tabs-vertical-scroll-icon-height);
    width: var(--tabs-vertical-scroll-icon-height);
    line-height: var(--tabs-vertical-scroll-icon-height);
}
.root[direction="vertical"] .prev {
    top: 0;
    left: calc(50% - var(--tabs-vertical-scroll-icon-height) / 2);
    transform: rotate(90deg);
}
.root[direction="vertical"] .next {
    bottom: 0;
    right: calc(50% - var(--tabs-vertical-scroll-icon-height) / 2);
    transform: rotate(90deg);
}
.root[direction="vertical"][position="right"] .head {
    float: right;
    border-left: 1px solid var(--tabs-border-color);
    border-right: none;
    margin-left: 10px;
}
.root[direction="vertical"][position="right"] .item {
    border-left: var(--tabs-item-line-width) solid transparent;
    border-right: none;
}
.root[direction="vertical"][position="right"] .item[selected] {
    border-left: var(--tabs-item-line-width) solid var(--brand-primary);
}
.root[direction="vertical"] .body {
    height: 100%;
    overflow: auto;
    margin-top: 0;
}