.root {}

.head {
    user-select: none;
    background: var(--tabs-head-background);
}

.root[appear="square"] .head,
.root[appear="round"] .head,
.root[appear="line"] .head {
    border-bottom: var(--tabs-border-width) solid var(--tabs-border-color);
}

.extra {
    float: right;
    margin-left: 5px;
    line-height: calc(var(--tabs-item-height) - var(--tabs-border-width) * 2);
}

.nav {
    position: relative;
    overflow: hidden;
    height: var(--tabs-item-height);
    margin-bottom: -1px;
}

.scroll-view {
    overflow-x: auto;
    overflow-y: hidden;
}

.scroll {
    white-space: nowrap;
}

.scroll a:first-child {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.scroll a:last-child {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.prev, .next {
    position: absolute;
    display: none;
    cursor: pointer;
    height: var(--tabs-item-height);
    width: var(--tabs-item-height);
    line-height: var(--tabs-item-height);
    text-align: center;
    font-size: 22px;
    bottom: 2px;
    color: rgba(0, 0, 0, 0.25);
    transition: color var(--transition-duration-base);
}

.prev:hover, .next:hover {
    color: rgba(0, 0, 0, 0.65);
}

.prev {
    left: 0;
}

.next {
    right: 0;
}

.prev::before {
    icon-font: url('../i-icon.vue/assets/angle-left.svg');
}

.next::before {
    icon-font: url('../i-icon.vue/assets/angle-right.svg');
}

.nav[scrollable] .scroll-view {
    margin: 0 var(--tabs-item-height);
}

.nav[scrollable] .prev, .nav[scrollable] .next {
    display: block;
}

.item {
    position: relative;
    z-index: 1;
    display: inline-block;
    user-select: none;
    cursor: var(--cursor-pointer);
    line-height: var(--tabs-item-height);
    padding: 0 var(--tabs-item-padding-x);
    transition: color var(--transition-duration-base);
}

.item[disabled] {
    cursor: var(--cursor-not-allowed);
}

.root[appear="text"] .item {
    background: var(--tabs-item-background-text);
    color: var(--tabs-item-color);
}

.root[appear="text"] .item:hover {
    background: var(--tabs-item-background-hover);
    color: var(--tabs-item-color-hover);
}

.root[appear="text"] .item[selected] {
    background: var(--tabs-item-background-selected);
    color: var(--tabs-item-color-selected);
}

.root[appear="capsule"] .item {
    background: var(--tabs-item-background-capsule);
    margin-right: -1px;
    line-height: calc(var(--tabs-item-height) - var(--tabs-border-width) * 2);
    border: var(--tabs-border-width) solid var(--tabs-border-color);
}

.root[appear="capsule"] .item:hover {
    color: var(--tabs-item-color-hover);
}

.root[appear="capsule"] .item[selected] {
    z-index: 2;
    background: var(--tabs-item-background-selected-capsule);
    color: var(--tabs-item-color-selected-capsule);
    border-color: var(--tabs-item-border-color-selected-capsule);
}

.root[appear="square"] .item {
    box-sizing: content-box;
    height: var(--tabs-item-height);
    line-height: var(--tabs-item-height);
    border: var(--tabs-border-width) solid transparent;
    border-bottom: none;
}

.root[appear="square"] .item:hover {
    background: var(--tabs-item-background-hover);
}

.root[appear="square"] .item[selected] {
    background: var(--tabs-item-background-selected);
    color: var(--tabs-item-color-selected);
    border-color: var(--tabs-item-border-color-selected);
    border-bottom-color: transparent;
    padding-bottom: var(--tabs-border-width);
    border-top: var(--tabs-item-line-width) solid var(--brand-primary);
}

.root[appear="square"] .item[disabled] {
    background: var(--tabs-item-background-disabled);
    color: var(--tabs-item-color-disabled);
}

.root[appear="square"] .item[selected][disabled] {
    background: var(--tabs-item-background-selected-disabled);
}

.root[appear="round"] .item {
    box-sizing: content-box;
    line-height: var(--tabs-item-height);
    border: var(--tabs-border-width) solid transparent;
    border-bottom: none;
}

.root[appear="round"] .item:hover {
    background: var(--tabs-item-background-hover);
}

.root[appear="round"] .item[selected] {
    background: var(--tabs-item-background-selected);
    color: var(--tabs-item-color-selected);
    border-color: var(--tabs-item-border-color-selected);
    border-bottom-color: transparent;
    padding-bottom: var(--tabs-border-width);
    border-radius: var(--tabs-item-border-radius-round) var(--tabs-item-border-radius-round) 0 0;
}

.root[appear="round"] .item[disabled] {
    background: var(--tabs-item-background-disabled);
    color: var(--tabs-item-color-disabled);
}

.root[appear="round"] .item[selected][disabled] {
    background: var(--tabs-item-background-selected-disabled);
}

.root[appear="line"] .item {
    padding-bottom: var(--tabs-item-line-width);
}

.root[appear="line"] .item:hover {
    background: none;
    color: var(--color-dark);
}

.root[appear="line"] .item[selected] {
    color: var(--brand-primary);
}

.root[appear="line"] .item::after {
    display: block;
    content: '';
    position: absolute;
    height: var(--tabs-item-line-width);
    bottom: 0;
    background: var(--brand-primary);
    width: 0;
    left: 50%;
    transform: translateX(-50%);
    transition: width var(--transition-duration-base);
}

.root[appear="line"] .item[selected]::after {
    width: 100%;
}

.close {
    position: absolute;
    right: 10px;
}

.close::before {
    icon-font: url('i-material-design.vue/assets/filled/close.svg');
}

.close:hover {
    color: var(--color-light);
}

.body {
    margin-top: var(--tabs-body-space);
}

.root[size="small"] .body {
    margin-top: var(--tabs-body-space-small);
}

.root[size="mini"] .body {
    margin-top: var(--tabs-body-space-mini);
}

.root[size="small"] .nav {
    height: var(--tabs-item-height-small);
}

.root[size="mini"] .nav {
    height: var(--tabs-item-height-mini);
}

.root[appear="round"] .nav,
.root[appear="line"] .nav {
    height: calc(var(--tabs-item-height) + var(--tabs-item-line-width));
}

.root[size="small"][appear="round"] .nav,
.root[size="small"][appear="line"] .nav {
    height: calc(var(--tabs-item-height-small) + var(--tabs-item-line-width));
}

.root[size="mini"][appear="round"] .nav,
.root[size="mini"][appear="line"] .nav {
    height: calc(var(--tabs-item-height-mini) + var(--tabs-item-line-width));
}

.root[appear="square"] .nav {
    height: calc(var(--tabs-item-height) + var(--tabs-border-width) + var(--tabs-item-line-width));
}

.root[size="small"][appear="square"] .nav {
    height: calc(var(--tabs-item-height-small) + var(--tabs-border-width) + var(--tabs-item-line-width));
}

.root[size="mini"][appear="square"] .nav {
    height: calc(var(--tabs-item-height-mini) + var(--tabs-border-width) + var(--tabs-item-line-width));
}

.root[appear="square"] .item,
.root[appear="round"] .item {
    height: var(--tabs-item-height);
}

.root[size="small"] .item {
    line-height: var(--tabs-item-height-small);
    padding: 0 var(--tabs-item-padding-x-small);
}

.root[size="small"][appear="square"] .item,
.root[size="small"][appear="round"] .item {
    height: var(--tabs-item-height-small);
}

.root[size="small"][appear="capsule"] .item {
    line-height: calc(var(--tabs-item-height-small) - var(--tabs-border-width) * 2);
}

.root[size="mini"] .item {
    line-height: var(--tabs-item-height-mini);
    padding: 0 var(--tabs-item-padding-x-mini);
}

.root[size="mini"][appear="square"] .item,
.root[size="mini"][appear="round"] .item {
    height: var(--tabs-item-height-mini);
}

.root[size="mini"][appear="capsule"] .item {
    line-height: calc(var(--tabs-item-height-mini) - var(--tabs-border-width) * 2);
}

.item[width-fixed] {
    text-align: center;
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.item[alignment="left"] {
    text-align: left;
    padding-left: 10px !important;
    padding-right: 10px !important;
}

.root[display="full"] {
    width: 100%;
    height: 100%;
    overflow: auto;
}

.root[display="filled"] {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.root[display="filled"] .head {
    flex: none;
}

.root[display="filled"] .body {
    flex: auto;
    overflow: auto;
}
.title {}