<div :class="$style.root" :disabled="disabled" :appear="appear">
    <div :class="$style.head">
        <span :class="$style.extra"><slot name="extra"></slot></span>
        <nav :class="$style.nav" :scrollable="showScrollButtons === 'always' || (showScrollButtons === 'auto' && scrollable)">
            <span :class="$style.prev" @click="scrollPrev"></span>
            <div ref="scrollView" :class="$style['scroll-view']">
                <div :class="$style.scroll">
                    <a :class="$style.item"
                        v-for="itemVM in itemVMs"
                        :href="itemVM.currentHref" :target="itemVM.target" :title="itemVM.title"
                        :selected="router ? itemVM.active : itemVM === selectedVM"
                        :disabled="itemVM.disabled || disabled"
                        v-show="!itemVM.hidden"
                        @click="onClick(itemVM, $event)">
                        <span :class="$style.title"><f-slot :vm="itemVM" name="title">{{ itemVM.title }}</f-slot></span>
                        <span v-if="closable" :class="$style.close" @click.stop="close(itemVM)"></span>
                    </a>
                </div>
            </div>
            <span :class="$style.next" @click="scrollNext"></span>
        </nav>
    </div>
    <div :class="$style.body">
        <slot></slot>
    </div>
</div>
