@extend;

$tabs-border: #e0e6ed;

.head {
    border-bottom: 1px solid $tabs-border;
    height: auto;
}

.item {
    height: 36px;
    line-height: 34px;
    padding: 0 30px;
}

.item:hover {
    background: #f6f7f9;
}

.item[selected] {
    background: white;
    color: $brand-primary;
    border-color: $tabs-border;
    border-top: 2px solid $brand-primary;
}

.item[disabled] {
    background: white;
}

.body {
    margin-top: 20px;
}
