.root {}

.head {
    user-select: none;
}

.root[appear="square"] .head,
.root[appear="round"] .head,
.root[appear="line"] .head {
    border-bottom: var(--tabs-border-width) solid var(--tabs-border-color);
}

.extra {
    float: right;
    margin-left: 5px;
    line-height: calc(var(--tabs-item-height) - var(--tabs-border-width) * 2);
}

.nav {
    position: relative;
    overflow: hidden;
    margin-bottom: -1px;
}

.scroll-view {
    overflow-x: auto;
    overflow-y: hidden;
}

.scroll {
    white-space: nowrap;
}

.prev, .next {
    position: absolute;
    display: none;
    cursor: pointer;
    height: var(--tabs-item-height);
    width: var(--tabs-item-height);
    line-height: var(--tabs-item-height);
    text-align: center;
    font-size: 22px;
    top: 0;
    color: rgba(0, 0, 0, 0.25);
    transition: color var(--transition-duration-base);
}

.prev:hover, .next:hover {
    color: rgba(0, 0, 0, 0.65);
}

.prev {
    left: 0;
}

.next {
    right: 0;
}

.prev::before {
    icon-font: url('../i-icon.vue/assets/angle-left.svg');
}

.next::before {
    icon-font: url('../i-icon.vue/assets/angle-right.svg');
}

.nav[scrollable] .scroll-view {
    margin: 0 var(--tabs-item-height);
}

.nav[scrollable] .prev, .nav[scrollable] .next {
    display: block;
}

.item {
    position: relative;
    z-index: 1;
    display: inline-block;
    user-select: none;
    cursor: var(--cursor-pointer);
    line-height: var(--tabs-item-height);
    padding: 0 var(--tabs-item-padding-x);
    transition: color var(--transition-duration-base);
}

.item[disabled] {
    cursor: var(--cursor-not-allowed);
}

.root[appear="text"] .item {
    color: var(--tabs-item-color);
}

.root[appear="text"] .item:hover {
    background: var(--tabs-item-background-hover);
    color: var(--tabs-item-color-hover);
}

.root[appear="text"] .item[selected] {
    background: var(--tabs-item-background-selected);
    color: var(--tabs-item-color-selected);
}

.root[appear="capsule"] .item {
    margin-right: -1px;
    line-height: calc(var(--tabs-item-height) - var(--tabs-border-width) * 2);
    border: var(--tabs-border-width) solid var(--tabs-border-color);
}

.root[appear="capsule"] .item:hover {
    color: var(--tabs-item-color-hover);
}

.root[appear="capsule"] .item[selected] {
    z-index: 2;
    background: var(--tabs-item-background-selected-capsule);
    color: var(--tabs-item-color-selected-capsule);
    border-color: var(--tabs-item-border-color-selected-capsule);
}

.root[appear="square"] .item {
    box-sizing: content-box;
    height: var(--tabs-item-height);
    line-height: calc(var(--tabs-item-height) - var(--tabs-border-width) * 2);
    border: var(--tabs-border-width) solid transparent;
    border-bottom: none;
}

.root[appear="square"] .item:hover {
    background: var(--tabs-item-background-hover);
}

.root[appear="square"] .item[selected] {
    background: var(--tabs-item-background-selected);
    color: var(--tabs-item-color-selected);
    border-color: var(--tabs-item-border-color-selected);
    border-bottom-color: transparent;
    padding-bottom: 1px;
    border-top: 2px solid var(--brand-primary);
}

.root[appear="square"] .item[disabled] {
    background: var(--tabs-item-background-disabled);
    color: var(--tabs-item-color-disabled);
}

.root[appear="square"] .item[selected][disabled] {
    background: var(--tabs-item-background-selected-disabled);
}

.root[appear="round"] .item {
    box-sizing: content-box;
    height: var(--tabs-item-height);
    line-height: calc(var(--tabs-item-height) - var(--tabs-border-width) * 2);
    border: var(--tabs-border-width) solid transparent;
    border-bottom: none;
}

.root[appear="round"] .item:hover {
    background: var(--tabs-item-background-hover);
}

.root[appear="round"] .item[selected] {
    background: var(--tabs-item-background-selected);
    color: var(--tabs-item-color-selected);
    border-color: var(--tabs-item-border-color-selected);
    border-bottom-color: transparent;
    padding-bottom: 1px;
    border-radius: 5px 5px 0 0;
}

.root[appear="round"] .item[disabled] {
    background: var(--tabs-item-background-disabled);
    color: var(--tabs-item-color-disabled);
}

.root[appear="round"] .item[selected][disabled] {
    background: var(--tabs-item-background-selected-disabled);
}

.root[appear="line"] .item {
    padding-bottom: 2px;
}

.root[appear="line"] .item:hover {
    background: none;
    color: var(--color-dark);
}

.root[appear="line"] .item[selected] {
    color: var(--brand-primary);
}


.root[appear="line"] .item::after {
    display: block;
    content: '';
    position: absolute;
    height: 2px;
    bottom: 0;
    background: var(--brand-primary);
    width: 0;
    left: 50%;
    transform: translateX(-50%);
    transition: width var(--transition-duration-base);
}

.root[appear="line"] .item[selected]::after {
    width: 100%;
}

.close::before {
    display: inline-block;
    content: '✕';
}

.close:hover {
    color: var(--color-light);
}

.body {
    margin-top: var(--space-base);
}

.root[size="small"] .item {
    height: var(--tabs-item-height-small);
    line-height: var(--tabs-item-height-small);
    padding: 0 var(--tabs-item-padding-x-small);
}

.root[size="mini"] .item {
    height: var(--tabs-item-height-mini);
    line-height: var(--tabs-item-height-mini);
    padding: 0 var(--tabs-item-padding-x-mini);
}
