.root {}

.head {
    user-select: none;
    height: var(--tabs-head-height);
    border-bottom: var(--tabs-border-width) solid var(--tabs-border-color);
}

.extra {
    float: right;
    margin-left: 5px;
    line-height: calc(var(--tabs-item-height) - var(--tabs-border-width) * 2);
}

.nav {
    position: relative;
    overflow: hidden;
    height: 39px;
    margin-bottom: -1px;
}

.scroll-view {
    overflow-x: auto;
    overflow-y: hidden;
}

.scroll {
    white-space: nowrap;
}

.prev, .next {
    position: absolute;
    display: none;
    cursor: pointer;
    height: var(--tabs-item-height);
    width: var(--tabs-item-height);
    line-height: var(--tabs-item-height);
    text-align: center;
    font-size: 22px;
    top: 0;
    color: rgba(0, 0, 0, 0.25);
    transition: color var(--transition-duration-base);
}

.prev:hover, .next:hover {
    color: rgba(0, 0, 0, 0.65);
}

.prev {
    left: 0;
}

.next {
    right: 0;
}

.prev::before {
    icon-font: url('../i-icon.vue/assets/angle-left.svg');
}

.next::before {
    icon-font: url('../i-icon.vue/assets/angle-right.svg');
}

.nav[scrollable] .scroll-view {
    margin: 0 var(--tabs-item-height);
}

.nav[scrollable] .prev, .nav[scrollable] .next {
    display: block;
}

.item {
    cursor: var(--cursor-pointer);
    display: inline-block;
    box-sizing: content-box;

    height: var(--tabs-item-height);
    line-height: calc(var(--tabs-item-height) - var(--tabs-border-width) * 2);
    padding: 0 var(--tabs-item-padding-x);

    border: var(--tabs-border-width) solid transparent;
    border-bottom: none;
}

.item:hover {
    background: var(--tabs-item-background-hover);
}

.item[selected] {
    background: var(--tabs-item-background-selected);
    border-color: var(--tabs-item-border-color-selected);
    color: var(--tabs-item-color-selected);
    border-bottom-color: transparent;
    padding-bottom: 1px;
    border-top: 2px solid var(--brand-primary);
}

.item[disabled] {
    background: var(--tabs-item-background-disabled);
    color: var(--tabs-item-color-disabled);
    cursor: var(--cursor-not-allowed);
}

.item[selected][disabled] {
    background: var(--tabs-item-background-selected-disabled);
}

.close::before {
    display: inline-block;
    content: '✕';
}

.close:hover {
    color: #666;
}

.body {
    margin-top: 20px;
}
