<u-linear-layout :class="$style.root" :layout="layout">
    <u-select v-for="(category, level) in categories" v-if="lists[level] || !hideEmpty" :key="level"
        :field="field" :readonly="readonly" :disabled="disabled" :placeholder="category.placeholder"
        v-model="values[level]" @select="onSelect($event, level)"
        :size="size">
        <u-select-item v-for="item in lists[level]" v-if="item.exist === undefined || !!item.exist === true"
            :key="item.value"
            :value="item.value"
            :item="item"
            :disabled="item.disabled">
            <slot name="text" :item="item" :level="level">{{ item[field] }}</slot>
        </u-select-item>
    </u-select>
</u-linear-layout>
