<span :class="$style.root" v-if="visible">
    <input ref="input" :class="$style.input" :role="state"
        :name="name" :type="type" :placeholder="placeholder" :maxlength="maxlength" :autofocus="autofocus" :readonly="readonly" :disabled="disabled" :style="{width: width+'px'}"
        :value="showValue"
        v-bind="$props"
        @compositionstart="compositionInputing = true"
        @compositionend="compositionInputing = false"
        @input="onInput($event)"
        @focus="onFocus($event)"
        @blur="onBlur($event)">
    <span v-if="unit" :class="$style.unit">{{unit}}</span>
    <span v-if="tip" :class="$style.tip" :role="state">{{tip}}</span>
</span>
