<u-input ref="input" :class="$style.root" :value="formattedValue"
    :readonly="readonly" :disabled="disabled"
    @keydown.native.up="increase" @keydown.native.down="decrease"  @keydown.native.enter="onEnter"
    @input="onInput" @focus="onFocus" @blur="onBlur" v-bind="$attrs" v-on="listeners">
    <span :class="$style.button" v-if="!hideButtons" :disabled="currentValue >= max" role="up" v-repeat-click="increase"
        tabindex="0" @keydown.prevent></span>
    <span :class="$style.button" v-if="!hideButtons" :disabled="currentValue <= min" role="down" v-repeat-click="decrease"
        tabindex="0" @keydown.prevent></span>
    <slot></slot>
</u-input>
