.root {}

.button {
    user-select: none;
    position: absolute;
    right: 1px;
    height: var(--number-input-height);
    line-height: var(--number-input-height);
    padding: var(--number-input-padding);
    cursor: var(--cursor-pointer);
    background: var(--number-input-button-background);
}

.button:hover {
    background: var(--number-input-button-background-hover);
}

.button:focus {
    outline: var(--focus-outline);
}

.button:active {
    background: var(--number-input-button-background-active);
}

.button[role="up"] {
    top: 2px;
}

.button[role="down"] {
    bottom: 2px;
}

.button[role="up"]::before {
    icon-font: url("../i-icon.vue/icons/keyboard-arrow-up.svg");
}

.button[role="down"]::before {
    icon-font: url("../i-icon.vue/icons/keyboard-arrow-down.svg");
}

.button::before {
    width: 1em;
    display: inline-block;
    font-size: 16px;
    color: #989898;
}

.button:hover::before {
    color: var(--brand-primary);
}

.button[disabled]:hover::before {
    color: #989898;
}

.root[readonly] .button:hover::before { color: #989898; }

.root[disabled] .button:hover::before { color: #989898; }

.button[disabled] {
    background: var(--number-input-button-background-disabled);
    color: var(--number-input-button-color-disabled);
    cursor: var(--cursor-not-allowed);
    opacity: 0.65;
}

.root[readonly] .button {
    background: var(--number-input-button-background);
    cursor: default;
}

.root[disabled] .button {
    background: var(--number-input-button-background-disabled);
    color: var(--number-input-button-color-disabled);
    cursor: var(--cursor-not-allowed);
}
