@extends;

.root {
    display: block;
    position: relative;
    z-index: 1;
    overflow: visible;
    padding: 6px 15px;
    padding-right: var(--menu-item-size);
    white-space: nowrap;
}

.root:hover {
    background: var(--background-color-light);
}

.root[readonly] {
    cursor: default;
    background: none;
}

.root[selected] {
    background: var(--brand-primary);
    color: white;
}

.root[disabled] {
    /* @Private */
    cursor: var(--cursor-not-allowed);
    background: none;
    color: #999;
}

.root[selected][disabled] {
    background: var(--gray-lighter);
}

.root[has-sub]::after {
    display: inline-block;
    content: '▸';
    position: absolute;
    right: 0;
    top: 0;
    width: var(--menu-item-size);
    height: var(--menu-item-size);
    line-height: var(--menu-item-size);
    text-align: center;
}

.sub {
    display: none;
    position: absolute;
    left: 100%;
    top: 0;
    margin-left: 1px;
    margin-top: -1px;
}

.root:hover > .sub {
    display: block;
}
