@extend;

.root {
    padding: 6px 15px;
    padding-right: 34px;
}

.root:hover {
    background: #f5f7fa;
}

.root[readonly] {
    cursor: default;
    background: none;
}

.root[selected] {
    background: var(--brand-primary);
    color: white;
}

.root[disabled] {
    /* @Private */
    cursor: var(--cursor-not-allowed);
    background: none;
    color: #999;
}

.root[selected][disabled] {
    background: var(--gray-lighter);
}

.root + .root {
    border-top: 1px solid var(--brand-secondary);
}
