.root {
    display: inline-block;
    margin: 0 var(--navbar-divider-margin);
    height: var(--navbar-divider-height);
    width: var(--navbar-divider-width);
    background: var(--navbar-divider-background);
    vertical-align: -4px;
}
