@import '../../src/u-line-chart.vue/module.css';
.layer .elsvg .line {
    stroke: rgb(97,218,198);
}

.layer .elsvg .area {
    fill: rgba(97,218,198,0.1);
}

.layer .elsvg:nth-of-type(1) .line {
    stroke: $theme-dark-chart-color1;
}

.layer .elsvg:nth-of-type(1) .area {
    fill: $theme-dark-chart-rgba-color1;
}

.layer .elsvg:nth-of-type(2) .line {
    stroke: $theme-dark-chart-color2;
}

.layer .elsvg:nth-of-type(2) .area {
    fill: $theme-dark-chart-rgba-color2;
}

.layer .elsvg:nth-of-type(3) .line {
    stroke: $theme-dark-chart-color3;
}

.layer .elsvg:nth-of-type(3) .area {
    fill: $theme-dark-chart-rgba-color3;
}

.layer .elsvg:nth-of-type(4) .line {
    stroke: $theme-dark-chart-color4;
}

.layer .elsvg:nth-of-type(4) .area {
    fill: $theme-dark-chart-rgba-color4;
}

.layer .elsvg:nth-of-type(5) .line {
    stroke: $theme-dark-chart-color5;
}

.layer .elsvg:nth-of-type(5) .area {
    fill: $theme-dark-chart-rgba-color5;
}

.layer .elsvg:nth-of-type(6) .line {
    stroke: $theme-dark-chart-color6;
}

.layer .elsvg:nth-of-type(6) .area {
    fill: $theme-dark-chart-rgba-color6;
}

.layer .elsvg:nth-of-type(7) .line {
    stroke: $theme-dark-chart-color7;
}

.layer .elsvg:nth-of-type(7) .area {
    fill: $theme-dark-chart-rgba-color7;
}

.layer .elsvg:nth-of-type(8) .line {
    stroke: $theme-dark-chart-color8;
}

.layer .elsvg:nth-of-type(8) .area {
    fill: $theme-dark-chart-rgba-color8;
}
.layer .elsvg:nth-of-type(9) .line {
    stroke: $theme-dark-chart-color9;
}

.layer .elsvg:nth-of-type(9) .area {
    fill: $theme-dark-chart-rgba-color9;
}
.layer .elsvg:nth-of-type(10) .line {
    stroke: $theme-dark-chart-color10;
}

.layer .elsvg:nth-of-type(10) .area {
    fill: $theme-dark-chart-rgba-color10;
}

.piece .point {
    border-color: rgb(97,218,198);
    background: rgb(97,218,198);
}

.piece .point:nth-of-type(1) {
    border-color: $theme-dark-chart-color1;
    background: $theme-dark-chart-color1;
}

.piece .point:nth-of-type(2) {
    border-color: $theme-dark-chart-color2;
    background: $theme-dark-chart-color2;
}

.piece .point:nth-of-type(3) {
    border-color: $theme-dark-chart-color3;
    background: $theme-dark-chart-color3;
}

.piece .point:nth-of-type(4) {
    border-color: $theme-dark-chart-color4;
    background: $theme-dark-chart-color4;
}

.piece .point:nth-of-type(5) {
    border-color: $theme-dark-chart-color5;
    background: $theme-dark-chart-color5;
}

.piece .point:nth-of-type(6) {
    border-color: $theme-dark-chart-color6;
    background: $theme-dark-chart-color6;
}

.piece .point:nth-of-type(7) {
    border-color: $theme-dark-chart-color7;
    background: $theme-dark-chart-color7;
}

.piece .point:nth-of-type(8) {
    border-color: $theme-dark-chart-color8;
    background: $theme-dark-chart-color8;
}
.piece .point:nth-of-type(9) {
    border-color: $theme-dark-chart-color9;
    background: $theme-dark-chart-color9;
}
.piece .point:nth-of-type(10) {
    border-color: $theme-dark-chart-color10;
    background: $theme-dark-chart-color10;
}
