:root {
    --water-progress-info-color: rgba(54, 163, 247, 0.3);
    --water-progress-primary-color: rgba(103, 170, 245, 0.3);
    --water-progress-success-color: rgba(58, 208, 175, 0.3);
    --water-progress-warning-color: rgba(255, 161, 54, 0.3);
    --water-progress-error-color: rgba(255, 138, 122, 0.3);
}

.root {
    display: inline-block;
    position: relative;
    width: 160px;
    height: 160px;
    border: 1px solid var(--border-color-base);
    border-radius: 100%;
    overflow: hidden;
    -webkit-mask-image: -webkit-radial-gradient(white, black);
}

.content {
    position: absolute;
    z-index: 5;
    bottom: 40%;
    left: 0;
    right: 0;
    text-align: center;
}

.text {
    color: #8a8e9e;
}

.value {
    font-size: 24px;
}

.water {
    position: relative;
    width: 100%;
    height: 100%;
    /* background: linear-gradient() */
    transition: all var(--transition-duration-base);
}

.wave {
    position: absolute;
    width: 400%;
    height: 200%;
    left: -150%;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    background: linear-gradient(to top, var(--brand-info), var(--water-progress-info-color));
    transition: all var(--transition-duration-base);
}

.wave[distance="far"] {
    left: -125%;
    animation: wave-reverse 10s 5s ease alternate infinite;
}

.wave[distance="middle"] {
    animation: wave 8s 3s ease alternate infinite;
}

.wave[distance="near"] {
    left: -175%;
    animation: wave 6s ease alternate infinite;
}

@keyframes wave {
    0%, 100% { transform: skew(0deg, 0deg); }
    25% { transform: skew(2deg, 2deg); }
    75% { transform: skew(-2deg, -2deg); }
}

@keyframes wave-reverse {
    0%, 100% { transform: skew(0deg, 0deg); }
    25% { transform: skew(-3deg, -3deg); }
    75% { transform: skew(3deg, 3deg); }
}

.root[color="primary"] .wave {
    background: linear-gradient(to top, var(--brand-primary), var(--water-progress-primary-color));
}
.root[color="info"] .wave {
    background: linear-gradient(to top, var(--brand-info), var(--water-progress-info-color));
}
.root[color="success"] .wave {
    background: linear-gradient(to top, var(--brand-success), var(--water-progress-success-color));
}
.root[color="warning"] .wave {
    background: linear-gradient(to top, var(--brand-warning), var(--water-progress-warning-color));
}
.root[color="error"] .wave {
    background: linear-gradient(to top, var(--brand-error), var(--water-progress-error-color));
}
