.root {
    user-select: none;
    cursor: var(--cursor-pointer);
}

.root:focus {
    outline: var(--focus-outline);
}

.root[disabled] {
    cursor: var(--cursor-not-allowed);
    color: var(--brand-disabled);
}

.box {
    display: inline-block;
    width: var(--checkbox-size);
    height: var(--checkbox-size);
    line-height: calc(var(--checkbox-size) - 2px);
    background: var(--checkbox-background);
    border: 1px solid var(--border-color-base);
    border-radius: var(--checkbox-border-radius);
    margin-right: 5px;
    text-align: center;
}

.box[status="false"]::before {
    icon-font: url('../i-icon.vue/assets/check.svg');
    color: transparent;
    font-size: var(--font-size-small);
}

.box[status="true"]::before {
    icon-font: url('../i-icon.vue/assets/check.svg');
    color: var(--brand-primary);
    font-size: var(--font-size-small);
}

.box[status="null"]::before {
    icon-font: url('../i-icon.vue/assets/square.svg');
    color: var(--brand-primary);
}

.box[disabled] {
    background: var(--background-color-base);
}
