.root{
    display: inline-block;
	vertical-align: top;
	background-color: #fff;
}
.operation {
	border-top: 1px solid #ebeef5;
	line-height: 2.6;
	text-align: left;
	padding: 0 10px;
}
.closebutton {
	float: right;
}
