.arrow, .arrow:after{
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    border-color: transparent;
    border-style: solid;
    border-width: 6px;
}
.popper[x-placement^="top"] .arrow{
    bottom: 3px;
    border-width: 6px 6px 0;
    /*border-top-color:hsla(0, 0%, 85%, .5);*/
    &:after{
        content: '';
        bottom: 1px;
        margin-left: -6px;
        border-bottom-width: 0;
        border-top-color: rgba(71,88,107,0.9);
    }
}
.popper[x-placement="top"] .arrow{
    left: 50%;
    margin-left: -6px;
}
.popper[x-placement="top-start"] .arrow{
    left: 16px;
}
.popper[x-placement="top-end"] .arrow{
    right: 16px;
}
.popper[x-placement^="right"] .arrow{
    left: 3px;
    border-width: 6px 6px 6px 0;
    /*border-right-color:hsla(0, 0%, 85%, .5);*/
    &:after{
        content: '';
        left: 1px;
        bottom: -6px;
        border-left-width: 0;
        border-right-color: rgba(71,88,107,0.9);
    }
}
.popper[x-placement="right"] .arrow{
    top: 50%;
    margin-top: -6px;
}
.popper[x-placement="right-start"] .arrow{
    top: 8px;
}
.popper[x-placement="right-end"] .arrow{
    bottom: 8px;
}
.popper[x-placement^="left"] .arrow{
    right: 3px;
    border-width: 6px 0 6px 6px;
    /*border-left-color:hsla(0, 0%, 85%, .5);*/
    &:after{
        content: '';
        right: 1px;
        bottom: -6px;
        border-right-width: 0;
        border-left-color: rgba(71,88,107,0.9);
    }
}
.popper[x-placement="left"] .arrow{
    top: 50%;
    margin-top: -6px;
}
.popper[x-placement="left-start"] .arrow{
    top: 8px;
}
.popper[x-placement="left-end"] .arrow{
    bottom: 8px;
}
.popper[x-placement^="bottom"] .arrow{
    top: 3px;
    border-width: 0px 6px 6px;
    /*border-bottom-color:hsla(0, 0%, 85%, .5);*/
    &:after{
        content: '';
        top: 1px;
        margin-left: -6px;
        border-top-width: 0;
        border-bottom-color: rgba(71,88,107,0.9);
    }
}
.popper[x-placement="bottom"] .arrow{
    left: 50%;
    margin-left: -6px;
}
.popper[x-placement="bottom-start"] .arrow{
    left: 16px;
}
.popper[x-placement="bottom-end"] .arrow{
    right: 16px;
}
.popper{
    max-width: 260px;
    border-radius: 2px;
    box-sizing: border-box;
    z-index: 1065;
}
.content{
    padding: 20px;
    max-width: 260px;
    word-break: break-all;
    color: #fff;
    background: rgba(71,88,107,0.9);
    position: relative;
}
.popper[x-placement^="top"] .content{
    top: -10px;
}
.popper[x-placement^="bottom"] .content{
    top: 10px;
}
.popper[x-placement^="right"] .content{
    left: 10px;
}
.popper[x-placement^="left"] .content{
    left: -10px;
}
