<div :class="$style.root" :vertical="vertical" :horizontal="!vertical" :reverse="reverse" :disabled="disabled">
    <div :class="$style.body">
        <div :class="$style.track" >
            <div :class="$style.trail" :style="vertical ? { height: showPercent + '%' } : { width: showPercent + '%' }"></div>
            <div :class="$style.bound" role="start" v-if="showRangeStartPercent" :style="vertical ? { height: showRangeStartPercent + '%' } : { width: showRangeStartPercent + '%' }"></div>
            <div :class="$style.bound" role="end" v-if="showRangeEndPercent" :style="vertical ? { height: showRangeEndPercent + '%' } : { width: showRangeEndPercent + '%' }"></div>
        </div>
        <f-dragger :disabled="readonly || disabled" immediate
            :axis="vertical ? 'vertical' : 'horizontal'" :grid="grid"
            source="offset-parent" range="offset-parent" range-mode="center"
            @dragstart="onDragStart($event)"
            @drag="onDrag($event)">
            <div :class="$style.handle" ref="handle"></div>
        </f-dragger>
    </div>
</div>
