.root {
    vertical-align: -7px;
}

.body {
    position: relative;
    margin: var(--slider-body-margin);
    padding: var(--slider-body-padding);
    height: 24px;
}

.track {
    position: relative;
    cursor: var(--cursor-pointer);
    height: var(--slider-track-height);
    background: var(--slider-track-background);
}

.trail {
    position: absolute;
    height: 100%;
    background: var(--slider-trail-background);
}

.bound {
    box-sizing: content-box;
    position: absolute;
    background: var(--slider-bound-background);
    height: 100%;
}

.bound[role="start"] {
    left: -7px;
    padding-left: 7px;
}

.bound[role="end"] {
    right: -7px;
    padding-right: 7px;
}

.handle {
    position: absolute;
    left: 0;
    top: 0;
    cursor: var(--cursor-pointer);
    margin-left: calc(var(--slider-handle-width) / -2);
    width: var(--slider-handle-width);
    height: var(--slider-handle-height);
    background: var(--slider-handle-background);
    border: var(--slider-handle-border);
    border-radius: 2px;
}

.handle::before {
    content: '';
    position: absolute;
    width: 2px;
    height: 12px;
    background-color: var(--slider-track-background);
    top: 5px;
    left: 3px;
}

.handle::after {
    content: '';
    position: absolute;
    width: 2px;
    height: 12px;
    background-color: var(--slider-track-background);
    top: 5px;
    right: 3px;
}

.root[disabled] {
    cursor: var(--cursor-not-allowed);
}

.root[disabled] .trail {
    background: var(--slider-trail-background-disabled);
}

.track::before {
    content: '';
    position: absolute;
    width: 7px;
    left: -7px;
    height: 100%;
    background: var(--brand-primary);
}

.track::after {
    content: '';
    position: absolute;
    width: 7px;
    right: -7px;
    height: 100%;
    background: var(--slider-track-background);
}

.root[disabled] .track::before {
    background: var(--brand-disabled);
}
