.root {
    user-select: none;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
}

.left {
}

.middle {
    flex: auto;
    margin: 0 50px;
}

.root[align="center"] .middle {
    text-align: center;
}

.root[align="right"] .middle {
    text-align: right;
}

.right {
}
