.root{
    display: inline-block;
}
.reference{
    /*position: relative;*/
}
.popper{
    display: block;
    visibility: visible;
    position: absolute;
    line-height: 1.5;
    z-index: 1060;
    /*min-width: 130px;*/
}
.popper[x-placement^="top"] {
    padding: 5px 0 8px 0;
}
.popper[x-placement^="right"] {
    padding: 0 5px 0 8px;
}
.popper[x-placement^="bottom"] {
    padding: 8px 0 5px 0;
}
.popper[x-placement^="left"] {
    padding: 0 8px 0 5px;
}
.wrap{
    width: 100%;
    border-radius: 2px;
    white-space: nowrap;
    box-sizing: border-box;
}
.title{
    padding: 8px 16px;
    position: relative;
}
.title:after {
    content: '';
    display: block;
    position: absolute;
    left:8px;
    right:8px;
    bottom:0;
    background: #e9eaec;
    height: 1px;
}
.content{
    padding: 8px 16px;
}
.message{
    padding: 8px 16px;
}
.linkGroup{
    text-align: right;
    padding: 8px 16px;
}
.linkitem{
    margin-right: 10px;
}
.body{
    background-color: #fff;
    z-index: 1065;
}
