.root {
    display: none;
}
.root[start] {
    animation: show .3s ease-in-out 0s;
}
.root[current] {
    display: block;
}

.close {
    position: absolute;
    z-index: 100;
    right: -12px;
    top: -12px;
    height: 30px;
    width: 30px;
    line-height: 1;
    text-align: center;
    color: #fff;
    background-color: rgba(0,0,0,.3);
    box-shadow: 0 0 0 1px rgba(0,0,0,.1), 0 0 6px rgba(0,0,0,.3);
    border-radius: 50%;
}

.close:hover { color: #888; }

.close:before {
    content:'\00d7';
    font-size: 28px;
    line-height: 30px;
}
.title {
    color: #fff;
    font-weight: bold;
    position: absolute;
    z-index: 10;
    top: 0px;
    left: 0px;
    right: 0px;
    background: hsla(0,0%,100%,.1);
    padding: 5px 10px;
    font-size: 14px;
    text-align: center;
}
@keyframes show {
    0% { transform: scale(0); }
    100% { transform: scale(1); }
}
.root[animation="fade"]{
    display: block;
    transition: all 0.5s ease-out;
    opacity: 0;
}
.root[current][animation="fade"]{
    opacity: 1;
}

.root[animation="zoom-out"]{
    display: block;
    transition: all 0.5s ease-in;
    opacity: 0;
    transform: scale(1.2);
}

.root[current][animation="zoom-out"]{
    opacity: 1;
    transform: scale(1);
}

.root[current] > .wrapper {
    z-index: 10;
    cursor: move;
}
.wrapper {
    position: absolute;
}
.wrapper > img {
    width: 100%;
}
