<u-popper v-if="!disabled && !readonly" ref="popper" :placement="placement" @toggle="onToggle">
    <div :class="$style.header" @mouseenter="onMouseEnter"
    @mouseleave="showClearBtn = false">
        <input :class="$style.input" :placeholder="currentPlaceholders[0]" :value="inputStartValue" ref="input0" :readonly="readonly" :disabled="disabled" @input="value => inputStartValue = value"
        @blur="onStartBlur"></input>
        <span :class="$style.split">至</span>
        <input :class="$style.input" :placeholder="currentPlaceholders[1]" :value="inputEndValue" ref="input1" :readonly="readonly" :disabled="disabled" @input="value => inputEndValue = value"
        @blur="onEndBlur"></input>
        <span @click="displayStartValue = displayEndValue = undefined" v-show="showClearBtn" :class="$style.empty"></span>
        </div>
    <div slot="popper" @click.stop style="border-radius: 4px;box-shadow: 0 0 10px 0 rgba(80,90,109,0.16);">
        <div v-if="init">
            <component v-if="panelComponent" v-bind:is="panelComponent" :isRangePicker="true" :value="displayStartValue" v-on="listeners" v-bind="$attrs" @select="onSelect" :selectedValues="selectedValues" :showDate.sync="currentStartShowValue"></component>
            <component v-if="panelComponent" v-bind:is="panelComponent" :isRangePicker="true" :value="displayEndValue" v-on="listeners" v-bind="$attrs" @select="onSelect" :selectedValues="selectedValues" :showDate.sync="currentEndShowValue"></component>
        </div>
    </div>
</u-popper>
<div v-else :class="$style.header" :disabled="disabled" :readonly="readonly">
    <input :class="$style.input" :placeholder="currentPlaceholders[0]" :value="inputStartValue" :readonly="readonly" :disabled="disabled"></input>
    <span :class="$style.split">至</span>
    <input :class="$style.input" :placeholder="currentPlaceholders[1]" :value="inputEndValue" :readonly="readonly" :disabled="disabled"></input>
</div>