.input {
	border: none;
	width: 160px;
	text-align: center;
	margin-right: 20px;
}
.header {
	padding-right: 20px;
}
.body {
	width: 620px;
	box-shadow: 0 0 10px 0 rgba(80,90,109,0.16);
	border-radius: 4px;
	background-color: #fff;
}
.calendayday {
	border: none;
}