
.root {
	position: relative;
	min-width: 140px;
	background: var(--popup-background);
	border: 1px solid var(--popup-border-color);
	box-shadow: var(--popup-box-shadow);
	z-index: var(--z-index-popper);
}

.head {
	padding: var(--popup-padding);
	background: var(--popup-head-background);
	border-bottom: 1px solid var(--popup-border-color);
}

.title {
	font-weight: var(--font-weight-bold);
}

.body {
	padding: var(--popup-padding);
}

.foot {
	border-top: 1px solid var(--popup-border-color);
	padding: var(--popup-padding);
}

.arrow {
	display: block;
	position: absolute;
	width: calc(1.4*2*var(--popup-arrow-size));
	height: calc(1.4*var(--popup-arrow-size));
	overflow: hidden;
}

.arrow::before {
	display: block;
	position: absolute;
	left:50%;
	content: '';
	width: calc(2*var(--popup-arrow-size));
	height: calc(2*var(--popup-arrow-size));
	background: var(--popup-background);
	border-radius: calc(0.5*var(--popup-arrow-size));
	border: 1px solid var(--popup-border-color);
	box-shadow: var(--popup-box-shadow);
	transform: translate(-50%) rotate(45deg);
}

/**
- 扩大区域鼠标 hover 区域
- 保证原来的 .root 可以直接控制样式
*/
.root::before {
	content: '';
	display: block;
	position: absolute;
}

.root[data-popper-placement^="top"] { margin-bottom: var(--popup-arrow-size); }
.root[data-popper-placement^="top"] .arrow {
	bottom: calc(-1.4 * var(--popup-arrow-size) + 1px);
	transform: translateX(-50%);
}

.root[data-popper-placement^="top"] .arrow::before {
	top: calc(-50% * 1.4);
}

.root[data-popper-placement^="top"]::before {
	left: 0;
	right: 0;
	height: var(--popup-arrow-size);
	bottom: calc(-1 * var(--popup-arrow-size));
}

.root[data-popper-placement="top-start"] .arrow { left: var(--popup-arrow-offset); }
.root[data-popper-placement="top"] .arrow { left: 50%; }
.root[data-popper-placement="top-end"] .arrow {
	right: var(--popup-arrow-offset);
}

.root[data-popper-placement^="bottom"] { margin-top: var(--popup-arrow-size); }
.root[data-popper-placement^="bottom"] .arrow {
	top: calc(-1.4 * var(--popup-arrow-size) + 1px);
	transform: translateX(-50%);
}

.root[data-popper-placement^="bottom"] .arrow::before {
	bottom: calc(-50% * 1.4);
}

.root[data-popper-placement^="bottom"]::before {
	left: 0;
	right: 0;
	height: var(--popup-arrow-size);
	top: calc(-1 * var(--popup-arrow-size));
}
.root[data-popper-placement="bottom-start"] .arrow { left: var(--popup-arrow-offset); }
.root[data-popper-placement="bottom"] .arrow { left: 50%; }
.root[data-popper-placement="bottom-end"] .arrow {
	right: var(--popup-arrow-offset);
}

.root[data-popper-placement^="left"] { margin-right: var(--popup-arrow-size); }
.root[data-popper-placement^="left"] .arrow {
	height: calc(1.4*2*var(--popup-arrow-size));
	width: calc(1.4*var(--popup-arrow-size));
	right: calc(-1.4 * var(--popup-arrow-size) + 1px);
	transform: translateY(-50%);
}

.root[data-popper-placement^="left"] .arrow::before {
	left: 0;
	top: 50%;
	transform: translate(-50%, -50%) rotate(45deg);
}

.root[data-popper-placement^="left"]::before {
	top: 0;
	bottom: 0;
	width: var(--popup-arrow-size);
	right: calc(-1 * var(--popup-arrow-size));
}
.root[data-popper-placement="left-start"] .arrow { top: var(--popup-arrow-offset); }
.root[data-popper-placement="left"] .arrow { top: 50%; }
.root[data-popper-placement="left-end"] .arrow {
	top: var(--popup-arrow-offset);
}

.root[data-popper-placement^="right"] { margin-left: var(--popup-arrow-size); }
.root[data-popper-placement^="right"] .arrow {
	height: calc(1.4*2*var(--popup-arrow-size));
	width: calc(1.4*var(--popup-arrow-size));
	left: calc(-1.4 * var(--popup-arrow-size) + 1px);
	transform: translateY(-50%);
}

.root[data-popper-placement^="right"] .arrow::before {
	left: 100%;
	top: 50%;
	transform: translate(-50%, -50%) rotate(45deg);
}

.root[data-popper-placement^="right"]::before {
	top: 0;
	bottom: 0;
	width: var(--popup-arrow-size);
	right: calc(-1 * var(--popup-arrow-size));
}
.root[data-popper-placement="right-start"] .arrow { top: var(--popup-arrow-offset); }
.root[data-popper-placement="right"] .arrow { top: 50%; }
.root[data-popper-placement="right-end"] .arrow {
	top: var(--popup-arrow-offset);
}

.root[merge-borders] .arrow ~ * {
	border: none;
	box-shadow: none;
}

.root[size="small"] .arrow {
	display: block;
	position: absolute;
	width: calc(1.4*2*var(--popup-arrow-size-small));
	height: calc(1.4*var(--popup-arrow-size-small));
	overflow: hidden;
}

.root[size="small"]  .arrow::before {
	display: block;
	position: absolute;
	left:50%;
	content: '';
	width: calc(2*var(--popup-arrow-size-small));
	height: calc(2*var(--popup-arrow-size-small));
	background: var(--popup-background);
	border-radius: calc(0.5*var(--popup-arrow-size-small));
	border: 1px solid var(--popup-border-color);
	box-shadow: var(--popup-box-shadow);
	transform: translate(-50%) rotate(45deg);
}

/**
- 扩大区域鼠标 hover 区域
- 保证原来的 .root[size="small"] 可以直接控制样式
*/
.root[size="small"]::before {
	content: '';
	display: block;
	position: absolute;
}

.root[size="small"] .body {
	padding: 2px;
}


.root[size="small"][data-popper-placement^="top"] { margin-bottom: var(--popup-arrow-size-small); }
.root[size="small"][data-popper-placement^="top"] .arrow {
	bottom: calc(-1.4 * var(--popup-arrow-size-small) + 1px);
	transform: translateX(-50%);
}

.root[size="small"][data-popper-placement^="top"] .arrow::before {
	top: calc(-50% * 1.4);
}

.root[size="small"][data-popper-placement^="top"]::before {
	left: 0;
	right: 0;
	height: var(--popup-arrow-size-small);
	bottom: calc(-1 * var(--popup-arrow-size-small));
}

.root[size="small"][data-popper-placement="top-start"] .arrow { left: var(--popup-arrow-offset); }
.root[size="small"][data-popper-placement="top"] .arrow { left: 50%; }
.root[size="small"][data-popper-placement="top-end"] .arrow {
	right: var(--popup-arrow-offset);
}

.root[size="small"][data-popper-placement^="bottom"] { margin-top: var(--popup-arrow-size-small); }
.root[size="small"][data-popper-placement^="bottom"] .arrow {
	top: calc(-1.4 * var(--popup-arrow-size-small) + 1px);
	transform: translateX(-50%);
}

.root[size="small"][data-popper-placement^="bottom"] .arrow::before {
	bottom: calc(-50% * 1.4);
}

.root[size="small"][data-popper-placement^="bottom"]::before {
	left: 0;
	right: 0;
	height: var(--popup-arrow-size-small);
	top: calc(-1 * var(--popup-arrow-size-small));
}
.root[size="small"][data-popper-placement="bottom-start"] .arrow { left: var(--popup-arrow-offset); }
.root[size="small"][data-popper-placement="bottom"] .arrow { left: 50%; }
.root[size="small"][data-popper-placement="bottom-end"] .arrow {
	right: var(--popup-arrow-offset);
}

.root[size="small"][data-popper-placement^="left"] { margin-right: var(--popup-arrow-size-small); }
.root[size="small"][data-popper-placement^="left"] .arrow {
	height: calc(1.4*2*var(--popup-arrow-size-small));
	width: calc(1.4*var(--popup-arrow-size-small));
	right: calc(-1.4 * var(--popup-arrow-size-small) + 1px);
	transform: translateY(-50%);
}

.root[size="small"][data-popper-placement^="left"] .arrow::before {
	left: 0;
	top: 50%;
	transform: translate(-50%, -50%) rotate(45deg);
}

.root[size="small"][data-popper-placement^="left"]::before {
	top: 0;
	bottom: 0;
	width: var(--popup-arrow-size-small);
	right: calc(-1 * var(--popup-arrow-size-small));
}
.root[size="small"][data-popper-placement="left-start"] .arrow { top: var(--popup-arrow-offset); }
.root[size="small"][data-popper-placement="left"] .arrow { top: 50%; }
.root[size="small"][data-popper-placement="left-end"] .arrow {
	top: var(--popup-arrow-offset);
}

.root[size="small"][data-popper-placement^="right"] { margin-left: var(--popup-arrow-size-small); }
.root[size="small"][data-popper-placement^="right"] .arrow {
	height: calc(1.4*2*var(--popup-arrow-size-small));
	width: calc(1.4*var(--popup-arrow-size-small));
	left: calc(-1.4 * var(--popup-arrow-size-small) + 1px);
	transform: translateY(-50%);
}

.root[size="small"][data-popper-placement^="right"] .arrow::before {
	left: 100%;
	top: 50%;
	transform: translate(-50%, -50%) rotate(45deg);
}

.root[size="small"][data-popper-placement^="right"]::before {
	top: 0;
	bottom: 0;
	width: var(--popup-arrow-size-small);
	right: calc(-1 * var(--popup-arrow-size-small));
}
.root[size="small"][data-popper-placement="right-start"] .arrow { top: var(--popup-arrow-offset); }
.root[size="small"][data-popper-placement="right"] .arrow { top: 50%; }
.root[size="small"][data-popper-placement="right-end"] .arrow {
	top: var(--popup-arrow-offset);
}

.root[size="small"][merge-borders] .arrow ~ * {
	border: none;
	box-shadow: none;
}