.root {
    position: relative;
}

.head {
    display: block;
    cursor: var(--cursor-pointer);
    font-weight: var(--font-weight-bold);
    color: var(--sidebar-group-head-color);
    padding-left: var(--sidebar-group-head-padding-left);
    line-height: var(--sidebar-group-head-line-height);
    height: 52px;
    line-height: 52px;
    color: var(--sidebar-group-head-color);
    padding-left: 20px;
    transition: color 0.2s;
    position: relative;
}

.text {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.expander {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
    width: var(--sidebar-expander-size);
    height: var(--sidebar-expander-size);
    line-height: var(--sidebar-group-head-line-height);
    text-align: center;
    width: 52px;
    height: 52px;
    line-height: 51px;
}

.expander::before {
    content: '▸';
}

.expander[expanded]::before {
    content: '▾';
}

.root[disabled] {
    cursor: var(--cursor-not-allowed);
}

.root[disabled] .expander {
    color: var(--sidebar-disabled-expander-color);
}

.head:hover {
    color: var(--sidebar-group-head-hover-color);
    /* background-color: #dde8f0; */
}
.head[selected] {
    color: var(--sidebar-group-head-selected-color);
}

/* @TODO: replace by icon-font */
.head:hover::after {
    border-left-color: white;
}

/* @TODO: replace by icon-font */
.expander[expanded]::after {
    content: '▾';
}

.body {}
