<u-old-popper ref="popper" :class="$style.root" :disabled="disabled" appendTo="reference" :placement="placement" @toggle="onToggle($event)" :options="options" :style="{width: size ? '':width+'px'}">
    <div :class="$style.head" :disabled="disabled" :role="filter" :size="size" @click.stop="focus"
    :tabindex="readonly || disabled ? '' : 0" @keydown.prevent.up="$refs.popper.currentOpen ? shift(-1) : toggle(true)"
    @keydown.prevent.down="$refs.popper.currentOpen ? shift(+1) : toggle(true)"
    @keydown.stop.enter="$refs.popper.currentOpen && enterSelected()"
    @keydown.stop.esc="toggle(false)">
        <template v-if="filter">
            <div :class="$style.tag" v-for="(selItem, index) in selItems" :key="selItem.value">
                <span :class="$style.text">{{selItem[field]}}</span>
                <span :class="$style.close" @click.stop="close(index)"></span>
            </div>
            <input ref="input" :class="$style.input" :placeholder="showPlaceholder" v-model="query" @click.stop="inputClick" @input="onInput" @keydown.delete="inputDelete"  @compositionstart="compositionInputing = true"
            @compositionend="compositionInputing = false" :style="inputStyle"></input>
        </template>
        <template v-else>
            <span :class="$style.tiptext" v-if="!selFlag">{{ $t('selectText') }}</span>
            <div :class="$style.wraptag" v-else>
                <template v-if="pattern === 'collapseTag'">
                    <div :class="$style.tag" v-for="(selItem, index) in selItems.slice(0, collapseTagCount)" :key="selItem.value">
                        <span :class="$style.text">{{selItem[field]}}</span>
                        <span :class="$style.close" @click.stop="close(index)"></span>
                    </div>
                    <div :class="$style.tag" v-if="selItems.length > collapseTagCount">
                        <span :class="$style.text">{{collapseTagPlaceholder}}</span>
                    </div>
                </template>
                <template v-else>
                    <div :class="$style.tag" v-for="(selItem, index) in selItems" :key="selItem.value">
                        <span :class="$style.text">{{selItem[field]}}</span>
                        <span :class="$style.close" @click.stop="close(index)"></span>
                    </div>
                </template>
            </div>
            <i :class="$style.icon" :role="open ? 'up':''"></i>
        </template>
    </div>
    <div :class="$style.body" slot="popper" :size="size" :style="{width: size ? '':width+'px'}">
        <ul :class="$style.listview" v-if="optionsData.length>0" ref="listView">
            <li :class="$style.listitem" ref="listItem" v-for="(item,index) in optionsData" v-if="!item.hidden" :key="index" :disabled="item.disabled" :role="item.selected ? 'z-sel':''" :hovered="item.hovered" @click.stop="select($event,index)">
                <!-- <span :class="$style.listcontent">{{item[field]}}</span> -->
                {{item[field]}}
            </li>
        </ul>
        <div :class="$style.none" v-else>{{ $t('noDataText') }}</div>
    </div>
</u-old-popper>
