.root {
    font-family: "Monospaced Number", "Chinese Quote", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #606266;
}
.head {
    line-height: 42px;
    *zoom: 1;
    text-align: center;
    position: relative;
    margin-bottom: 10px;
    font-size: 16px;
}
.head .left, .head .right {
    position: absolute;
    color: $field-disabled-color;
    top: -4px;
}
.head .left {
    left: 0px;
}
.head .right {
    right: 0px;
}

.head span {
    cursor: pointer;
}

.content {
    width: 100%;
}

.item[disabled] span,
.item3[disabled] span{
    cursor: not-allowed;
}
.item[disabled] span{
    background-color: $field-disabled-background;
}
.item, .item3 {
    text-align: center;
    color: $field-color;
}

.item span, .item3 span {
    border-radius: 3px;
    box-sizing: border-box;
    padding: 3px 5px;
    display: inline-block;
    width: 30px;
    height: 30px;
    cursor: pointer;
}
.item3 {
    margin: 10px 0px; 
}
.item3 span {
    width: auto;
}

.item:not([disabled]):not([selected]):not([today]):hover span, .item3:not([disabled]):not([selected]):hover span{
    background-color: $field-hover-color;
}

.item3 {
    width: 33.3%;
    display: inline-block;
}

.item[state='notcur'], .item[disabled],
.item3[state='notcur'], .item3[disabled] {
    color: $field-disabled-color;
}

.item[selected] span, .item3[selected] span{
    background-color: $field-selected-color;
    color: #fff;
}
