$u-calendar_item_width: 32px;
$u-calendar_item_height: 30px;

.root{
	width: 238px;
	padding: 4px;
	text-align: center;
	background: #fff;
	color: #555;
	border: 1px solid #d2d6de;
	border-radius: 4px;
	box-sizing: content-box;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

	.item {
	    width: 32px;
	    height: 30px;
	    line-height: 30px;
	    margin: 1px;
	    border-radius: 3px;
	    cursor: pointer;
	    display: inline-block;
	}

	.item:hover {
	    background: #f4f4f4;
	    color: #2cb78e;
    	border-color: #2cb78e;
	}

	.item[sel=sel] {
	    background: #2cb78e;
	    color: #fff;
	}

	.item[role=muted] {
	    color: #999;
	}

	.item[disabled] {
	    background: 0 0;
	    color: #999;
	    cursor: not-allowed;
	}

	.head {
	    line-height: 32px;
	    *zoom: 1;
		&:before, &:after{
			display:table;
			content:"";
			line-height:0;
		}
		&:after{
			clear: both;
		}
	    .calendar_prev {
	        float: left;
	    }

	    .calendar_next {
	        float: right;
	    }
	    .icon{
	    	width: 1em;
	    }
	}

	.body {
		clear: both;
	    .week {
	    	.item {
	    		background: 0 0;
	    		cursor: default;
	    		font-weight: 700;
	    	}
	    }
	}
}
.root[disabled]{
	.item {
	    background: #fff;
	    color: #999;
	    cursor: not-allowed;
	}

	.item[sel=sel] {
	    background: #eee;
	    color: #999;
	}
}
