.root{
    width: 238px;
    padding: 4px;
    background: $field-background;
    color: $field-color;
    border: 1px solid #d2d6de;
    border-radius: 4px;
    user-select: none;
    display: inline-block;
}
