@extend;

.root {
    color: var(--sidebar-item-color);
    background: var(--sidebar-item-background);
    transition: all var(--transition-duration);
}

.root[selected] {
    border-right: 4px solid var(--brand-primary);
}

.root[selected][disabled] {
    border-right: none;
}
