@extend;

.root {
    display: block;
    cursor: pointer;
    height: 54px;
    line-height: 54px;
    padding-left: 30px;
    color: $sidebar-item-default-color;
    background: $sidebar-item-default-background;
    transition: all $transition-duration;
}

.root:hover {
    color: $sidebar-item-hover-color;
}

.root[selected] {
    color: $sidebar-item-selected-color;
    background: $sidebar-item-selected-background;
    border-right: 4px solid $brand-primary;
}

.root[disabled] {
    cursor: $cursor-not-allowed;
    background: $sidebar-background-color;
    color: $sidebar-item-disabled-color;
}

.root[selected][disabled] {
    background: $sidebar-background-color;
    border-right: none;
}
