<u-chart :class="$style.root" :title="title" :border="border" :width="width" :height="height" :legend="legend" :series="series" :data="currentData" :title-align="titleAlign" :loading="loading" :content-style="contentStyle">
    <template v-if="title || $slots.titleTemplate" slot="titleTemplate">
        <slot name="titleTemplate">
            {{title}}
        </slot>
    </template>
    <template slot="captionTemplate"  v-if="caption || $slots.captionTemplate">
        <slot name="captionTemplate">
            {{caption}}
        </slot>
    </template>
    <template slot="legendTemplate" slot-scope="scope">
        <slot name="legendTemplate" :sery="scope.sery" :index="scope.index">
            {{scope.sery.name || scope.sery.key}}
        </slot>
    </template>
    <template slot="legendSuffix">
        <slot name="legendSuffix"></slot>
    </template>
    <div :class="$style.wrap">
        <div :class="$style.grid" v-if="grid">
            <!--暂时去掉-->
            <!-- <div v-for="(xLablel, index) in xAxis_.data" :class="$style.line" role="y" :style="{left: 100*index/(xAxis_.data.length - 1)+'%'}"></div> -->
            <div v-for="(yLabel, index) in yAxis_.data" :class="$style.line" role='x' :style="{bottom: 100*index/(yAxis_.data.length - 1)+'%'}"></div>
        </div>
        <div :class="$style.axis" role="axisx">
            <div v-for="(xLabel, index) in xAxis_.data" :class="$style.label" role="labelx" title="xLabel" :style="{left: 100*index/(xAxis_.data.length - 1)+'%', width: 100/xAxis_.data.length+'%'}">
                <slot name="xLabelTemplate" :item="xLabel" :data="xAxis_.data" :index="index">{{xLabel}}</slot>
            </div>
            <div :class="$style.label" role="label-xName">{{xAxis.name}}</div>
        </div>
        <div :class="$style.axis" role="axisy">
            <div v-for="(yLabel,index) in yAxis_.data" :class="$style.label" role="labely" title="yLabel" :style="{bottom: 100*index/(yAxis_.data.length - 1)+'%'}">{{format(yLabel)}}</div>
            <div :class="$style.label" role="label-yName">{{yAxis.name}}</div>
        </div>
        <div :class="$style.layer" role="layersvg" v-if="!scatter">
            <svg :class="$style.elsvg" v-for="(sery, index) in series" v-show="!sery.hidden && !sery.absent && !hideLine.includes(index)">
                <path v-if="fill" :class="$style.area" :d="getD(sery, 'area')"/>
                <path :class="$style.line" :d="getD(sery)" />
            </svg>
        </div>
        <div :class="$style.layer" ref="layer" @mouseenter="isChartLeave = false" @mouseleave="isChartLeave = true">
            <!-- 此处point 需要用v-show替换v-if解决tooltip特殊情况异常问题 -->
            <div v-for="(item,index) in currentData" :hover="currentIndex === index" v-show="!item.hidden" :class="$style.piece" :scatter="scatter" :style="{left: 100*index/(currentData.length - 1)+'%', width: 100/(currentData.length - 1)+'%'}" @mouseenter="onMouseenter(index)" @mouseleave="onMouseleave">
                <div v-for="(sery, sindex) in series" @click="pointClick(item, sindex)" v-show="item[sery.key] !== undefined && !sery.hidden && !hideLine.includes(sindex)" :special="item.special && item.special[sery.key]" ref="point" :class="$style.point" :scatter="scatter" :style="{bottom: 100*(item[sery.key] - yAxis_.min)/(yAxis_.max - yAxis_.min)+'%', borderColor: item.special && item.special[sery.key] && item.special[sery.key].color, background: item.special && item.special[sery.key] && item.special[sery.key].color}"></div>
            </div>
        </div>
    </div>
    <div :class="$style.operate" slot="operate">
        <slot></slot>
    </div>
    <u-tooltip ref="tooltip" :opened.sync="tooltipOpened" trigger="manual" :trigger-element="getTriggerEl" :reference="tooltipReference" :placement="tooltipPlacement" :boundaries-element="$el" @mouseleave.native="onMouseleave">
        <div>
            <slot name="tooltip" :item="currentItem" :index="currentIndex">
                <div v-for="sery in series">{{ sery.name || sery.field || sery.key }}: {{ format(currentItem[sery.field || sery.key]) }}{{yAxis.unit}}</div>
            </slot>
        </div>
    </u-tooltip>
</u-chart>
