@extend;

.root {
    border-radius: $border-radius-base;
}

.root:hover {
    background: #ebebeb;
    color: #333;
    border-color: #cdcdcd;
}

.root[disabled] {
    background: #cbcbcb;
    color: white;
    border: none;
}

.root[color="primary"]:hover {
    background: #3dcca1;
    color: white;
}

.root[color="primary"][disabled] {
    background: #cbcbcb;
}
