@extend;

.root[with-text] {
    width: 54px;
}

.root[with-text][checked] .button {
    left: calc(54px - var(--switch-button-size) - 2px);
}

.root[with-text] .text::before {
    content: 'OFF';
}

.root[with-text][checked] .text::before {
    content: 'ON';
}
