.root {
    display: inline-block;
    position: relative;
    line-height: var(--switch-height);
    height: var(--switch-height);
    vertical-align: middle;
    user-select: none;
    cursor: var(--cursor-pointer);
    width: var(--switch-width);
    border-radius: var(--switch-border-radius);
    background: var(--switch-background);
    color: var(--switch-color);
    transition: var(--switch-transition);
}

.root:focus {
    outline: var(--focus-outline);
}

.button {
    position: absolute;
    left: var(--switch-button-space);
    top: calc((var(--switch-height) - var(--switch-button-size)) / 2);
    border-radius: var(--switch-button-radius);
    width: var(--switch-button-size);
    height: var(--switch-button-size);
    background: var(--switch-button-background);
    transition: var(--switch-button-transition);
}

.text {
    display: block;
    text-align: right;
    margin: var(--switch-text-margin);
}

.root[checked] {
    background: var(--switch-background-checked);
}

.root[checked] .button {
    left: calc(var(--switch-width) - var(--switch-button-size) - var(--switch-button-space));
}

.root[checked] .text {
    text-align: left;
}

.root[width="wide"] {
    width: var(--switch-width-wide);
}

.root[width="wide"][checked] .button {
    left: calc(var(--switch-width-wide) - var(--switch-button-size) - var(--switch-button-space));
}

.root[disabled] {
    cursor: var(--cursor-not-allowed);
    background: var(--switch-background-disabled);
}

.root[with-text] {
    width: 54px;
}

.root[with-text][checked] .button {
    left: calc(54px - var(--switch-button-size) - 2px);
}

.root[with-text] .text::before {
    content: 'OFF';
}

.root[with-text][checked] .text::before {
    content: 'ON';
}
