@extend;

.head {
    border-bottom: 1px solid var(--subtabs-border-color);
}

.item {
    padding: 0 24px;
}

.item:hover {
    background: #f6f7f9;
}

.item[selected] {
    background: white;
    color: var(--brand-primary);
    border-color: var(--subtabs-border-color);
    border-radius: 5px 5px 0 0;
}

.item[disabled] {
    background: white;
}

.body {
    margin-top: 20px;
}
