<div :class="$style.root" :disabled="disabled">
    <div :class="$style.head">
        <div :class="$style.year">
            <span :class="$style.textYear">{{showYear}}{{ $t('year') }}</span>
            <m-popper trigger="click" :opened.sync="yearvisible" appendTo="reference">
                <div :class="$style.yearList" @click.stop >
                    <u-list-view :class="$style.yearListInner" ref="yearList" :value="showYear" @select="yearSelect($event.value)">
                        <u-list-view-item :class="$style.yearitem" v-for="(year, index) in yearCol" :key="index" :value="year.value" :disabled="year.disabled">{{year.value}}{{ $t('year') }}</u-list-view-item>
                    </u-list-view>
                </div>
            </m-popper>
        </div>
        <div :class="$style.month">
            <span :class="$style.textMonth">{{monthTextList[showMonth - 1]}}{{ $t('month') }}</span>
            <m-popper trigger="click" placement="bottom-end" :opened.sync="monthvisible" appendTo="reference">
                <ul :class="$style.monthList">
                    <li :class="$style.listitem" v-for="(month, mindex) in monthCol" :role="month.value === showMonth" :disabled="month.disabled" @click.stop="monthSelect(month, mindex)">{{monthTextList[month.value - 1]}}</li>
                </ul>
            </m-popper>
        </div>
    </div>
    <div :class="$style.content">
        <div :class="$style.week"><span :class="$style.dayitem" role="week">{{ $t('Sunday') }}</span><span :class="$style.dayitem">{{ $t('Monday') }}</span><span :class="$style.dayitem">{{ $t('Tuesday') }}</span><span :class="$style.dayitem">{{ $t('Wednesday') }}</span><span :class="$style.dayitem">{{ $t('Thursday') }}</span><span :class="$style.dayitem">{{ $t('Friday') }}</span><span :class="$style.dayitem" role="week">{{ $t('Saturday') }}</span></div>
        <div :class="$style.day"><span v-for="day in days_" :class="$style.item" :sel="showDate.toDateString() === day.toDateString() ? 'sel' : ''" :disabled="!!isOutOfRange(day)" :role="showDate.getMonth() !== day.getMonth() ? 'muted': ''" @click.stop="select(day)">{{day | format('DD')}}</span></div>
        <slot></slot>
    </div>
</div>
