@import 'proto-ui.vusion/src/u-slider.vue/module.css';

.root {
    vertical-align: 2px;
}

.body {
    height: 24px;
    padding: 9px 0;
}

.track {
    height: 6px;
    background: #e6e6e6;
}

.handle {
    margin-left: -7px;
    width: 14px;
    height: 24px;
    border-radius: 2px;
}

.handle:before {
    content: '';
    position: absolute;
    width: 2px;
    height: 12px;
    background-color: #e6e6e6;
    top: 5px;
    left: 3px;
}

.handle:after {
    content: '';
    position: absolute;
    width: 2px;
    height: 12px;
    background-color: #e6e6e6;
    top: 5px;
    right: 3px;
}
