.slider{
    position: relative;
    height: 6px;
    padding: 9px 0;
    box-sizing: content-box;
}
.track {
    height: 100%;
    background: #f4f4f4;
}
.trail {
    float: left;
    height: 100%;
    background: $brand-primary;
}
.handle {
    box-sizing: border-box;
    position: absolute;
    left: 0;
    top: 0;
    margin-left: -7px;
    width: 14px;
    height: 24px;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 2px;
}
