@import 'proto-ui.vusion/src/base/revusion.css';

body {
    font: 14px/1.6 "Helvetica Neue", Helvetica, Tahoma, Arial, "Microsoft YaHei", "PingFang SC", "Hiragino Sans GB", "WenQuanYi Micro Hei", sans-serif;
}

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-track {
    background: none;
}

::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background: rgba(92, 110, 130, 0.6);
}

::-webkit-scrollbar-button,
::-webkit-scrollbar-corner {
    display: none;
}

input::-ms-clear,input::-ms-reveal{display:none;}
