/* @import 'proto-ui.vusion/src/base/base.css'; */

body {
    font: 14px/1.6 "Helvetica Neue", Helvetica, Tahoma, Arial, "Microsoft YaHei", "PingFang SC", "Hiragino Sans GB", "WenQuanYi Micro Hei", sans-serif;
}

ul, ol {
    list-style: none;
    padding-left: 0;
}

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-track {
    background: none;
}

::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background: rgba(92, 110, 130, 0.6);
}

::-webkit-scrollbar-button,
::-webkit-scrollbar-corner {
    display: none;
}

input::-ms-clear, input::-ms-reveal {
    display: none;
}
