@import 'proto-ui.vusion/src/base/global.css';

$hover-color: #f4f4f4;
$sidebar-background-color: #f0f6fa;

/* Brand Colors */
$brand-primary: #67aaf5;
$brand-secondary: #e1e8ed;
$brand-success: #3ad0af;
$brand-warning: #ffa136;
$brand-error: #ff8a7a;
$brand-disabled: #e9f0f5;

/* Product Colors */
$product-nms: #30c5db;
$product-nms-light: #1ba9bf;
$product-ncv: #67aaf5;
$product-ncv-light: #5a95d7;
$product-nce: #86bbe7;
$product-nce-light: #76a4cb;
$product-nse: #87cee8;
$product-nse-light: #77b5cc;
$product-nlb: #67c5f5;
$product-nlb-light: #5cb1db;
$product-rep: #4ec9ab;
$product-rep-light: #45b095;
$product-rds: #94cd4e;
$product-rds-light: #81b344;
$product-ncr: #9e9cf6;
$product-ncr-light: #8c8adb;
$product-nos: #89aaf7;
$product-nos-light: #7b99de;
$product-cdn: #8ad199;
$product-cdn-light: #79b886;
$product-net: #61dac6;
$product-net-light: #61dac6;
$product-mongo: #96dce6;
$product-mongo-light: #84c1ca;
$product-nqs: #86d651;
$product-nqs-light: #78c049;
$product-snat: #c69cf6;
$product-snat-light: #b28cdd;

/* Field Colors */
$field-background: white;
$field-color: #666;
$field-border-color: #cbd5dd;
$field-disabled-color: #bbb;
$field-selected-color: $brand-primary;

/* Component Base Dimensions */
$height-base: 34px;
$border-radius-base: 2px;

/* Spacing Dimensions */
$margin-base: 20px;

/* Font Dimensions */
$font-size-base: 14px;

/* Animation Durations */
$transition-duration: 0.2s;

/* theme default and segreen Chart Colors */
$theme-chart-color1: rgb(91, 161, 242);
$theme-chart-rgba-color1: rgba(91, 161, 242,0.6);

$theme-chart-color2: rgb(78, 201, 171);
$theme-chart-rgba-color2: rgba(78, 201, 171,0.6);

$theme-chart-color3: rgb(255, 174, 60);
$theme-chart-rgba-color3: rgba(255, 174, 60,0.6);

$theme-chart-color4: rgb(158, 156, 246);
$theme-chart-rgba-color4: rgba(158, 156, 246,0.6);

$theme-chart-color5: rgb(30, 192, 216);
$theme-chart-rgba-color5: rgba(30, 192, 216,0.6);

$theme-chart-color6: rgb(237, 139, 204);
$theme-chart-rgba-color6: rgba(237, 139, 204,0.6);

$theme-chart-color7: rgb(138, 209, 153);
$theme-chart-rgba-color7: rgba(138, 209, 153,0.6);

$theme-chart-color8: rgb(103, 197, 245);
$theme-chart-rgba-color8: rgba(103, 197, 245,0.6);

$theme-chart-color9: rgb(138, 205, 78);
$theme-chart-rgba-color9: rgba(138, 205, 78,0.6);

$theme-chart-color10: rgb(245, 131, 122);
$theme-chart-rgba-color10: rgba(245, 131, 122,0.6);

$theme-chart-color11: rgb(198,156,246);
$theme-chart-rgba-color11: rgba(198,156,246,0.6);

$theme-chart-color12: rgb(137,170,247);
$theme-chart-rgba-color12: rgba(137,170,247,0.6);

$theme-chart-color13: rgb(251,155,108);
$theme-chart-rgba-color13: rgba(251,155,108,0.6);

$theme-chart-color14: rgb(103,170,245);
$theme-chart-rgba-color14: rgba(103,170,245,0.6);

$theme-chart-color15: rgb(134,187,231);
$theme-chart-rgba-color15: rgba(134,187,231,0.6);

$theme-chart-color16: rgb(245,196,80);
$theme-chart-rgba-color16: rgba(245,196,80,0.6);

$theme-chart-color17: rgb(135,206,232);
$theme-chart-rgba-color17: rgba(135,206,232,0.6);

$theme-chart-color18: rgb(239,216,22);
$theme-chart-rgba-color18: rgba(239,216,22,0.6);

$theme-chart-color19: rgb(92,208,133);
$theme-chart-rgba-color19: rgba(92,208,133,0.6);

$theme-chart-color20: rgb(241,126,248);
$theme-chart-rgba-color20: rgba(241,126,248,0.6);

/* theme Chart Colors */
$theme-dark-chart-color1: rgb(103,170,245);
$theme-dark-chart-rgba-color1: rgba(103,170,245,0.1);

$theme-dark-chart-color2: rgb(255,174,60);
$theme-dark-chart-rgba-color2: rgba(255,174,60,0.1);

$theme-dark-chart-color3: rgb(78,201,171);
$theme-dark-chart-rgba-color3: rgba(78,201,171,0.1);

$theme-dark-chart-color4: rgb(245,131,122);
$theme-dark-chart-rgba-color4: rgba(245,131,122,0.1);

$theme-dark-chart-color5: rgb(158,156,246);
$theme-dark-chart-rgba-color5: rgba(158,156,246,0.1);

$theme-dark-chart-color6: rgb(30,192,216);
$theme-dark-chart-rgba-color6: rgba(30,192,216,0.1);

$theme-dark-chart-color7: rgb(138,205,78);
$theme-dark-chart-rgba-color7: rgba(138,205,78,0.1);

$theme-dark-chart-color8: rgb(237,139,204);
$theme-dark-chart-rgba-color8: rgba(237,139,204,0.1);

$theme-dark-chart-color9: rgb(135,206,232);
$theme-dark-chart-rgba-color9: rgba(135,206,232,0.1);

$theme-dark-chart-color10: rgb(97,218,198);
$theme-dark-chart-rgba-color10: rgba(97,218,198,0.1);