.root {
    color: var(--status-icon-color);
}

.icon::before {
    vertical-align: middle;
    margin-right: var(--status-icon-margin-right);
}

.icon[name="success"]::before {
    icon-font: url("./icons/success.svg");
    color: #3ad0af;
}
.icon[name="waiting"]::before {
    icon-font: url("./icons/waiting.svg");
    color: #a2b0b7;
}
.icon[name="paused"]::before, .icon[name="pause"]::before {
    icon-font: url("./icons/pause.svg");
    color: #ff867f;
}
.icon[name="warning"]::before {
    icon-font: url("./icons/warning.svg");
    color: #fbcc3e;
}
.icon[name="error"]::before {
    icon-font: url("./icons/error.svg");
    color: #ff867f;
}
.icon[name="mounted"]::before, .icon[name="mount"]::before {
    icon-font: url("./icons/mount.svg");
    color: #3ad0af;
}
.icon[name="end"]::before {
    icon-font: url("./icons/end.svg");
    color: #a2b0b7;
}
.icon[name="expired"]::before, .icon[name="expire"]::before {
    icon-font: url("./icons/expire.svg");
    color: #a2b0b7;
}
.icon[name="disabled"]::before {
    icon-font: url("./icons/disabled.svg");
    color: #ff867f;
}
.icon[name="enabled"]::before {
    icon-font: url("./icons/enabled.svg");
    color: #3ad0af;
}
.icon[name="move"]::before {
    icon-font: url("./icons/list_move.svg");
    color: #fbcc3e;
}
.icon[name="unused"]::before {
    color: #a2b0b7;
    icon-font: url("./icons/nec-unused.svg");
}
.icon[name="unpaid"]::before {
    color: #fea237;
    icon-font: url("./icons/unpaid.svg");
}
.icon[name="start"]::before {
    color: #45dbba;
    icon-font: url("./icons/list-start.svg");
}
.icon[name="no_response"]::before {
    color: #ff867f;
    icon-font: url("./icons/list_no_response.svg");
}
.icon[name="lock"]::before {
    color: #45dbba;
    icon-font: url("./icons/lock.svg");
}
.icon[name="secret_public"]::before {
    color: #ff867f;
    icon-font: url("./icons/secret_public.svg");
}
