.root {
	background-color: #fff;
}
.wrapper {
	width: 250px;
	height: 210px;
}
.scroll  {
	display: inline-block;
	width: 33.3%;
}
.scroll + .scroll {
	border-left: 1px solid $field-border-color;
}
.scroll ul {
	padding-bottom: 180px;
}
.scroll li {
	line-height: 2.2;
	padding-left: 10px;
	cursor: pointer;
}
.scroll li:not([disabled]):hover {
	background-color: $field-focus-color;
}
.scroll li[disabled] {
	color: $field-disabled-color;
	cursor: not-allowed;
}
.scroll li[selected] {
	background-color: $hover-color;
}

.operation {
	border-top: 1px solid #ebeef5;
	line-height: 2.6;
	padding: 0 10px;
}
.confirm {
	float: right;
}
