.root {
    position: relative;
}

.root::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 1px;
    left: 0;
    bottom: 0;
    z-index: 1;
    background-color: #ebf0f5;
}

.root[border]::after {
    position: absolute;
    content: '';
    width: 1px;
    height: 100%;
    right: 0;
    top: 0;
    z-index: 1;
    background-color: #ebf0f5;
}

.table {
    table-layout: fixed;
    width: 100%;
    max-width: 100%;
}
/* thead 默认有高度 占据空间 需要特殊处理 */
.table[role="body"] {
    margin-top: -3px;
}
.wrapBody[height] {
    overflow-y: auto;
}

.htrItem {
    background-color: #f5f7fa;
    background-clip: padding-box;
    border-bottom: 1px solid #ebf0f5;
}

.htrItem[color='light'] {
    background: white;
}

.hthItem {
    position: relative;
    vertical-align: middle;
    box-sizing: border-box;
    padding: 13px 0 13px 10px;
    line-height: 20px;
    text-align: left;
    font-weight: 400;
    min-width: 36px;
}

.hthItem[border] {
    border-left: 1px solid #ebf0f5;
    /* border-right: 1px solid #ebf0f5; */
}

.hthItem::after {
    content: ' |';
    position: absolute;
    right: 0;
    top: 13px;
}

.hthItem[move]::after {
    content: '';
}

.hthItem:last-child::after {
    content: '';
}

.hthItem[role] {
    cursor: pointer;
}

.hthItem[role]:hover {
    background: #eef2f8;
}

.itemTitle {
    width: 100%;
    height: 20px;
    line-height: 20px;
}

.titleText {
    display: inline-block;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.titleText[icon] {
    max-width: calc(100% - 28px);
}

.carve {
    width: 20px;
    cursor: url('../../assets/images/move_icon.png'), w-resize;
    height: 46px;
    line-height: 46px;
    text-align: center;
    z-index: 20;
    position: absolute;
    top: 0;
    right: 0;
}

.btd {
    position: relative;
    vertical-align: middle;
    box-sizing: border-box;
    padding: 13px 0 13px 10px;
    line-height: 20px;
    width: auto;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #999;
}
.btd[role="center"] {
    text-align: center;
}
.btd[border] {
    border-left: 1px solid #ebf0f5;
}

/* 单元格具体样式 role是设置溢出样式 */
.bSpan {
    box-sizing: border-box;
    white-space: normal;
    word-break: break-all;
    line-height: 24px;
}

.bSpan[role] {
    display: block;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.hide {
    visibility: hidden;
}

/* 控制表格 border 样式 */
.btrItem {
    border-top: 1px solid #ebf0f5;
}

.btrItem:first-child {
    border-top: none;
}

/* .btrItem:last-child {
    border-bottom: 1px solid #ebf0f5;
} */

.sortText {
    max-width: calc(100% - 28px);
}
/* 排序图标样式 */
.wrapicon {
    display: inline-block;
    height: 20px;
    margin-left: 4px;
    margin-top: -20px;
    vertical-align: middle;
    cursor: pointer;
    position: relative;
}

.icon::before {
    font-size: 14px !important;
    color: #d3d8e0;
}

.icon[role]::before {
    color: #67aaf5;
}

.filterText {
    max-width: calc(100% - 28px);
}
.filtertitle {
    position: absolute;
    left: 10px;
    top: 0;
    height: 46px;
    line-height: 46px;
    width: 100%;
}
/* filter样式 */
.option {
    width: 100%;
    padding: 3px 14px;
    box-sizing: border-box;
    line-height: 24px;
    cursor: pointer;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.option:hover {
    background: #f4f4f4;
    color: #444;
}

.option[role] {
    background: $brand-primary;
    color: white;
}

.traingle {
    display: inline-block;
    border: 5px solid transparent;
    border-top-color: #9dabc2;
    position: relative;
    left: 5px;
    top: -14px;
}
.popper {
    width: 100%;
    z-index: 1065;
    background: white;
    border: 1px solid #f1f1f1;
    margin-left: -10px;
    /* margin-top: 8px; */
}

.iconTooltip {
    color: #bfc6ce;
    display: inline-block;
    width: 14px;
    height: 14px;
    vertical-align: top;
    margin-left: 4px;
}

.iconTooltip::before {
    font-size: 14px;
}
.iconTooltip[name="help"]::before {
    icon-font: url('../u-icon.vue/icons/help.svg');
}
/* type 为expand的样式 */
.expand {
    display: inline-block;
    width: 14px;
    height: 14px;
    cursor: pointer;
}

.expand[name="right"]::after {
    icon-font: url("../u-icon.vue/icons/keyboard-arrow-right.svg");
    line-height: 24px;
    vertical-align: -2px;
}

.expand[name="down"]::after {
    icon-font: url("../u-icon.vue/icons/keyboard-arrow-down.svg");
    line-height: 24px;
    vertical-align: -2px;
}

.expand[role="up-down"][name="right"]::after {
    icon-font: url("../u-icon.vue/icons/angle-down.svg");
    line-height: 24px;
    vertical-align: -2px;
}

.expand[role="up-down"][name="down"]::after {
    icon-font: url("../u-icon.vue/icons/angle-up.svg");
    line-height: 24px;
    vertical-align: -2px;
}

/* 加载状态样式 */
.loadText {
    margin-left: 5px;
}

.btrItem:hover .btd::before {
    content: "";
    width: 100%;
    height: 6px;
    position: absolute;
    top: -6px;
    left: 0;
    background: url("../../assets/images/shadow-up.png") repeat-x;
    z-index: 100;
}

.btrItem:hover .btd::after {
    content: "";
    width: 100%;
    height: 6px;
    position: absolute;
    bottom: -6px;
    left: 0;
    background: url("../../assets/images/shadow-down.png") repeat-x;
    z-index: 100;
}

.btrItem:last-child:hover .btd[border]::after {
    content: '';
    width: 0;
    height: 0;
    background: none;
}

.bSpan[role]:lang(en) {
    word-break: break-word;
    white-space: normal;
}
