.root {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: var(--z-index-modal);
    -webkit-overflow-scrolling: touch;
    touch-action: cross-slide-y pinch-zoom double-tap-zoom;
    overflow: hidden;
    overflow-y: auto;
    background: var(--drawer-wrap-background);
}

.root::before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}

.root:focus {
    outline: var(--focus-outline);
}

.drawer {
    float: left;
    width: var(--drawer-width);
    height: 100%;
    background: var(--drawer-background);
}

.root[placement="right"] .drawer {
    float: right;
}

.drawer[size="small"] {
    width: var(--drawer-width-small);
}

.drawer[size="large"] {
    width: var(--drawer-width-large);
}

.drawer[size="auto"] {
    width: auto;
}

.head {
    position: relative;
    padding: var(--drawer-head-padding);
    border-bottom: 1px solid var(--gray-lightest);
}

.title {
    margin: 0;
    font-size: var(--font-size-base);
}

.close {
    position: absolute;
    right: var(--drawer-close-size);
    top: var(--drawer-close-size);
    color: var(--drawer-close-color);
}

.close::before {
    content: '×';
    font-size: var(--font-size-huge);
    line-height: 0.8;
}

.close:hover {
    color: var(--drawer-close-color-hover);
}

.body {
    padding: var(--drawer-body-padding);
}

.foot {
    text-align: center;
    padding: var(--drawer-foot-padding);
}

.root[static] {
    position: static;
    padding: var(--drawer-static-padding);
}
